$button-size: 56px; // regular button size
$product-button-size: 76px; // product button size
$button-icon-size: 30px;
$color-main: #479f42;
$color-main-negative: white; // a color which looks good and have good contrast on color-main
$color-gray: #e6e6e6;
$font-size-big: 20px;
$font-size-small: 12px;
$font-size-normal: 16px;
$margin-standard: 10px;

$color-red: #9d2a2d;

//
// Trend colors and icons
//
$color-trend-up: #278022;
$icon-trend-up: "./icons/fa-arrow-up_30_0_278022_none.png";
$color-trend-even: #1a605d;
$icon-trend-even: "./icons/fa-arrow-right_30_0_1a605d_none.png";
$color-trend-down: #9e5e2a;
$icon-trend-down: "./icons/fa-arrow-down_30_0_9e5e2a_none.png";
$color-trend-zero: #9d2a2d;
$icon-trend-zero: "./icons/fa-remove_30_0_9d2a2d_none.png";

//
// Product sent
$icon-product-sent: "./icons/fa-check_30_0_479f42_none.png"; 

@import 'touchkit';
@import 'components';
@import 'ProductButton';
@import 'LoginView';
@import 'DailyProductQtyReportView';
@import 'WeeklyDetailedReportingView';
@import 'InfoMessageView';

