<?xml version="1.0" encoding="UTF-8"?>

<!-- Licensed under http://www.apache.org/licenses/LICENSE-2.0 -->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <!-- localRepository
     The path to the local repository maven will use to store artifacts.
       Default: ~/.m2/repository
    -->

    <!-- use a dedicated repo for the java-21-stuff. This path shall work when running within the ubuntu WSL app -->
    <localRepository>/mnt/c/Users/tobia/.m2/new_dawn_uat_java21</localRepository>

<!--    <localRepository>c:/Users/tobia/.m2/new_dawn_uat_java21</localRepository>-->
    
    <profiles>
      
        <profile>
            <id>env-dev</id>
            <properties>
                <metasfresh.version>10.0.0</metasfresh.version>
            </properties>
            <repositories>
                <repository>
                    <id>metasfresh-3rdparty</id>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <url>https://repo.metasfresh.com/repository/mvn-3rdparty-all/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <!-- our main repo is also our plugin repo; also see https://maven.apache.org/pom.html#Plugin_Repositories -->
                <!-- see https://github.com/metasfresh/metasfresh-parent/issues/3 -->
                <pluginRepository>
                    <id>metasfresh-repo</id>
                    <name>metasfresh maven repository (master branch)</name>
                    <url>https://repo.metasfresh.com/repository/mvn-master/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>

    </profiles>
    
    <!-- List of profiles that are active for all builds. -->
    <activeProfiles>
        <activeProfile>env-dev</activeProfile>
    </activeProfiles>
    
</settings>
