@import 'bulma/css/bulma.css';

* {
  box-sizing: border-box;
}

body {
  background: #223;
  color: #fff;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Nav */
.nav {
  background: rgba(0, 0, 0, .1);
  padding: 5%;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-link {
  color: #fff;
  margin-left: .5em;
  text-decoration: none;
}

.view {
  height: 100vh;
  padding: calc(15% + 1.5em) 5% 5%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  transition: transform .2s ease-in-out;
}

.view-enter {
  transform: translate(-100%, 0);
}

.view-enter-active {
  transform: translate(0, 0);
}

.view-exit {
  transform: translate(-100%, 0);
}

.view--prev.view-enter {
  transform: translate(100%, 0);
}

.view--prev.view-enter-active {
  transform: translate(0, 0);
}

.view--prev.view-exit {
  transform: translate(100%, 0);
}

.view h1 {
  margin-top: 0;
}