<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/metasfresh-webui-api/src/main/java/de/metas/ui/web/WebRestApiApplication.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.metas.ui.web.WebRestApiApplication"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="metasfresh-webui-api"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="metasfresh-webui-api"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DPropertyFile=${project_loc:metasfresh-dist}/metasfresh.properties&#13;&#10;-Dwebui-api-run-headless=false&#13;&#10;-Dmetasfresh.webui.debug.showColumnNamesForCaption=false&#13;&#10;-Dspring.profiles.active=logstash&#13;&#10;-javaagent:${workspace_loc}/elastic-apm-agent-1.12.0.jar&#13;&#10;-Delastic.apm.service_name=webapi&#13;&#10;-Delastic.apm.server_url=http://localhost:8200&#13;&#10;-Delastic.apm.application_packages=de.metas.*,org.adempiere.*,org.compiere.*&#13;&#10;-Delastic.apm.enable_log_correlation=true"/>
</launchConfiguration>
