@import 'bootstrap/dist/css/bootstrap.min.css';
@import './variables.css';

/**
 *  IMPORTANT NOTE
 *
 * Layers
 * - 0 - default - all static elements like tables or forms
 * - < 100 - elements that are over static content (order list)
 * - 100 - header
 * - 200 - backdrop
 * - 200 < - elements that are over backdrop (header expanded)
 */

* {
    margin:0;
}

body {
    background-color: #F8FAFB;
    color: $brand-font-color;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
*::selection{
    background-color:$brand-color-primary;
    color: #fff;
}

*:focus {
    outline-color: $brand-font-color;
    outline-width:1px;
    outline-offset:0px;
    outline-style: inset;
}

/*
 *  Extension for bootstrap grid
 */
 @media (min-width: 1900px){
    .container {
        max-width: 1824px;
    }
}


.label-faded {
    background-color: $brand-light-color;
}
.label {
    padding: .5em .7em;
    font-weight: 500;
    font-size: 70%;
}

.text-brand {
    font-weight: 700;
    color: $brand-color-primary;
}

.btn-icon {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid $brand-light-color;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    text-decoration: none !important;
    color: $brand-font-color;
}

.btn-square {
    height: 55px;
    width: 55px;
    line-height: 55px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
}

.btn-meta-default {
    color: $brand-color-primary;
    background-color: $brand-bright-color;
    border-color: $brand-bright-color;
}
.btn-meta-default:hover {
    background-color: color(#F8FAFB lightness(90%));
    border-color: color(#F8FAFB lightness(90%));
}

.btn-meta-success{
    color: #fff;
    background-color: #8BD53A;
    border-color: #8BD53A;
}
.btn-meta-success:hover{
    background-color: color(#8BD53A lightness(45%));
    border-color: color(#8BD53A lightness(45%));
}

.btn-meta-primary {
    color: #fff;
    background-color: #7281B4;
    border-color: #7281B4;
}
.btn-meta-primary:hover{
    background-color: color(#7281B4 lightness(45%));
    border-color: color(#7281B4 lightness(45%));
}

.btn-meta-secondary {
    color: #fff;
    background-color: $brand-light-color;
    border-color: $brand-light-color;
}
.btn-meta-secondary:hover{
    background-color: color(#C9D5DC lightness(45%));
    border-color: color(#C9D5DC lightness(45%));
}

.panel {
    display: block;
    width: 100%;
    margin-top: 2rem;
}
.panel-spaced {
    padding: .75rem 1.25rem;
}
.panel-spaced-sm {
    padding: .75rem .5rem;
}
.panel-bordered {
    border: 1px solid;
    border-radius: 3px;
}
.panel-bordered-force {
    overflow:hidden;
}
.panel-primary {
    border-color: #DEE6EC;
    background-color: #FFF;
}

.panel-title {
    margin-bottom: .5rem;
}

.icon-rounded {
    display:inline-block;
    font-style: normal;
    font-weight:100;
    text-align: center;
    border: 1px solid $brand-light-color;
    color: $brand-light-color;
    border-radius: 50%;
    width:17px;
    height:17px;
    line-height: 13px;
    vertical-align: bottom;
    font-size: 10px;
    cursor: pointer;
}

.icon-rounded-space{
    margin-left: 10px;
}


.input-toggled {
    display: block;
    width: 100%;
    margin-right:0;
    margin-left:0;
    padding: .25rem .50rem;
    border: 1px solid $brand-light-color;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    float:left;
}

.input-toggled-icon {
    width:25px;
    float:right;
}

.input-toggled-editable {
    width: 30%;
    float: left;
}
.input-toggled-rest {
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    float:left;
}

.input-block {
    width: 100%;
}

.input-icon-container {
    position: relative;
    display: inline-block;
}

.input-icon-right{
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size:16px;
}

.input-icon-sm {
    font-size:10px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.btn-icon-sm {
    font-size: 12px;
    margin-right:5px;
}

.form-group {
    margin-bottom: 0.65rem;
}

.form-control {
    color: #6E7D87;
    background-color: transparent;
    font-size: 14px;
    padding: .375rem .25rem .1rem;
}

.form-control-meta {
    border-radius:0;
    border-width: 0 0 1px 0;
    font-style: italic;
    border-color: $brand-light-color;
    padding-right: 1.5rem;
}

.form-control-meta:focus {
    border-color: $brand-light-color;
}

.form-control-meta[type="number"]::-webkit-outer-spin-button,
.form-control-meta[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.table {
    margin-bottom: 0;
}
.table *::selection{
    background-color:transparent;
    color:inherit;
}

.table thead th {
    border:0;
    background-color: $brand-color-secondary;
    color: #fff;
}

.table td {
    cursor: pointer;
    border-top:0;
}

.table.table-bordered-horizontally td{
    border-bottom:1px solid #DEE6EC;
}
.table.table-bordered-vertically td{
    border-right:1px solid #DEE6EC;
}

.table-hide-property {
    display: none;
}

.table td, .table th {
    padding: .50rem .75rem;
}

.table td span {
    pointer-events: none;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F2F7FA;
}

.row-selected {
    background-color: #d5e3ec !important;
}

.table-sub-summary-row{
    background-color: #fff !important;
    border-top: 1px solid $brand-color-secondary;
}
.table-total-summary-row{
    background-color: $brand-color-secondary;
    color: #fff;
    text-transform: uppercase;
}
.table-total-summary-row td {
    border:0;
}

.table-footer-header {
    background-color: #bdd0dc;
    color: #fff;
    font-weight: bold;
}

.table-input-inline{
    border:0;
    outline-width: 0;
    width: 60px;
    height: 20px;
    color: $brand-font-color;
}


.input-dropdown {
    position:relative;
}
.input-dropdown:focus {
    outline-width: 0;
}
.input-dropdown .input-dropdown-list {
    display:none;
}
.input-dropdown-focused .input-dropdown-list {
    display:block;
}
.input-dropdown-focused .input-toggled {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.input-dropdown-list {
    position: absolute;
    top:31px;
    width:100%;
    background-color: #fff;
    z-index:5;
    border: 1px solid $brand-light-color;
    max-height: 200px;
    height: auto;
    overflow-y: auto;
}
.input-dropdown-field {
    border: 0;
    width: 100%;
    outline-width:0;
}
.input-dropdown-list-header {
    background-color: $brand-super-light-color;
    padding: .25rem .50rem;
    font-size: .8rem;
}
.input-dropdown-list-option {
    padding: .25rem .50rem;
    border-bottom: 1px solid $brand-light-color;
    cursor:pointer;
}
.input-dropdown-list-option:hover {
    background-color: $brand-super-light-color;
}
.input-dropdown-list-option p {
    margin:0;
}
.input-dropdown-item-title {
    margin-bottom: 6px;
    font-weight: 500;
}
.input-dropdown-item-subtitle {
    font-size: .75rem;
}
.input-dropdown-list-option:last-of-type {
    border-bottom-width: 0;
}

.context-menu {
    position:fixed;
    display:none;
    width: 150px;
    background-color: #fff;
    left:0;
    top:0;
    outline-width:0;
    font-size: .75rem;
    font-weight: normal;
    color: $brand-font-color;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
}
.context-menu-open {
    display: block;
}
.context-menu-item {
    cursor: pointer;
    padding: .5rem .5rem;
}
.context-menu-item:hover{
    background-color: $brand-color-primary;
    color: #fff;
}
.context-menu-item:last-of-type{
    margin:0;
}
.backdrop {
    position: fixed;
    width:100%;
    height:100%;
    z-index: 200;
}

.order-list-panel{
    position: fixed;
    display: none;
    height:100%;
    width: 472px;
    background-color: #fff;
    border-left: 1px solid #dee6ec;
    z-index: 50;
    right:0;
}
.order-list-panel-open {
    display: block;
}

.order-list-panel-header{
    padding-left:10px;
}
.order-list-panel-icon {
    margin: 12px 5px;
}

.order-list-panel-body{
    font-size: 12px;
}
