$brand-color-primary: #9aafbd;
$brand-color-secondary: #9BAFBC;
$brand-light-color: #C9D5DC;
$brand-super-light-color: #f2f7fa;
$brand-font-color: #4d5b65;
$brand-font-color-secondary: #6b7b86;
$brand-bright-color: #F8FAFB;
$brand-success-color: #89d729;
$brand-primary-color: #1d4776;
$brand-danger-color: #f67a89;
$brand-font-color-danger: #e85667;
$brand-danger-light-color: #fdf7f8;
