{
  "presets": [
    ["@babel/preset-env", { "useBuiltIns": "usage", "corejs": 3.16 }], 
    ["@babel/preset-react"]],
  "plugins": [
      "@babel/plugin-syntax-dynamic-import",
      "dynamic-import-node",
      "@babel/plugin-transform-modules-commonjs",
      "@babel/plugin-proposal-object-rest-spread",
      "react-hot-loader/babel"
  ]
}
