{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
      ["@babel/plugin-proposal-class-properties", { "spec": true }],
      "@babel/plugin-syntax-dynamic-import",
      "dynamic-import-node",
      "@babel/plugin-transform-modules-commonjs",
      "@babel/plugin-proposal-object-rest-spread",
      "@babel/plugin-transform-async-to-generator",
      "react-hot-loader/babel"
  ]
}
