{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "airbnb",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "tabWidth": 2,
                "singleQuote": true
            }
        ]
    },
    "plugins": ["prettier", "react"],
    "globals": {
        "localStorage": true,
        "Promise": true,
        "config": true
    }
}
