
**/bin/
**/target/
**/.settings/
*.cache
*.diff
*.project
*.classpath

de.metas.endcustomer.mf15/metasfresh.properties
/de.metas.endcustomer.mf15/de.metas.endcustomer.mf15.swingui/log/
/de.metas.endcustomer.mf15/de.metas.endcustomer.mf15.serverRoot/log/
**/activemq-data/

**/.~lock*
*.jasper
*.log

/de.metas.elasticsearch/data/



