
# Thanks to https://help.github.com/articles/dealing-with-line-endings/#platform-all

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Shell files shall always have linux style line endings
# Without this, I first had to run dos2unix start.sh for a docker entrypoint command.
# Thanks to https://stackoverflow.com/a/41424794/1012103 for the hint
*.sh text eol=lf

# Make sure the system knows that the license file is a text file..
LICENSE.txt text