**/target/
**/.settings/
**/.classpath
**/.project
**/bin/
**/metasfresh.properties

*.launch

metasfresh-webui-api/activemq-data/
metasfresh-webui-api/data/
metasfresh-webui-api/log/
metasfresh-webui-api/tmp/

hs_err*.log

/application.properties

*.diff

