
**/bin/
**/target/
**/.settings/
*.cache
*.diff
*.project
*.classpath

**/metasfresh*.properties
**/swingui/log/
**/serverRoot/log/
**/serverRoot/data/
**/activemq-data/

**/.~lock*
*.jasper
*.log

**/de.metas.elasticsearch/data/




de.metas.migration.scanner.impl.GloballyOrderedScannerDecorator_sorted_scripts.txt
serverRoot/application.properties
certs
private
