<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.debug.core.groups.GroupLaunchConfigurationType">
<stringAttribute key="org.eclipse.debug.core.launchGroup.0.action" value="NONE"/>
<booleanAttribute key="org.eclipse.debug.core.launchGroup.0.adoptIfRunning" value="true"/>
<booleanAttribute key="org.eclipse.debug.core.launchGroup.0.enabled" value="true"/>
<stringAttribute key="org.eclipse.debug.core.launchGroup.0.mode" value="inherit"/>
<stringAttribute key="org.eclipse.debug.core.launchGroup.0.name" value="metasfresh-dist-serverRoot_jrebel"/>
<stringAttribute key="org.eclipse.debug.core.launchGroup.1.action" value="NONE"/>
<booleanAttribute key="org.eclipse.debug.core.launchGroup.1.adoptIfRunning" value="true"/>
<booleanAttribute key="org.eclipse.debug.core.launchGroup.1.enabled" value="true"/>
<stringAttribute key="org.eclipse.debug.core.launchGroup.1.mode" value="inherit"/>
<stringAttribute key="org.eclipse.debug.core.launchGroup.1.name" value="material-dispo-service_jrebel"/>
<stringAttribute key="org.eclipse.debug.core.launchGroup.2.action" value="NONE"/>
<booleanAttribute key="org.eclipse.debug.core.launchGroup.2.adoptIfRunning" value="true"/>
<booleanAttribute key="org.eclipse.debug.core.launchGroup.2.enabled" value="true"/>
<stringAttribute key="org.eclipse.debug.core.launchGroup.2.mode" value="inherit"/>
<stringAttribute key="org.eclipse.debug.core.launchGroup.2.name" value="metasfresh-webui-api_jrebel"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
</launchConfiguration>
