{
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jest/globals": true
    },
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
    ],
    "rules": {
        "react/prop-types": "warn",
        "react/jsx-filename-extension": "off",
        "react/prefer-stateless-function": "off",
        "react/display-name": "warn"
    },
    "plugins": ["react", "jest"],
    "globals": {
        "localStorage": true,
        "Promise": true,
        "config": true,
        "PLUGINS": true,
        "cy": true,
        "context": true,
        "Cypress": true,
        "before": true,
        "after": true,
        "document": true
    },
    "root": true
}
