<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/metasfresh-dist-swingui/src/main/java/de/metas/SwingUIApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.metas.SwingUIApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--debug"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="metasfresh-dist-swingui"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DPropertyFile=${project_loc:metasfresh-dist}/metasfresh.properties&#13;&#10;-DTraceFile=true&#13;&#10;-Dde.metas.adempiere.debug=true&#13;&#10;-Xms256M&#13;&#10;-Xmx1G&#13;&#10;-Dorg.compiere.db.DB_PostgreSQL.UseNativeConverter=true&#13;&#10;-Dde.metas.server.embedded=true&#13;&#10;-Djava.util.Arrays.useLegacyMergeSort=true"/>
</launchConfiguration>
