.order-summary-modal {
  .modal-card-body {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1rem;

    .detail-center {
      flex-grow: 1;

      .detail-line {
        display: flex;
        flex-flow: row nowrap;

        .detail-caption {
          flex-grow: 1;
        }

        .detail-value {
          flex-grow: 0;
          flex-shrink: 0;
          font-weight: bold;
        }
      }
    }

    .detail-right {
      flex-grow: 0;
      flex-shrink: 0;

      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      .loading, .pdf {
        width: 12rem;
        height: 100%;
      }
    }
  }
}
