<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>metas ADempiere Jasper Report</display-name>

	<servlet>
		<servlet-name>ReportServlet</servlet-name>
		<display-name>Jasper Report Servlet</display-name>
		<servlet-class>de.metas.adempiere.report.jasper.servlet.ReportServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>BarcodeServlet</servlet-name>
		<display-name>ZXing Barcode Servlet</display-name>
		<servlet-class>de.metas.adempiere.report.barcode.servlet.BarcodeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
		<servlet>
		<servlet-name>MgtServlet</servlet-name>
		<display-name>adempiereJasper's Management Servlet</display-name>
		<servlet-class>de.metas.adempiere.report.management.servlet.MgtServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	
	<!-- The Servlet Mappings need to fit the Constants in the Class Jasper
	Constants. the Class is Located in the Project adempiereJasper-commons 
	-->
	
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/ReportServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>BarcodeServlet</servlet-name>
		<url-pattern>/BarcodeServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>MgtServlet</servlet-name>
		<url-pattern>/MgtServlet</url-pattern>
	</servlet-mapping>
</web-app>
