.app-container {
  .app-header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;

    padding: 0.50rem;
    box-shadow: rgba(0, 0, 0, 0.133) 0 0.15em 0.35em 0;

    color: $white;
    background: $base-mf-green;

    font-size: 2rem;

    .app-icon {
      text-align: right;

      .icon {
        vertical-align: middle;
      }
    }

    .app-caption {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  @media only screen and (max-width: $small-screen-width) {
    .app-header {
      font-size: 1.5rem;
    }
  }

  .app-content {
    padding-top: 4rem;
    padding-bottom: 6rem;
  }

  .app-footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.133) 0 -0.15em 0.35em 0;
    background: $white;
    font-size: 1.5rem;

    .columns {
      margin: 0;

      .column {
        padding: 0;
      }
    }

    .button {
      font-size: 1.5rem !important;
    }
  }
  @media only screen and (max-width: $small-screen-width) {
    .app-footer {
      font-size: 1rem;

      .button {
        font-size: 1rem !important;
      }
    }
  }

  .app-toaster {
    bottom: 4rem !important;
  }
}
