.applications-list {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex: 1;
    overflow-y: auto;
  }

  @media only screen and (max-height: $small-screen-height) {
    .section {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

}