.scanner-btn-green {
    width: 8em;
    color: white;
    background-color: $base-mf-green;
    font-weight: 400;
}
.scanner-btn-green:hover {
    color: white;
    background-color: $base-mf-green;
}
.scanner-btn-green:focus {
    color: white;
    border-color: $base-mf-green;
}