.confirm-box {
    width:80%;
    .message-body {
        text-align: center;
    }
}
.confirm-button {
    width: 40%;
}
.confirm-btn-green {
    width: 12em;
    color: white;
    background-color: $base-mf-green;
    font-weight: 400;
}
.confirm-btn-green:hover {
    color: white;
    background-color: $base-mf-green;
}
.confirm-btn-green:focus {
    color: white;
    border-color: $base-mf-green;
}

.prompt-dialog-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    background-color: rgba(18, 18, 18, .7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    pointer-events: visible;
}

.complete-btn { 
    width: 100%;
    font-size: 1.5rem;
    border: 1px solid $base-mf-green;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0px $grey-light;
}