.get-qty-dialog {
  table {
    width: 100%;

    tbody {
      tr {
        th {
          min-width: 50vw !important;

          text-align: left !important;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        td {
          text-align: right;
          white-space: pre-wrap;

          input {
            text-align:right
          }
        }
      }
    }
  }
}