.header {
  background: $base-mf-green;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 30;

  .header-title {
    .title {
      color: $white-background
    }
    .subtitle {
    }
  }
}

.header-caption {
  background-color: $header-green-one;
}