.header {
    background: $base-mf-green;
    .header-title {
        .title {
            color: $white-background
            
        }
        .subtitle {
        }
    }
}

.header-caption {
    margin-bottom: 1rem;
}