@import './variables.scss';

.login-view {

  .section {
    padding-top: 0;
    padding-bottom: 0;
  }

  .button {
    width: 100%;
    background-color: $base-mf-green;
    color: white;

    &[disabled] {
      background-color: $base-mf-green;
      border-color: transparent;
      box-shadow: none;
    }
  }

  .alternative-button {
    width: 100%;
    background-color: white;
    color: $base-mf-green;
    border-color: $base-mf-green;
    font-size: 1.25rem;
    margin-top: 0.5rem;
  }

  .qr-code-auth {
    padding-top: 0;
    padding-bottom: 0;

    .barcode-scanner video {
      max-height: 50vh;
    }
  }
}
