.picking-row-info {
  width: 100%;
}

.picking-to-pick {
  padding-top: 5px;
  text-align: right;
  float: left;
  width: 25%;
}

.picking-row-qty {
  float: left;
  width: 25%;
  font-size: 1.5em;
}

.picking-row-picking {
  padding-top: 5px;
  text-align: right;
  float: left;
  width: 25%;
}

.picking-row-picked {
  float: left;
  width: 25%;
  font-size: 1.5em;
}
