.prompt-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(18, 18, 18, .7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  pointer-events: visible;

  .message {
    width: 90%;

    .message-body {
      border-width: 0 !important;
      padding-left: 0.5em;
      padding-right: 0.5em;
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: center;

      .buttons {
        padding-top: 10px;
        display: flex;
        flex-wrap: nowrap;

        .button {
          flex: 50%;
        }
      }
    }
  }
}
