//
// Responsive
//
$small-screen-width: 360px;
$small-screen-height: 500px;

//
// Colors
//

$base-mf-green: #74b727;

//
// Customize Bulma:
// see https://bulma.io/documentation/overview/colors/
$green: $base-mf-green;
$red: #cc0f35;
$grey-light: #b5b5b5;
$grey-lighter: #e6e6e6;

//
// Others
$indicator-red: $red;
$indicator-red-border: #C42C3B;
$indicator-green: $green;
$indicator-green-border: #4b830d;
$indicator-yellow: #ffd500;
$indicator-yellow-border: #ffea00;


