$base-color: #000000;
$base-elements: #479F42;
$base-mf-green: #72b62c;

$header-green-one: #8ec456;

$danger-red: hsl(348, 86%, 43%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 90%);
$product-input: #43423d;
$custom-dk-green: #4b830d;
$arrow-down: #9E5E2A;
$arrow-right: #1A605D;
$disabled: #9D2A2D;
$white-background: #ffffff;
$yellow-background: #FAFFBD;
$base-border: $grey-light;