.view-header {
  width: 100%;

  tbody {
    tr {
      th {
        white-space: normal;
        max-width: 40vw !important;
        font-size: 1.5rem;
      }

      td {
        text-align: right;
        white-space: normal;
        font-size: 1.5rem;
      }
    }
  }
}
