.view-header {
  width: 100%;

  tbody {
    font-size: 1.5rem;
    white-space: normal;

    tr {
      th {
        max-width: 40vw !important;
      }

      td {
        text-align: right;
      }
    }
  }

  @media only screen and (max-width: $small-screen-width) {
    tbody {
      font-size: 1rem;
    }
  }
}
