
What is it?

  This project defines a parent pom to be used by our maven projects.
  
  That way, common settings are defined at one place:
  *Source encoding
  *SCM-locations
  *Repository locations
  *Reporting plugins
  
How to use it

  Include the following snippet in your pom.xml:
  
-------------------------------------------------------------------
 	<parent>
		<artifactId>metas-parent-default</artifactId>
		<groupId>de.metas</groupId>
		<version>${project.version}</version>
	</parent>
-------------------------------------------------------------------
