.pos-input-panel-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; // main axis (x)
  align-items: center; // cross axis (y)

  .pos-input-panel {
    background-color: white;
    border: 1px solid #d8dadd;
    border-radius: 4px;
    font-size: 2rem;

    .pos-input-panel-header {
      font-weight: bold;
      border-bottom: 1px solid #d8dadd;
      padding: 15px;
    }

    .pos-input-panel-content {
      padding: 15px;
      font-size: 2rem;
      .line {
        .caption {

        }

        .field {
          input {
            font-size: 2rem;
            width: 100%;
            height: 100%;
          }
          textarea {
            font-size: 2rem;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .pos-input-panel-bottom {
      border-top: 1px solid #d8dadd;
      padding: 15px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center; // main axis (x)
      align-items: center; // cross axis (y)
      column-gap: 10px;

      button {
        font-size: 2rem;
        padding: 10px 20px;
      }

    }
  }
}
