# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ignore lock files from npm
package-lock.json
# *.lock # yarn.lock shouldn't be excluded https://classic.yarnpkg.com/en/docs/migrating-from-npm

config.js*
src/.env
.env
