.product-categories {
  padding: 0.5rem;
  flex-grow: 0;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  column-gap: 0.2rem;
  row-gap: 0.2rem;

  overflow-y: auto;
  
  .product-category-button {
    outline: none;
    border: 0;
    border-radius: 0.2rem;
    background-color: #ffffff;
    font-size: 1.5rem;
    height: 7rem;
    cursor: pointer;

    display: flex;
    flex-flow: column nowrap;

    .line1 {
      flex-grow: 1;
      flex-shrink: 1;
      width: 100%;
      padding: 0.3rem;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .product-category-button-selected {
    border: 1px solid dimgray;
  }
}
