.pos-screen {
  .pos-order-panel {
    .products-container {
      width: 100%;
      background-color: #f0f0f0;

      .search-container {
        background-color: white;
        padding: 10px;
        margin: 10px;

        display: flex;
        flex-flow: column nowrap;

        .search-line {
          display: flex;
          flex-flow: row nowrap;
          font-size: 1.5rem;

          input {
            flex-grow: 1;
            font-size: 1.5rem;
          }

          .button {
            border: 0;
          }
        }
      }

      .products {
        padding: 10px;
        flex-grow: 1;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        column-gap: 3px;
        row-gap: 3px;


        .product-button {
          outline: none;
          border: 0;
          border-radius: 4px;
          background-color: #ffffff;
          font-size: 1.5rem;
          max-height: 200px;
          cursor: pointer;

          .name {
            padding: 4px;
          }

          .price {
            padding: 4px;
          }
        }

        .product-button:focus {
          outline: none;
        }

        .product-button:active {
          background-color: #e6e6e6;
        }
      }
    }
  }
}