.rp-href {
	color: #000000;
}
.rp-table {
	border-width: 1px;
	border-color: #BBBBBB;
	border-style: solid;
	border-collapse: collapse;
	width: 90%;
	background-color: #EBF1EF;	
}
.rp-table th {
	text-align:	center;
	padding: 2px;
	font-weight: normal;
	font-size: 13px;
	background-color: #C6D1CD;
	border-width: 1px;
	border-color: #BBBBBB;
	border-style: solid;
}
.rp-table td {
	border-width: 1px;
	border-color: #BBBBBB;
	border-style: solid;
	padding: 3px;
}
}
.rp-number {
	background-color: #EBF1EF;
	text-align: right;
	padding: 3px;
}
.rp-text, .rp-date {
	background-color: #EBF1EF;
	text-align: left;
	padding: 3px;
}