{
  "swagger": "2.0",
  "info": {
    "description": "The Selling Partner API for Orders helps you programmatically retrieve order information. These APIs let you develop fast, flexible, custom applications in areas like order synchronization, order research, and demand-based decision support tools.",
    "version": "v0",
    "title": "Selling Partner API for Orders",
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/orders/v0/orders": {
      "get": {
        "tags": [
          "ordersV0"
        ],
        "description": "Returns orders created or updated during the time frame indicated by the specified parameters. You can also apply a range of filtering criteria to narrow the list of orders returned. If NextToken is present, that will be used to retrieve the orders instead of other criteria.\n\n**Usage Plans:**\n\n| Plan type | Rate (requests per second) | Burst |\n| ---- | ---- | ---- |\n|Default| 0.0055 | 20 |\n|Selling partner specific| Variable | Variable |\n\nThe x-amzn-RateLimit-Limit response header returns the usage plan rate limits that were applied to the requested operation. Rate limits for some selling partners will vary from the default rate and burst shown in the table above. For more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "getOrders",
        "parameters": [
          {
            "name": "CreatedAfter",
            "in": "query",
            "description": "A date used for selecting orders created after (or at) a specified time. Only orders placed after the specified time are returned. Either the CreatedAfter parameter or the LastUpdatedAfter parameter is required. Both cannot be empty. The date must be in ISO 8601 format.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CreatedBefore",
            "in": "query",
            "description": "A date used for selecting orders created before (or at) a specified time. Only orders placed before the specified time are returned. The date must be in ISO 8601 format.",
            "required": false,
            "type": "string"
          },
          {
            "name": "LastUpdatedAfter",
            "in": "query",
            "description": "A date used for selecting orders that were last updated after (or at) a specified time. An update is defined as any change in order status, including the creation of a new order. Includes updates made by Amazon and by the seller. The date must be in ISO 8601 format.",
            "required": false,
            "type": "string"
          },
          {
            "name": "LastUpdatedBefore",
            "in": "query",
            "description": "A date used for selecting orders that were last updated before (or at) a specified time. An update is defined as any change in order status, including the creation of a new order. Includes updates made by Amazon and by the seller. The date must be in ISO 8601 format.",
            "required": false,
            "type": "string"
          },
          {
            "name": "OrderStatuses",
            "in": "query",
            "description": "A list of OrderStatus values used to filter the results. Possible values: PendingAvailability (This status is available for pre-orders only. The order has been placed, payment has not been authorized, and the release date of the item is in the future.); Pending (The order has been placed but payment has not been authorized); Unshipped (Payment has been authorized and the order is ready for shipment, but no items in the order have been shipped); PartiallyShipped (One or more, but not all, items in the order have been shipped); Shipped (All items in the order have been shipped); InvoiceUnconfirmed (All items in the order have been shipped. The seller has not yet given confirmation to Amazon that the invoice has been shipped to the buyer.); Canceled (The order has been canceled); and Unfulfillable (The order cannot be fulfilled. This state applies only to Multi-Channel Fulfillment orders.).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "MarketplaceIds",
            "in": "query",
            "description": "A list of MarketplaceId values. Used to select orders that were placed in the specified marketplaces.\n\nSee the [Selling Partner API Developer Guide](doc:marketplace-ids) for a complete list of marketplaceId values.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 50
          },
          {
            "name": "FulfillmentChannels",
            "in": "query",
            "description": "A list that indicates how an order was fulfilled. Filters the results by fulfillment channel. Possible values: AFN (Fulfillment by Amazon); MFN (Fulfilled by the seller).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "PaymentMethods",
            "in": "query",
            "description": "A list of payment method values. Used to select orders paid using the specified payment methods. Possible values: COD (Cash on delivery); CVS (Convenience store payment); Other (Any payment method other than COD or CVS).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "BuyerEmail",
            "in": "query",
            "description": "The email address of a buyer. Used to select orders that contain the specified email address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "SellerOrderId",
            "in": "query",
            "description": "An order identifier that is specified by the seller. Used to select only the orders that match the order identifier. If SellerOrderId is specified, then FulfillmentChannels, OrderStatuses, PaymentMethod, LastUpdatedAfter, LastUpdatedBefore, and BuyerEmail cannot be specified.",
            "required": false,
            "type": "string"
          },
          {
            "name": "MaxResultsPerPage",
            "in": "query",
            "description": "A number that indicates the maximum number of orders that can be returned per page. Value must be 1 - 100. Default 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "EasyShipShipmentStatuses",
            "in": "query",
            "description": "A list of EasyShipShipmentStatus values. Used to select Easy Ship orders with statuses that match the specified  values. If EasyShipShipmentStatus is specified, only Amazon Easy Ship orders are returned.Possible values: PendingPickUp (Amazon has not yet picked up the package from the seller). LabelCanceled (The seller canceled the pickup). PickedUp (Amazon has picked up the package from the seller). AtOriginFC (The packaged is at the origin fulfillment center). AtDestinationFC (The package is at the destination fulfillment center). OutForDelivery (The package is out for delivery). Damaged (The package was damaged by the carrier). Delivered (The package has been delivered to the buyer). RejectedByBuyer (The package has been rejected by the buyer). Undeliverable (The package cannot be delivered). ReturnedToSeller (The package was not delivered to the buyer and was returned to the seller). ReturningToSeller (The package was not delivered to the buyer and is being returned to the seller).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "NextToken",
            "in": "query",
            "description": "A string token returned in the response of your previous request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "AmazonOrderIds",
            "in": "query",
            "description": "A list of AmazonOrderId values. An AmazonOrderId is an Amazon-defined order identifier, in 3-7-7 format.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 50
          },
          {
            "name": "ActualFulfillmentSupplySourceId",
            "in": "query",
            "description": "Denotes the recommended sourceId where the order should be fulfilled from.",
            "required": false,
            "type": "string"
          },
          {
            "name": "IsISPU",
            "in": "query",
            "description": "When true, this order is marked to be picked up from a store rather than delivered.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "StoreChainStoreId",
            "in": "query",
            "description": "The store chain store identifier. Linked to a specific store in a store chain.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/GetOrdersResponse"
            },
            "examples": {
              "application/json": {
                "payload": {
                  "NextToken": "2YgYW55IGNhcm5hbCBwbGVhc3VyZS4",
                  "Orders": [
                    {
                      "AmazonOrderId": "902-3159896-1390916",
                      "PurchaseDate": "2017-01-20T19:49:35Z",
                      "LastUpdateDate": "2017-01-20T19:49:35Z",
                      "OrderStatus": "Pending",
                      "FulfillmentChannel": "SellerFulfilled",
                      "NumberOfItemsShipped": 0,
                      "NumberOfItemsUnshipped": 0,
                      "PaymentMethod": "Other",
                      "PaymentMethodDetails": [
                        "CreditCard",
                        "GiftCerificate"
                      ],
                      "MarketplaceId": "ATVPDKIKX0DER",
                      "ShipmentServiceLevelCategory": "Standard",
                      "OrderType": "StandardOrder",
                      "EarliestShipDate": "2017-01-20T19:51:16Z",
                      "LatestShipDate": "2017-01-25T19:49:35Z",
                      "IsBusinessOrder": false,
                      "IsPrime": false,
                      "IsGlobalExpressEnabled": false,
                      "IsPremiumOrder": false,
                      "IsSoldByAB": false,
                      "IsIBA": false,
                      "ShippingAddress": {
                        "Name": "Michigan address",
                        "AddressLine1": "1 Cross St.",
                        "City": "Canton",
                        "StateOrRegion": "MI",
                        "PostalCode": "48817",
                        "CountryCode": "US"
                      },
                      "BuyerInfo": {
                        "BuyerEmail": "user@example.com",
                        "BuyerName": "John Doe",
                        "BuyerTaxInfo": {
                          "CompanyLegalName": "A Company Name"
                        },
                        "PurchaseOrderNumber": "1234567890123"
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "CreatedAfter": {
                        "value": "TEST_CASE_200"
                      },
                      "MarketplaceIds": {
                        "value": [
                          "ATVPDKIKX0DER"
                        ]
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "CreatedBefore": "1.569521782042E9",
                      "Orders": [
                        {
                          "AmazonOrderId": "902-1845936-5435065",
                          "PurchaseDate": "1970-01-19T03:58:30Z",
                          "LastUpdateDate": "1970-01-19T03:58:32Z",
                          "OrderStatus": "Unshipped",
                          "FulfillmentChannel": "MFN",
                          "SalesChannel": "Amazon.com",
                          "ShipServiceLevel": "Std US D2D Dom",
                          "OrderTotal": {
                            "CurrencyCode": "USD",
                            "Amount": "11.01"
                          },
                          "NumberOfItemsShipped": 0,
                          "NumberOfItemsUnshipped": 1,
                          "PaymentMethod": "Other",
                          "PaymentMethodDetails": [
                            "Standard"
                          ],
                          "IsReplacementOrder": false,
                          "MarketplaceId": "ATVPDKIKX0DER",
                          "ShipmentServiceLevelCategory": "Standard",
                          "OrderType": "StandardOrder",
                          "EarliestShipDate": "1970-01-19T03:59:27Z",
                          "LatestShipDate": "1970-01-19T04:05:13Z",
                          "EarliestDeliveryDate": "1970-01-19T04:06:39Z",
                          "LatestDeliveryDate": "1970-01-19T04:15:17Z",
                          "IsBusinessOrder": false,
                          "IsPrime": false,
                          "IsGlobalExpressEnabled": false,
                          "IsPremiumOrder": false,
                          "IsSoldByAB": false,
                          "IsIBA": false,
                          "DefaultShipFromLocationAddress": {
                            "Name": "MFNIntegrationTestMerchant",
                            "AddressLine1": "2201 WESTLAKE AVE",
                            "City": "SEATTLE",
                            "StateOrRegion": "WA",
                            "PostalCode": "98121-2778",
                            "CountryCode": "US",
                            "Phone": "+1 480-386-0930 ext. 73824",
                            "AddressType": "Commercial"
                          },
                          "FulfillmentInstruction": {
                            "FulfillmentSupplySourceId": "sampleSupplySourceId"
                          },
                          "IsISPU": false,
                          "AutomatedShippingSettings": {
                            "HasAutomatedShippingSettings": false
                          }
                        },
                        {
                          "AmazonOrderId": "902-8745147-1934268",
                          "PurchaseDate": "1970-01-19T03:58:30Z",
                          "LastUpdateDate": "1970-01-19T03:58:32Z",
                          "OrderStatus": "Unshipped",
                          "FulfillmentChannel": "MFN",
                          "SalesChannel": "Amazon.com",
                          "ShipServiceLevel": "Std US D2D Dom",
                          "OrderTotal": {
                            "CurrencyCode": "USD",
                            "Amount": "11.01"
                          },
                          "NumberOfItemsShipped": 0,
                          "NumberOfItemsUnshipped": 1,
                          "PaymentMethod": "Other",
                          "PaymentMethodDetails": [
                            "Standard"
                          ],
                          "IsReplacementOrder": false,
                          "MarketplaceId": "ATVPDKIKX0DER",
                          "ShipmentServiceLevelCategory": "Standard",
                          "OrderType": "StandardOrder",
                          "EarliestShipDate": "1970-01-19T03:59:27Z",
                          "LatestShipDate": "1970-01-19T04:05:13Z",
                          "EarliestDeliveryDate": "1970-01-19T04:06:39Z",
                          "LatestDeliveryDate": "1970-01-19T04:15:17Z",
                          "IsBusinessOrder": false,
                          "IsPrime": false,
                          "IsGlobalExpressEnabled": false,
                          "IsPremiumOrder": false,
                          "IsSoldByAB": false,
                          "IsIBA": false
                        }
                      ]
                    }
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "CreatedAfter": {
                        "value": "TEST_CASE_200_NEXT_TOKEN"
                      },
                      "MarketplaceIds": {
                        "value": [
                          "ATVPDKIKX0DER"
                        ]
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "NextToken": "2YgYW55IGNhcm5hbCBwbGVhc3VyZS4",
                      "Orders": [
                        {
                          "AmazonOrderId": "902-3159896-1390916",
                          "PurchaseDate": "2017-01-20T19:49:35Z",
                          "LastUpdateDate": "2017-01-20T19:49:35Z",
                          "OrderStatus": "Pending",
                          "FulfillmentChannel": "SellerFulfilled",
                          "NumberOfItemsShipped": 0,
                          "NumberOfItemsUnshipped": 0,
                          "PaymentMethod": "Other",
                          "PaymentMethodDetails": [
                            "CreditCard",
                            "GiftCerificate"
                          ],
                          "MarketplaceId": "ATVPDKIKX0DER",
                          "ShipmentServiceLevelCategory": "Standard",
                          "OrderType": "StandardOrder",
                          "EarliestShipDate": "2017-01-20T19:51:16Z",
                          "LatestShipDate": "2017-01-25T19:49:35Z",
                          "IsBusinessOrder": false,
                          "IsPrime": false,
                          "IsGlobalExpressEnabled": false,
                          "IsPremiumOrder": false,
                          "IsSoldByAB": false,
                          "IsIBA": false
                        }
                      ]
                    }
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "CreatedAfter": {
                        "value": "TEST_CASE_200_NEXT_TOKEN"
                      },
                      "MarketplaceIds": {
                        "value": [
                          "ATVPDKIKX0DER"
                        ]
                      },
                      "NextToken": {
                        "value": "2YgYW55IGNhcm5hbCBwbGVhc3VyZS4"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "Orders": [
                        {
                          "AmazonOrderId": "902-3159896-1390916",
                          "PurchaseDate": "2017-01-20T19:49:35Z",
                          "LastUpdateDate": "2017-01-20T19:49:35Z",
                          "OrderStatus": "Pending",
                          "FulfillmentChannel": "SellerFulfilled",
                          "NumberOfItemsShipped": 0,
                          "NumberOfItemsUnshipped": 0,
                          "PaymentMethod": "Other",
                          "PaymentMethodDetails": [
                            "CreditCard",
                            "GiftCerificate"
                          ],
                          "MarketplaceId": "ATVPDKIKX0DER",
                          "ShipmentServiceLevelCategory": "Standard",
                          "OrderType": "StandardOrder",
                          "EarliestShipDate": "2017-01-20T19:51:16Z",
                          "LatestShipDate": "2017-01-25T19:49:35Z",
                          "IsBusinessOrder": false,
                          "IsPrime": false,
                          "IsGlobalExpressEnabled": false,
                          "IsPremiumOrder": false,
                          "IsSoldByAB": false,
                          "IsIBA": false
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/GetOrdersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "CreatedAfter": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/GetOrdersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/GetOrdersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/GetOrdersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/GetOrdersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/GetOrdersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          }
        }
      }
    },
    "/orders/v0/orders/{orderId}": {
      "get": {
        "tags": [
          "ordersV0"
        ],
        "description": "Returns the order indicated by the specified order ID.\n\n**Usage Plans:**\n\n| Plan type | Rate (requests per second) | Burst |\n| ---- | ---- | ---- |\n|Default| 0.0055 | 20 |\n|Selling partner specific| Variable | Variable |\n\nThe x-amzn-RateLimit-Limit response header returns the usage plan rate limits that were applied to the requested operation. Rate limits for some selling partners will vary from the default rate and burst shown in the table above. For more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "An Amazon-defined order identifier, in 3-7-7 format.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/GetOrderResponse"
            },
            "examples": {
              "application/json": {
                "payload": {
                  "AmazonOrderId": "902-3159896-1390916",
                  "PurchaseDate": "2017-01-20T19:49:35Z",
                  "LastUpdateDate": "2017-01-20T19:49:35Z",
                  "OrderStatus": "Pending",
                  "FulfillmentChannel": "SellerFulfilled",
                  "NumberOfItemsShipped": 0,
                  "NumberOfItemsUnshipped": 0,
                  "PaymentMethod": "Other",
                  "PaymentMethodDetails": [
                    "CreditCard",
                    "GiftCerificate"
                  ],
                  "MarketplaceId": "ATVPDKIKX0DER",
                  "ShipmentServiceLevelCategory": "Standard",
                  "OrderType": "StandardOrder",
                  "EarliestShipDate": "2017-01-20T19:51:16Z",
                  "LatestShipDate": "2017-01-25T19:49:35Z",
                  "IsBusinessOrder": false,
                  "IsPrime": false,
                  "IsGlobalExpressEnabled": false,
                  "IsPremiumOrder": false,
                  "IsSoldByAB": false,
                  "IsIBA": false,
                  "DefaultShipFromLocationAddress": {
                    "Name": "MFNIntegrationTestMerchant",
                    "AddressLine1": "2201 WESTLAKE AVE",
                    "City": "SEATTLE",
                    "StateOrRegion": "WA",
                    "PostalCode": "98121-2778",
                    "CountryCode": "US",
                    "Phone": "+1 480-386-0930 ext. 73824",
                    "AddressType": "Commercial"
                  },
                  "FulfillmentInstruction": {
                    "FulfillmentSupplySourceId": "sampleSupplySourceId"
                  },
                  "IsISPU": false,
                  "ShippingAddress": {
                    "Name": "Michigan address",
                    "AddressLine1": "1 Cross St.",
                    "City": "Canton",
                    "StateOrRegion": "MI",
                    "PostalCode": "48817",
                    "CountryCode": "US"
                  },
                  "BuyerInfo": {
                    "BuyerEmail": "user@example.com",
                    "BuyerName": "John Doe",
                    "BuyerTaxInfo": {
                      "CompanyLegalName": "A Company Name"
                    },
                    "PurchaseOrderNumber": "1234567890123"
                  },
                  "AutomatedShippingSettings": {
                    "HasAutomatedShippingSettings": false
                  }
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_200"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "AmazonOrderId": "902-1845936-5435065",
                      "PurchaseDate": "1970-01-19T03:58:30Z",
                      "LastUpdateDate": "1970-01-19T03:58:32Z",
                      "OrderStatus": "Unshipped",
                      "FulfillmentChannel": "MFN",
                      "SalesChannel": "Amazon.com",
                      "ShipServiceLevel": "Std US D2D Dom",
                      "OrderTotal": {
                        "CurrencyCode": "USD",
                        "Amount": "11.01"
                      },
                      "NumberOfItemsShipped": 0,
                      "NumberOfItemsUnshipped": 1,
                      "PaymentMethod": "Other",
                      "PaymentMethodDetails": [
                        "Standard"
                      ],
                      "IsReplacementOrder": false,
                      "MarketplaceId": "ATVPDKIKX0DER",
                      "ShipmentServiceLevelCategory": "Standard",
                      "OrderType": "StandardOrder",
                      "EarliestShipDate": "1970-01-19T03:59:27Z",
                      "LatestShipDate": "1970-01-19T04:05:13Z",
                      "EarliestDeliveryDate": "1970-01-19T04:06:39Z",
                      "LatestDeliveryDate": "1970-01-19T04:15:17Z",
                      "IsBusinessOrder": false,
                      "IsPrime": false,
                      "IsGlobalExpressEnabled": false,
                      "IsPremiumOrder": false,
                      "IsSoldByAB": false,
                      "IsIBA": false,
                      "DefaultShipFromLocationAddress": {
                        "Name": "MFNIntegrationTestMerchant",
                        "AddressLine1": "2201 WESTLAKE AVE",
                        "City": "SEATTLE",
                        "StateOrRegion": "WA",
                        "PostalCode": "98121-2778",
                        "CountryCode": "US",
                        "Phone": "+1 480-386-0930 ext. 73824",
                        "AddressType": "Commercial"
                      },
                      "FulfillmentInstruction": {
                        "FulfillmentSupplySourceId": "sampleSupplySourceId"
                      },
                      "IsISPU": false,
                      "AutomatedShippingSettings": {
                        "HasAutomatedShippingSettings": false
                      }
                    }
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_IBA_200"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "AmazonOrderId": "921-3175655-0452641",
                      "PurchaseDate": "2019-05-07T15:42:57.058Z",
                      "LastUpdateDate": "2019-05-08T21:59:59Z",
                      "OrderStatus": "Shipped",
                      "FulfillmentChannel": "AFN",
                      "SalesChannel": "Amazon.de",
                      "ShipServiceLevel": "Standard",
                      "OrderTotal": {
                        "CurrencyCode": "EUR",
                        "Amount": "100.00"
                      },
                      "NumberOfItemsShipped": 1,
                      "NumberOfItemsUnshipped": 0,
                      "PaymentMethod": "Other",
                      "PaymentMethodDetails": [
                        "Invoice"
                      ],
                      "IsReplacementOrder": false,
                      "MarketplaceId": "A1PA6795UKMFR9",
                      "ShipmentServiceLevelCategory": "Standard",
                      "OrderType": "StandardOrder",
                      "EarliestShipDate": "1970-01-19T03:59:27Z",
                      "LatestShipDate": "2019-05-08T21:59:59Z",
                      "EarliestDeliveryDate": "2019-05-10T21:59:59Z",
                      "LatestDeliveryDate": "2019-05-12T21:59:59Z",
                      "IsBusinessOrder": true,
                      "IsPrime": false,
                      "IsGlobalExpressEnabled": false,
                      "IsPremiumOrder": false,
                      "IsSoldByAB": true,
                      "IsIBA": true,
                      "DefaultShipFromLocationAddress": {
                        "Name": "MFNIntegrationTestMerchant",
                        "AddressLine1": "2201 WESTLAKE AVE",
                        "City": "SEATTLE",
                        "StateOrRegion": "WA",
                        "PostalCode": "98121-2778",
                        "CountryCode": "US",
                        "Phone": "+1 480-386-0930 ext. 73824",
                        "AddressType": "Commercial"
                      },
                      "FulfillmentInstruction": {
                        "FulfillmentSupplySourceId": "sampleSupplySourceId"
                      },
                      "IsISPU": false,
                      "AutomatedShippingSettings": {
                        "HasAutomatedShippingSettings": false
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/GetOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/GetOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/GetOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/GetOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/GetOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/GetOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          }
        }
      }
    },
    "/orders/v0/orders/{orderId}/buyerInfo": {
      "get": {
        "tags": [
          "ordersV0"
        ],
        "description": "Returns buyer information for the specified order.\n\n**Usage Plans:**\n\n| Plan type | Rate (requests per second) | Burst |\n| ---- | ---- | ---- |\n|Default| 0.0055 | 20 |\n|Selling partner specific| Variable | Variable |\n\nThe x-amzn-RateLimit-Limit response header returns the usage plan rate limits that were applied to the requested operation. Rate limits for some selling partners will vary from the default rate and burst shown in the table above. For more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "getOrderBuyerInfo",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "An orderId is an Amazon-defined order identifier, in 3-7-7 format.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/GetOrderBuyerInfoResponse"
            },
            "examples": {
              "application/json": {
                "payload": {
                  "AmazonOrderId": "902-3159896-1390916",
                  "BuyerEmail": "user@example.com",
                  "BuyerName": "John Smith",
                  "BuyerTaxInfo": {
                    "CompanyLegalName": "Company Name"
                  },
                  "PurchaseOrderNumber": "1234567890123"
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_200"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "AmazonOrderId": "902-1845936-5435065",
                      "BuyerEmail": "fzyrv6gwkhbb15c@example.com",
                      "BuyerName": "MFNIntegrationTestMerchant"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/GetOrderBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/GetOrderBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/GetOrderBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/GetOrderBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/GetOrderBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/GetOrderBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          }
        }
      }
    },
    "/orders/v0/orders/{orderId}/address": {
      "get": {
        "tags": [
          "ordersV0"
        ],
        "description": "Returns the shipping address for the specified order.\n\n**Usage Plans:**\n\n| Plan type | Rate (requests per second) | Burst |\n| ---- | ---- | ---- |\n|Default| 0.0055 | 20 |\n|Selling partner specific| Variable | Variable |\n\nThe x-amzn-RateLimit-Limit response header returns the usage plan rate limits that were applied to the requested operation. Rate limits for some selling partners will vary from the default rate and burst shown in the table above. For more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "getOrderAddress",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "An orderId is an Amazon-defined order identifier, in 3-7-7 format.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/GetOrderAddressResponse"
            },
            "examples": {
              "application/json": {
                "payload": {
                  "AmazonOrderId": "902-3159896-1390916",
                  "ShippingAddress": {
                    "Name": "Michigan address",
                    "AddressLine1": "1 cross st",
                    "City": "Canton",
                    "StateOrRegion": "MI",
                    "PostalCode": "48817",
                    "CountryCode": "US"
                  }
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_200"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "AmazonOrderId": "902-1845936-5435065",
                      "ShippingAddress": {
                        "Name": "MFNIntegrationTestMerchant",
                        "AddressLine1": "2201 WESTLAKE AVE",
                        "City": "SEATTLE",
                        "StateOrRegion": "WA",
                        "PostalCode": "98121-2778",
                        "CountryCode": "US",
                        "Phone": "+1 480-386-0930 ext. 73824",
                        "AddressType": "Commercial"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/GetOrderAddressResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/GetOrderAddressResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/GetOrderAddressResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/GetOrderAddressResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/GetOrderAddressResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/GetOrderAddressResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          }
        }
      }
    },
    "/orders/v0/orders/{orderId}/orderItems": {
      "get": {
        "tags": [
          "ordersV0"
        ],
        "description": "Returns detailed order item information for the order indicated by the specified order ID. If NextToken is provided, it's used to retrieve the next page of order items.\n\nNote: When an order is in the Pending state (the order has been placed but payment has not been authorized), the getOrderItems operation does not return information about pricing, taxes, shipping charges, gift status or promotions for the order items in the order. After an order leaves the Pending state (this occurs when payment has been authorized) and enters the Unshipped, Partially Shipped, or Shipped state, the getOrderItems operation returns information about pricing, taxes, shipping charges, gift status and promotions for the order items in the order.\n\n**Usage Plans:**\n\n| Plan type | Rate (requests per second) | Burst |\n| ---- | ---- | ---- |\n|Default| 0.0055 | 20 |\n|Selling partner specific| Variable | Variable |\n\nThe x-amzn-RateLimit-Limit response header returns the usage plan rate limits that were applied to the requested operation. Rate limits for some selling partners will vary from the default rate and burst shown in the table above. For more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "getOrderItems",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "An Amazon-defined order identifier, in 3-7-7 format.",
            "required": true,
            "type": "string"
          },
          {
            "name": "NextToken",
            "in": "query",
            "description": "A string token returned in the response of your previous request.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsResponse"
            },
            "examples": {
              "application/json": {
                "payload": {
                  "AmazonOrderId": "903-1671087-0812628",
                  "NextToken": "2YgYW55IGNhcm5hbCBwbGVhc3VyZS4",
                  "OrderItems": [
                    {
                      "ASIN": "BT0093TELA",
                      "OrderItemId": "68828574383266",
                      "SellerSKU": "CBA_OTF_1",
                      "Title": "Example item name",
                      "QuantityOrdered": 1,
                      "QuantityShipped": 1,
                      "PointsGranted": {
                        "PointsNumber": 10,
                        "PointsMonetaryValue": {
                          "CurrencyCode": "JPY",
                          "Amount": "10.00"
                        }
                      },
                      "ItemPrice": {
                        "CurrencyCode": "JPY",
                        "Amount": "25.99"
                      },
                      "ShippingPrice": {
                        "CurrencyCode": "JPY",
                        "Amount": "1.26"
                      },
                      "ScheduledDeliveryEndDate": "2013-09-09T01:30:00Z",
                      "ScheduledDeliveryStartDate": "2013-09-07T02:00:00Z",
                      "CODFee": {
                        "CurrencyCode": "JPY",
                        "Amount": "10.00"
                      },
                      "CODFeeDiscount": {
                        "CurrencyCode": "JPY",
                        "Amount": "1.00"
                      },
                      "PriceDesignation": "BusinessPrice",
                      "BuyerInfo": {
                        "BuyerCustomizedInfo": {
                          "CustomizedURL": "https://zme-caps.amazon.com/t/bR6qHkzSOxuB/J8nbWhze0Bd3DkajkOdY-XQbWkFralegp2sr_QZiKEE/1"
                        },
                        "GiftMessageText": "For you!",
                        "GiftWrapPrice": {
                          "CurrencyCode": "GBP",
                          "Amount": "41.99"
                        },
                        "GiftWrapLevel": "Classic"
                      },
                      "BuyerRequestedCancel": {
                        "IsBuyerRequestedCancel": true,
                        "BuyerCancelReason": "Found cheaper somewhere else."
                      }
                    },
                    {
                      "ASIN": "BCTU1104UEFB",
                      "OrderItemId": "79039765272157",
                      "SellerSKU": "CBA_OTF_5",
                      "Title": "Example item name",
                      "QuantityOrdered": 2,
                      "ItemPrice": {
                        "CurrencyCode": "JPY",
                        "Amount": "17.95"
                      },
                      "PromotionIds": [
                        "FREESHIP"
                      ],
                      "ConditionId": "Used",
                      "ConditionSubtypeId": "Mint",
                      "ConditionNote": "Example ConditionNote",
                      "PriceDesignation": "BusinessPrice",
                      "BuyerInfo": {
                        "BuyerCustomizedInfo": {
                          "CustomizedURL": "https://zme-caps.amazon.com/t/bR6qHkzSOxuB/J8nbWhze0Bd3DkajkOdY-XQbWkFralegp2sr_QZiKEE/1"
                        },
                        "GiftMessageText": "For you!",
                        "GiftWrapPrice": {
                          "CurrencyCode": "JPY",
                          "Amount": "1.99"
                        },
                        "GiftWrapLevel": "Classic"
                      },
                      "BuyerRequestedCancel": {
                        "IsBuyerRequestedCancel": true,
                        "BuyerCancelReason": "Found cheaper somewhere else."
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_200"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "AmazonOrderId": "902-1845936-5435065",
                      "OrderItems": [
                        {
                          "ASIN": "B00551Q3CS",
                          "OrderItemId": "05015851154158",
                          "SellerSKU": "NABetaASINB00551Q3CS",
                          "Title": "B00551Q3CS [Card Book]",
                          "QuantityOrdered": 1,
                          "QuantityShipped": 0,
                          "ProductInfo": {
                            "NumberOfItems": 1
                          },
                          "ItemPrice": {
                            "CurrencyCode": "USD",
                            "Amount": "10.00"
                          },
                          "ItemTax": {
                            "CurrencyCode": "USD",
                            "Amount": "1.01"
                          },
                          "PromotionDiscount": {
                            "CurrencyCode": "USD",
                            "Amount": "0.00"
                          },
                          "IsGift": false,
                          "ConditionId": "New",
                          "ConditionSubtypeId": "New",
                          "IsTransparency": false,
                          "SerialNumberRequired": false,
                          "IossNumber": "",
                          "DeemedResellerCategory": "IOSS",
                          "StoreChainStoreId": "ISPU_StoreId",
                          "BuyerRequestedCancel": {
                            "IsBuyerRequestedCancel": true,
                            "BuyerCancelReason": "Found cheaper somewhere else."
                          }
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          }
        }
      }
    },
    "/orders/v0/orders/{orderId}/orderItems/buyerInfo": {
      "get": {
        "tags": [
          "ordersV0"
        ],
        "description": "Returns buyer information for the order items in the specified order.\n\n**Usage Plans:**\n\n| Plan type | Rate (requests per second) | Burst |\n| ---- | ---- | ---- |\n|Default| 0.0055 | 20 |\n|Selling partner specific| Variable | Variable |\n\nThe x-amzn-RateLimit-Limit response header returns the usage plan rate limits that were applied to the requested operation. Rate limits for some selling partners will vary from the default rate and burst shown in the table above. For more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "getOrderItemsBuyerInfo",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "An Amazon-defined order identifier, in 3-7-7 format.",
            "required": true,
            "type": "string"
          },
          {
            "name": "NextToken",
            "in": "query",
            "description": "A string token returned in the response of your previous request.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsBuyerInfoResponse"
            },
            "examples": {
              "application/json": {
                "payload": {
                  "OrderItemId": "903-1671087-0812628",
                  "BuyerCustomizedInfo": {
                    "CustomizedURL": "https://zme-caps.amazon.com/t/bR6qHkzSOxuB/J8nbWhze0Bd3DkajkOdY-XQbWkFralegp2sr_QZiKEE/1"
                  },
                  "GiftMessageText": "For you!",
                  "GiftWrapPrice": {
                    "CurrencyCode": "JPY",
                    "Amount": "1.99"
                  },
                  "GiftWrapLevel": "Classic"
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_200"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "AmazonOrderId": "902-1845936-5435065",
                      "OrderItems": [
                        {
                          "BuyerCustomizedInfo": {
                            "CustomizedURL": "https://zme-caps.amazon.com/t/bR6qHkzSOxuB/J8nbWhze0Bd3DkajkOdY-XQbWkFralegp2sr_QZiKEE/1"
                          },
                          "GiftMessageText": "Et toi!",
                          "GiftWrapPrice": {
                            "CurrencyCode": "JPY",
                            "Amount": "1.99"
                          },
                          "GiftWrapLevel": "Classic"
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/GetOrderItemsBuyerInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          }
        }
      }
    },
    "/orders/v0/orders/{orderId}/shipment": {
      "post": {
        "tags": [
          "shipment"
        ],
        "description": "Update the shipment status.",
        "operationId": "updateShipmentStatus",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "An Amazon-defined order identifier, in 3-7-7 format.",
            "required": true,
            "type": "string"
          },
          {
            "name": "payload",
            "in": "body",
            "description": "Request to update the shipment status.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateShipmentStatusRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {}
                  },
                  "response": {}
                }
              ]
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference ID.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "marketplaceId": "1",
                          "shipmentStatus": "ReadyForPickup"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Marketplace id is not defined",
                        "details": "1001"
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference ID.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/UpdateShipmentStatusErrorResponse"
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference ID.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/UpdateShipmentStatusErrorResponse"
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference ID.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/UpdateShipmentStatusErrorResponse"
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference ID.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/UpdateShipmentStatusErrorResponse"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference ID.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/UpdateShipmentStatusErrorResponse"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference ID.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/UpdateShipmentStatusErrorResponse"
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference ID.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/UpdateShipmentStatusErrorResponse"
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference ID.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/UpdateShipmentStatusErrorResponse"
            }
          }
        }
      }
    },
    "/orders/v0/orders/{orderId}/regulatedInfo": {
      "get": {
        "tags": [
          "ordersV0"
        ],
        "description": "Returns regulated information for the order indicated by the specified order ID.\n\n**Usage Plans:**\n\n| Plan type | Rate (requests per second) | Burst |\n| ---- | ---- | ---- |\n|Default| 0.0055 | 20 |\n|Selling partner specific| Variable | Variable |\n\nThe x-amzn-RateLimit-Limit response header returns the usage plan rate limits that were applied to the requested operation. Rate limits for some selling partners will vary from the default rate and burst shown in the table above. For more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "getOrderRegulatedInfo",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "An orderId is an Amazon-defined order identifier, in 3-7-7 format.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/GetOrderRegulatedInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "902-3159896-1390916"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "AmazonOrderId": "902-3159896-1390916",
                      "RequiresDosageLabel": false,
                      "RegulatedInformation": {
                        "Fields": [
                          {
                            "FieldId": "pet_prescription_name",
                            "FieldLabel": "Name",
                            "FieldType": "Text",
                            "FieldValue": "Ruffus"
                          },
                          {
                            "FieldId": "pet_prescription_species",
                            "FieldLabel": "Species",
                            "FieldType": "Text",
                            "FieldValue": "Dog"
                          }
                        ]
                      },
                      "RegulatedOrderVerificationStatus": {
                        "Status": "Pending",
                        "RequiresMerchantAction": true,
                        "ValidRejectionReasons": [
                          {
                            "RejectionReasonId": "shield_pom_vps_reject_product",
                            "RejectionReasonDescription": "This medicine is not suitable for your pet."
                          },
                          {
                            "RejectionReasonId": "shield_pom_vps_reject_age",
                            "RejectionReasonDescription": "Your pet is too young for this medicine."
                          },
                          {
                            "RejectionReasonId": "shield_pom_vps_reject_incorrect_weight",
                            "RejectionReasonDescription": "Your pet's weight does not match ordered size."
                          }
                        ]
                      }
                    }
                  }
                }
              ]
            },
            "examples": {
              "PendingOrder": {
                "payload": {
                  "AmazonOrderId": "902-3159896-1390916",
                  "RequiresDosageLabel": false,
                  "RegulatedInformation": {
                    "Fields": [
                      {
                        "FieldId": "pet_prescription_name",
                        "FieldLabel": "Name",
                        "FieldType": "Text",
                        "FieldValue": "Ruffus"
                      },
                      {
                        "FieldId": "pet_prescription_species",
                        "FieldLabel": "Species",
                        "FieldType": "Text",
                        "FieldValue": "Dog"
                      }
                    ]
                  },
                  "RegulatedOrderVerificationStatus": {
                    "Status": "Pending",
                    "RequiresMerchantAction": true,
                    "ValidRejectionReasons": [
                      {
                        "RejectionReasonId": "shield_pom_vps_reject_product",
                        "RejectionReasonDescription": "This medicine is not suitable for your pet."
                      },
                      {
                        "RejectionReasonId": "shield_pom_vps_reject_age",
                        "RejectionReasonDescription": "Your pet is too young for this medicine."
                      },
                      {
                        "RejectionReasonId": "shield_pom_vps_reject_incorrect_weight",
                        "RejectionReasonDescription": "Your pet's weight does not match ordered size."
                      }
                    ]
                  }
                }
              },
              "ApprovedOrder": {
                "payload": {
                  "AmazonOrderId": "902-3159896-1390916",
                  "RequiresDosageLabel": false,
                  "RegulatedInformation": {
                    "Fields": [
                      {
                        "FieldId": "pet_prescription_name",
                        "FieldLabel": "Name",
                        "FieldType": "Text",
                        "FieldValue": "Ruffus"
                      },
                      {
                        "FieldId": "pet_prescription_species",
                        "FieldLabel": "Species",
                        "FieldType": "Text",
                        "FieldValue": "Dog"
                      }
                    ]
                  },
                  "RegulatedOrderVerificationStatus": {
                    "Status": "Approved",
                    "RequiresMerchantAction": false,
                    "ValidRejectionReasons": [],
                    "ExternalReviewerId": "externalId",
                    "ReviewDate": "1970-01-19T03:59:27Z"
                  }
                }
              },
              "RejectedOrder": {
                "payload": {
                  "AmazonOrderId": "902-3159896-1390916",
                  "RequiresDosageLabel": false,
                  "RegulatedInformation": {
                    "Fields": [
                      {
                        "FieldId": "pet_prescription_name",
                        "FieldLabel": "Name",
                        "FieldType": "Text",
                        "FieldValue": "Ruffus"
                      },
                      {
                        "FieldId": "pet_prescription_species",
                        "FieldLabel": "Species",
                        "FieldType": "Text",
                        "FieldValue": "Dog"
                      }
                    ]
                  },
                  "RegulatedOrderVerificationStatus": {
                    "Status": "Rejected",
                    "RequiresMerchantAction": false,
                    "RejectionReason": {
                      "RejectionReasonId": "shield_pom_vps_reject_species",
                      "RejectionReasonDescription": "This medicine is not suitable for this type of pet."
                    },
                    "ValidRejectionReasons": [],
                    "ExternalReviewerId": "externalId",
                    "ReviewDate": "1970-01-19T03:59:27Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/GetOrderRegulatedInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/GetOrderRegulatedInfoResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/GetOrderRegulatedInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/GetOrderRegulatedInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/GetOrderRegulatedInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/GetOrderRegulatedInfoResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference ID."
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ordersV0"
        ],
        "description": "Updates (approves or rejects) the verification status of an order containing regulated products.\n\n**Usage Plans:**\n\n| Plan type | Rate (requests per second) | Burst |\n| ---- | ---- | ---- |\n|Default| 0.0055 | 20 |\n|Selling partner specific| Variable | Variable |\n\nThe x-amzn-RateLimit-Limit response header returns the usage plan rate limits that were applied to the requested operation. Rate limits for some selling partners will vary from the default rate and burst shown in the table above. For more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "updateVerificationStatus",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "An orderId is an Amazon-defined order identifier, in 3-7-7 format.",
            "required": true,
            "type": "string"
          },
          {
            "name": "payload",
            "in": "body",
            "description": "Request to update the verification status of an order containing regulated products.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateVerificationStatusRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "902-3159896-1390916"
                      },
                      "body": {
                        "value": {
                          "regulatedOrderVerificationStatus": {
                            "status": "Rejected",
                            "externalReviewerId": "reviewer1234",
                            "rejectionReasonId": "shield_pom_vps_reject_incorrect_weight"
                          }
                        }
                      }
                    }
                  },
                  "response": {}
                }
              ]
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference ID.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "902-3159896-1390916"
                      },
                      "body": {
                        "value": {
                          "regulatedOrderVerificationStatus": {
                            "status": "Rejected"
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Missing request parameter: rejectionReasonId."
                      },
                      {
                        "code": "InvalidInput",
                        "message": "Missing request parameter: externalReviewerId."
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "902-3159896-1390916"
                      },
                      "body": {
                        "value": {
                          "regulatedOrderVerificationStatus": {
                            "status": "Cancelled",
                            "externalReviewerId": "reviewer1234"
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid request parameter `status`. Must be one of [Approved, Rejected]."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference ID.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/UpdateVerificationStatusErrorResponse"
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference ID.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/UpdateVerificationStatusErrorResponse"
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
[...]
