{
  "swagger": "2.0",
  "info": {
    "description": "Provides programmatic access to Amazon Shipping APIs.",
    "version": "v1",
    "title": "Selling Partner API for Shipping",
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/shipping/v1/shipments": {
      "post": {
        "tags": [
          "shipping"
        ],
        "description": "Create a new shipment.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 15 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "createShipment",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateShipmentRequest",
              "example": {
                "clientReferenceId": "911-7267646-6348616",
                "shipFrom": {
                  "name": "test name 1",
                  "addressLine1": "some Test address 1",
                  "postalCode": "90013",
                  "city": "Los Angeles",
                  "countryCode": "US",
                  "stateOrRegion": "CA",
                  "email": "testEmail1@amazon.com",
                  "phoneNumber": "1234567890"
                },
                "shipTo": {
                  "name": "test name 2",
                  "addressLine1": "some Test address 2",
                  "postalCode": "90013-1805",
                  "city": "LOS ANGELES",
                  "countryCode": "US",
                  "stateOrRegion": "CA",
                  "email": "testEmail2@amazon.com",
                  "phoneNumber": "1234567890"
                },
                "containers": [
                  {
                    "containerType": "PACKAGE",
                    "containerReferenceId": "ContainerRefId-01",
                    "items": [
                      {
                        "title": "String",
                        "quantity": 2,
                        "unitPrice": {
                          "unit": "USD",
                          "value": 14.99
                        },
                        "unitWeight": {
                          "unit": "lb",
                          "value": 0.08164656
                        }
                      }
                    ],
                    "dimensions": {
                      "height": 12,
                      "length": 36,
                      "width": 15,
                      "unit": "CM"
                    },
                    "weight": {
                      "unit": "lb",
                      "value": 0.08164656
                    },
                    "value": {
                      "unit": "USD",
                      "value": 29.98
                    }
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/CreateShipmentResponse"
            },
            "examples": {
              "application/json": {
                "shipmentId": "89108749065090",
                "eligibleRates": [
                  {
                    "billedWeight": {
                      "value": 4,
                      "unit": "kg"
                    },
                    "totalCharge": {
                      "value": 3.25,
                      "unit": "GBP"
                    },
                    "serviceType": "Amazon Shipping Standard",
                    "promise": {
                      "deliveryWindow": {
                        "start": "2018-08-25T20:22:30.737Z",
                        "end": "2018-08-26T20:22:30.737Z"
                      },
                      "receiveWindow": {
                        "start": "2018-08-23T09:22:30.737Z",
                        "end": "2018-08-23T11:22:30.737Z"
                      }
                    },
                    "rateId": "RI123456",
                    "expirationTime": "2018-08-22T09:22:30.737Z"
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "clientReferenceId": "TEST_CASE_200"
                        }
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "shipmentId": "TEST_CASE_200",
                      "eligibleRates": [
                        {
                          "billedWeight": {
                            "value": 4,
                            "unit": "kg"
                          },
                          "totalCharge": {
                            "value": 3.25,
                            "unit": "GBP"
                          },
                          "serviceType": "Amazon Shipping Standard",
                          "promise": {
                            "deliveryWindow": {
                              "start": "2018-08-25T20:22:30.737Z",
                              "end": "2018-08-26T20:22:30.737Z"
                            },
                            "receiveWindow": {
                              "start": "2018-08-23T09:22:30.737Z",
                              "end": "2018-08-23T11:22:30.737Z"
                            }
                          },
                          "rateId": "RI123456",
                          "expirationTime": "2018-08-22T09:22:30.737Z"
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/CreateShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "clientReferenceId": "TEST_CASE_400"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid input."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/CreateShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "clientReferenceId": "TEST_CASE_401"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Unauthorized",
                        "message": "Access to requested resource is denied."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "403 can be caused for reasons like Access Denied, Unauthorized, Expired Token, Invalid Signature or Resource Not Found.",
            "schema": {
              "$ref": "#/definitions/CreateShipmentResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "clientReferenceId": "TEST_CASE_403"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Unauthorized",
                        "message": "Access to requested resource is denied."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/CreateShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "clientReferenceId": "TEST_CASE_404"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "NotFound",
                        "message": "The requested resource doesn't exist."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/CreateShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "clientReferenceId": "TEST_CASE_429"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "QuotaExceeded",
                        "message": "You exceeded your quota for the requested resource."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Encountered an unexpected condition which prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/CreateShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "clientReferenceId": "TEST_CASE_500"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InternalFailure",
                        "message": "We encountered an internal error. Please try again."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/CreateShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "clientReferenceId": "TEST_CASE_503"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "ServiceUnavailable",
                        "message": "Service is temporarily unavailable. Please try again."
                      }
                    ]
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/shipping/v1/shipments/{shipmentId}": {
      "get": {
        "tags": [
          "shipping"
        ],
        "description": "Return the entire shipment object for the shipmentId.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 15 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "getShipment",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/GetShipmentResponse"
            },
            "examples": {
              "application/json": {
                "shipmentId": "89108749065090",
                "clientReferenceId": "911-7267646-6348616",
                "shipFrom": {},
                "shipTo": {},
                "acceptedRate": {
                  "billedWeight": {
                    "value": 4,
                    "unit": "kg"
                  },
                  "totalCharge": {
                    "value": 3.5,
                    "unit": "GBP"
                  },
                  "serviceType": "Amazon Shipping Standard",
                  "promise": {
                    "deliveryWindow": {
                      "start": "2018-08-25T20:22:30.737Z",
                      "end": "2018-08-26T20:22:30.737Z"
                    },
                    "receiveWindow": {
                      "start": "2018-08-23T09:22:30.737Z",
                      "end": "2018-08-23T11:22:30.737Z"
                    }
                  }
                },
                "shipper": {
                  "accountId": "2755049166"
                },
                "containers": [
                  {
                    "containerReferenceId": "CRI123456789",
                    "items": [
                      {
                        "title": "String",
                        "unitWeight": {
                          "value": 0.08164656,
                          "unit": "kg"
                        },
                        "quantity": 2,
                        "unitPrice": {
                          "value": 14.99,
                          "unit": "GBP"
                        }
                      }
                    ],
                    "dimensions": {
                      "height": 12.0,
                      "length": 36.0,
                      "width": 31.0,
                      "unit": "CM"
                    },
                    "containerType": "PACKAGE",
                    "weight": {
                      "unit": "kg",
                      "value": 4
                    },
                    "value": {
                      "value": 29.98,
                      "unit": "GBP"
                    }
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_200"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "shipmentId": "TEST_CASE_200",
                      "clientReferenceId": "911-7267646-6348616",
                      "shipFrom": {},
                      "shipTo": {},
                      "acceptedRate": {
                        "billedWeight": {
                          "value": 4,
                          "unit": "kg"
                        },
                        "totalCharge": {
                          "value": 3.5,
                          "unit": "GBP"
                        },
                        "serviceType": "Amazon Shipping Standard",
                        "promise": {
                          "deliveryWindow": {
                            "start": "2018-08-25T20:22:30.737Z",
                            "end": "2018-08-26T20:22:30.737Z"
                          },
                          "receiveWindow": {
                            "start": "2018-08-23T09:22:30.737Z",
                            "end": "2018-08-23T11:22:30.737Z"
                          }
                        }
                      },
                      "shipper": {
                        "accountId": "2755049166"
                      },
                      "containers": [
                        {
                          "containerReferenceId": "CRI123456789",
                          "items": [
                            {
                              "title": "String",
                              "unitWeight": {
                                "value": 0.08164656,
                                "unit": "kg"
                              },
                              "quantity": 2,
                              "unitPrice": {
                                "value": 14.99,
                                "unit": "GBP"
                              }
                            }
                          ],
                          "dimensions": {
                            "height": 12.0,
                            "length": 36.0,
                            "width": 31.0,
                            "unit": "CM"
                          },
                          "containerType": "PACKAGE",
                          "weight": {
                            "unit": "kg",
                            "value": 4
                          },
                          "value": {
                            "value": 29.98,
                            "unit": "GBP"
                          }
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/GetShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid input."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/GetShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_401"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Unauthorized",
                        "message": "Access to requested resource is denied."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "403 can be caused for reasons like Access Denied, Unauthorized, Expired Token, Invalid Signature or Resource Not Found.",
            "schema": {
              "$ref": "#/definitions/GetShipmentResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_403"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Unauthorized",
                        "message": "Access to requested resource is denied."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/GetShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_404"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "NotFound",
                        "message": "The requested resource doesn't exist."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/GetShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_429"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "QuotaExceeded",
                        "message": "You exceeded your quota for the requested resource."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Encountered an unexpected condition which prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/GetShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_500"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InternalFailure",
                        "message": "We encountered an internal error. Please try again."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/GetShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_503"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "ServiceUnavailable",
                        "message": "Service is temporarily unavailable. Please try again."
                      }
                    ]
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/shipping/v1/shipments/{shipmentId}/cancel": {
      "post": {
        "tags": [
          "shipping"
        ],
        "description": "Cancel a shipment by the given shipmentId.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 15 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "cancelShipment",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/CancelShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_200"
                      }
                    }
                  },
                  "response": {
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/CancelShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid input."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/CancelShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_401"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Unauthorized",
                        "message": "Access to requested resource is denied."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "403 can be caused for reasons like Access Denied, Unauthorized, Expired Token, Invalid Signature or Resource Not Found.",
            "schema": {
              "$ref": "#/definitions/CancelShipmentResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_403"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Unauthorized",
                        "message": "Access to requested resource is denied."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/CancelShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_404"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "NotFound",
                        "message": "The requested resource doesn't exist."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/CancelShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_429"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "QuotaExceeded",
                        "message": "You exceeded your quota for the requested resource."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Encountered an unexpected condition which prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/CancelShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_500"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InternalFailure",
                        "message": "We encountered an internal error. Please try again."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/CancelShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_503"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "ServiceUnavailable",
                        "message": "Service is temporarily unavailable. Please try again."
                      }
                    ]
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/shipping/v1/shipments/{shipmentId}/purchaseLabels": {
      "post": {
        "tags": [
          "shipping"
        ],
        "description": "Purchase shipping labels based on a given rate.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 15 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "purchaseLabels",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseLabelsRequest",
              "example": {
                "rateId": "rate identifier",
                "labelSpecification": {
                  "labelFormat": "PNG",
                  "labelStockSize": "4x6"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/PurchaseLabelsResponse"
            },
            "examples": {
              "application/json": {
                "shipmentId": "89108749065090",
                "clientReferenceId": "911-7267646-6348616",
                "acceptedRate": {
                  "billedWeight": {
                    "value": 4,
                    "unit": "kg"
                  },
                  "totalCharge": {
                    "value": 3.5,
                    "unit": "GBP"
                  },
                  "serviceType": "Amazon Shipping Standard",
                  "promise": {
                    "deliveryWindow": {
                      "start": "2018-08-25T20:22:30.737Z",
                      "end": "2018-08-26T20:22:30.737Z"
                    },
                    "receiveWindow": {
                      "start": "2018-08-23T09:22:30.737Z",
                      "end": "2018-08-23T11:22:30.737Z"
                    }
                  }
                },
                "labelResults": [
                  {
                    "containerReferenceId": "CRI123456789",
                    "trackingId": "1512748795322",
                    "label": {
                      "labelStream": "iVBORw0KGgo...AAAARK5CYII=(Truncated)",
                      "labelSpecification": {
                        "labelFormat": "PNG",
                        "labelStockSize": "4x6"
                      }
                    }
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_200"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "shipmentId": "TEST_CASE_200",
                      "clientReferenceId": "911-7267646-6348616",
                      "acceptedRate": {
                        "billedWeight": {
                          "value": 4,
                          "unit": "kg"
                        },
                        "totalCharge": {
                          "value": 3.5,
                          "unit": "GBP"
                        },
                        "serviceType": "Amazon Shipping Standard",
                        "promise": {
                          "deliveryWindow": {
                            "start": "2018-08-25T20:22:30.737Z",
                            "end": "2018-08-26T20:22:30.737Z"
                          },
                          "receiveWindow": {
                            "start": "2018-08-23T09:22:30.737Z",
                            "end": "2018-08-23T11:22:30.737Z"
                          }
                        }
                      },
                      "labelResults": [
                        {
                          "containerReferenceId": "CRI123456789",
                          "trackingId": "1512748795322",
                          "label": {
                            "labelStream": "iVBORw0KGgo...AAAARK5CYII=(Truncated)",
                            "labelSpecification": {
                              "labelFormat": "PNG",
                              "labelStockSize": "4x6"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/PurchaseLabelsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid input."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/PurchaseLabelsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_401"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Unauthorized",
                        "message": "Access to requested resource is denied."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "403 can be caused for reasons like Access Denied, Unauthorized, Expired Token, Invalid Signature or Resource Not Found.",
            "schema": {
              "$ref": "#/definitions/PurchaseLabelsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_403"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Unauthorized",
                        "message": "Access to requested resource is denied."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/PurchaseLabelsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_404"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "NotFound",
                        "message": "The requested resource doesn't exist."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/PurchaseLabelsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_429"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "QuotaExceeded",
                        "message": "You exceeded your quota for the requested resource."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Encountered an unexpected condition which prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/PurchaseLabelsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_500"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InternalFailure",
                        "message": "We encountered an internal error. Please try again."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/PurchaseLabelsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_503"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "ServiceUnavailable",
                        "message": "Service is temporarily unavailable. Please try again."
                      }
                    ]
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/shipping/v1/shipments/{shipmentId}/containers/{trackingId}/label": {
      "post": {
        "tags": [
          "shipping"
        ],
        "description": "Retrieve shipping label based on the shipment id and tracking id.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 15 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "retrieveShippingLabel",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "trackingId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RetrieveShippingLabelRequest",
              "example": {
                "labelSpecification": {
                  "labelFormat": "PNG",
                  "labelStockSize": "4x6"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/RetrieveShippingLabelResponse"
            },
            "examples": {
              "application/json": {
                "labelStream": "iVBORw0KGgo...AAAARK5CYII=(Truncated)",
                "labelSpecification": {
                  "labelFormat": "PNG",
                  "labelStockSize": "4x6"
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_200"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "labelStream": "iVBORw0KGgo...AAAARK5CYII=(Truncated)",
                      "labelSpecification": {
                        "labelFormat": "PNG",
                        "labelStockSize": "4x6"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/RetrieveShippingLabelResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid input."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/RetrieveShippingLabelResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_401"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Unauthorized",
                        "message": "Access to requested resource is denied."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "403 can be caused for reasons like Access Denied, Unauthorized, Expired Token, Invalid Signature or Resource Not Found.",
            "schema": {
              "$ref": "#/definitions/RetrieveShippingLabelResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_403"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "Unauthorized",
                        "message": "Access to requested resource is denied."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/RetrieveShippingLabelResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_404"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "NotFound",
                        "message": "The requested resource doesn't exist."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/RetrieveShippingLabelResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_429"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "QuotaExceeded",
                        "message": "You exceeded your quota for the requested resource."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Encountered an unexpected condition which prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/RetrieveShippingLabelResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_500"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InternalFailure",
                        "message": "We encountered an internal error. Please try again."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/RetrieveShippingLabelResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TEST_CASE_503"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "ServiceUnavailable",
                        "message": "Service is temporarily unavailable. Please try again."
                      }
                    ]
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/shipping/v1/purchaseShipment": {
      "post": {
        "tags": [
          "shipping"
        ],
        "description": "Purchase shipping labels.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 15 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "purchaseShipment",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseShipmentRequest",
              "example": {
                "clientReferenceId": "911-7267646-6348616",
                "shipFrom": {
                  "name": "test name 1",
                  "addressLine1": "some Test address 1",
                  "postalCode": "90013",
                  "city": "Los Angeles",
                  "countryCode": "US",
                  "stateOrRegion": "CA",
                  "email": "testEmail1@amazon.com",
                  "phoneNumber": "1234567890"
                },
                "shipTo": {
                  "name": "test name 2",
                  "addressLine1": "some Test address 2",
                  "postalCode": "90013",
                  "city": "Los Angeles",
                  "countryCode": "US",
                  "stateOrRegion": "CA",
                  "email": "testEmail2@amazon.com",
                  "phoneNumber": "1234567890"
                },
                "containers": [
                  {
                    "containerType": "PACKAGE",
                    "containerReferenceId": "ContainerRefId-01",
                    "items": [
                      {
                        "title": "String",
                        "quantity": 2,
                        "unitPrice": {
                          "unit": "USD",
                          "value": 14.99
                        },
                        "unitWeight": {
                          "unit": "lb",
                          "value": 0.08164656
                        }
                      }
                    ],
                    "dimensions": {
                      "height": 12,
                      "length": 36,
                      "width": 15,
                      "unit": "CM"
                    },
                    "weight": {
                      "unit": "lb",
                      "value": 0.08164656
                    },
                    "value": {
                      "unit": "USD",
                      "value": 29.98
                    }
                  }
                ],
                "labelSpecification": {
                  "labelFormat": "PNG",
                  "labelStockSize": "4x6"
                },
                "serviceType": "Amazon Shipping Standard"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/PurchaseShipmentResponse"
            },
            "examples": {
              "application/json": {
                "shipmentId": "89108749065090",
                "serviceRate": {
                  "billableWeight": {
                    "value": 4,
                    "unit": "kg"
                  },
                  "totalCharge": {
                    "value": 3.5,
                    "unit": "GBP"
                  },
                  "serviceType": "Amazon Shipping Standard",
                  "promise": {
                    "deliveryWindow": {
                      "start": "2018-08-25T20:22:30.737Z",
                      "end": "2018-08-26T20:22:30.737Z"
                    },
                    "receiveWindow": {
                      "start": "2018-08-23T09:22:30.737Z",
                      "end": "2018-08-23T11:22:30.737Z"
                    }
                  }
                },
                "labelResults": [
                  {
                    "containerReferenceId": "CRI123456789",
                    "trackingId": "1512748795322",
                    "label": {
                      "labelStream": "iVBORw0KGgo...AAAARK5CYII=(Truncated)",
                      "labelSpecification": {
                        "labelFormat": "PNG",
                        "labelStockSize": "4x6"
                      }
                    }
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "clientReferenceId": "TEST_CASE_200"
                        }
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "shipmentId": "TEST_CASE_200",
                      "serviceRate": {
                        "billableWeight": {
                          "value": 4,
                          "unit": "kg"
                        },
                        "totalCharge": {
                          "value": 3.5,
                          "unit": "GBP"
                        },
                        "serviceType": "Amazon Shipping Standard",
                        "promise": {
                          "deliveryWindow": {
                            "start": "2018-08-25T20:22:30.737Z",
                            "end": "2018-08-26T20:22:30.737Z"
                          },
                          "receiveWindow": {
                            "start": "2018-08-23T09:22:30.737Z",
                            "end": "2018-08-23T11:22:30.737Z"
                          }
                        }
                      },
                      "labelResults": [
                        {
                          "containerReferenceId": "CRI123456789",
                          "trackingId": "1512748795322",
                          "label": {
                            "labelStream": "iVBORw0KGgo...AAAARK5CYII=(Truncated)",
                            "labelSpecification": {
                              "labelFormat": "PNG",
                              "labelStockSize": "4x6"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/PurchaseShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/PurchaseShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "403": {
            "description": "403 can be caused for reasons like Access Denied, Unauthorized, Expired Token, Invalid Signature or Resource Not Found.",
            "schema": {
              "$ref": "#/definitions/PurchaseShipmentResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/PurchaseShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/PurchaseShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "500": {
            "description": "Encountered an unexpected condition which prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/PurchaseShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/PurchaseShipmentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          }
        }
      }
    },
    "/shipping/v1/rates": {
      "post": {
        "tags": [
          "shipping"
        ],
        "description": "Get service rates.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 15 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "getRates",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetRatesRequest",
              "example": {
                "shipFrom": {
                  "name": "test name 1",
                  "addressLine1": "some Test address 1",
                  "postalCode": "90013",
                  "city": "Los Angeles",
                  "countryCode": "US",
                  "stateOrRegion": "CA"
                },
                "shipTo": {
                  "name": "test name 2",
                  "addressLine1": "some Test address 2",
                  "postalCode": "90013",
                  "city": "Los Angeles",
                  "countryCode": "US",
                  "stateOrRegion": "CA"
                },
                "containerSpecifications": [
                  {
                    "dimensions": {
                      "height": 12,
                      "length": 36,
                      "width": 15,
                      "unit": "CM"
                    },
                    "weight": {
                      "unit": "lb",
                      "value": 0.08164656
                    }
                  }
                ],
                "serviceTypes": [
                  "Amazon Shipping Standard"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/GetRatesResponse"
            },
            "examples": {
              "application/json": {
                "serviceRates": [
                  {
                    "billableWeight": {
                      "value": 4,
                      "unit": "kg"
                    },
                    "totalCharge": {
                      "value": 3.25,
                      "unit": "GBP"
                    },
                    "serviceType": "Amazon Shipping Standard",
                    "promise": {
                      "deliveryWindow": {
                        "start": "2018-08-25T20:22:30.737Z",
                        "end": "2018-08-26T20:22:30.737Z"
                      },
                      "receiveWindow": {
                        "start": "2018-08-23T09:22:30.737Z",
                        "end": "2018-08-23T11:22:30.737Z"
                      }
                    }
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {}
                  },
                  "response": {
                    "payload": {
                      "serviceRates": [
                        {
                          "billableWeight": {
                            "value": 4,
                            "unit": "kg"
                          },
                          "totalCharge": {
                            "value": 3.25,
                            "unit": "GBP"
                          },
                          "serviceType": "Amazon Shipping Standard",
                          "promise": {
                            "deliveryWindow": {
                              "start": "2018-08-25T20:22:30.737Z",
                              "end": "2018-08-26T20:22:30.737Z"
                            },
                            "receiveWindow": {
                              "start": "2018-08-23T09:22:30.737Z",
                              "end": "2018-08-23T11:22:30.737Z"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request is missing or has invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/GetRatesResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/GetRatesResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "403": {
            "description": "403 can be caused for reasons like Access Denied, Unauthorized, Expired Token, Invalid Signature or Resource Not Found.",
            "schema": {
              "$ref": "#/definitions/GetRatesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/GetRatesResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/GetRatesResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "500": {
            "description": "Encountered an unexpected condition which prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/GetRatesResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/GetRatesResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          }
        }
      }
    },
    "/shipping/v1/account": {
      "get": {
        "tags": [
          "shipping"
        ],
        "description": "Verify if the current account is valid.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 15 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "getAccount",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The account was valid.",
            "schema": {
              "$ref": "#/definitions/GetAccountResponse"
            },
            "examples": {
              "application/json": {
                "accountId": "2755049166"
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {}
                  },
                  "response": {
                    "payload": {
                      "accountId": "2755049166"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/GetAccountResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/GetAccountResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "403": {
            "description": "403 can be caused for reasons like Access Denied, Unauthorized, Expired Token, Invalid Signature or Resource Not Found.",
            "schema": {
              "$ref": "#/definitions/GetAccountResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/GetAccountResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/GetAccountResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "500": {
            "description": "Encountered an unexpected condition which prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/GetAccountResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/GetAccountResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          }
        }
      }
    },
    "/shipping/v1/tracking/{trackingId}": {
      "get": {
        "tags": [
          "shipping"
        ],
        "description": "Return the tracking information of a shipment.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 1 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "getTrackingInformation",
        "parameters": [
          {
            "name": "trackingId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/GetTrackingInformationResponse"
            },
            "examples": {
              "application/json": {
                "trackingId": "89108749065090",
                "eventHistory": [
                  {
                    "eventCode": "Delivered",
                    "location": {
                      "city": "San Bernardino",
                      "countryCode": "US",
                      "stateOrRegion": "CA",
                      "postalCode": "92404"
                    },
                    "eventTime": "2019-04-04T06:45:12Z"
                  }
                ],
                "promisedDeliveryDate": "2019-04-04T07:05:06Z",
                "summary": {
                  "status": "Delivered"
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "trackingId": {
                        "value": "TEST_CASE_200"
                      }
                    }
                  },
                  "response": {
                    "payload": {
                      "trackingId": "TEST_CASE_200",
                      "eventHistory": [
                        {
                          "eventCode": "Delivered",
                          "location": {
                            "city": "San Bernardino",
                            "countryCode": "US",
                            "stateOrRegion": "CA",
                            "postalCode": "92404"
                          },
                          "eventTime": "2019-04-04T06:45:12Z"
                        }
                      ],
                      "promisedDeliveryDate": "2019-04-04T07:05:06Z",
                      "summary": {
                        "status": "Delivered"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/GetTrackingInformationResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "trackingId": {
                        "value": "TEST_CASE_400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid Input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/GetTrackingInformationResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n_Note:_ For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "403": {
            "description": "403 can be caused for reasons like Access Denied, Unauthorized, Expired Token, Invalid Signature or Resource Not Found.",
            "schema": {
              "$ref": "#/definitions/GetTrackingInformationResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/GetTrackingInformationResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference id."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/GetTrackingInformationResponse"
[...]
