<configuration>
	<!-- Spring boot defaults -->
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<!-- Sync log levels from SLF4J/logback to JUL -->	
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>false</resetJUL>
	</contextListener>
	
	<!-- Console logging configuration -->
	<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
	

	<!-- File logging configuration -->
	<property name="LOG_PATH" value="${LOG_PATH:-./log/}" />
	<appender name="FILE" class="de.metas.logging.MetasfreshFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		
		<!-- it works with changing the logging.path property -->
		<rollingPolicy class="de.metas.logging.MetasfreshTimeBasedRollingPolicy">
			<LogDir>${LOG_PATH}</LogDir>
			<LogFilePrefix>metasfresh</LogFilePrefix>
			<LogFileDatePattern>%d{yyyy-MM-dd}_%d{HHmmss,aux}</LogFileDatePattern>
			
			<TimeBasedFileNamingAndTriggeringPolicy class="de.metas.logging.MetasfreshTimeBasedFileNamingAndTriggeringPolicy" />
		</rollingPolicy>
	</appender>
	
	<!-- Error logger (AD_Issue) -->
	<appender name="AD_ISSUE" class="de.metas.logging.MetasfreshIssueAppender">
	</appender>
	
	<!-- Configure root logger -->
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
		<appender-ref ref="AD_ISSUE" />
	</root>
	
	<!-- see http://codecentric.github.io/spring-boot-admin/1.3.0/#loglevel-management -->
	<!-- include resource="org/springframework/boot/logging/logback/base.xml"/ -->
	<jmxConfigurator/>

</configuration>