<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="AdempiereEquinox.ModelValidator">
      <client
            class="org.eevolution.model.LiberoValidator"
            tableName="AD_User">
      </client>
   </extension>
   <extension
         point="AdempiereEquinox.Callout">
      <client
            class="org.eevolution.model.CalloutCostCollector">
      </client>
      <client
            class="org.eevolution.model.CalloutPayroll">
      </client>
      <client
            class="org.eevolution.model.CalloutDistributionOrder">
      </client>
      <client
            class="org.eevolution.model.CalloutOrder">
      </client>
   </extension>
   <extension
         point="AdempiereEquinox.Process">
      <client
            class="org.eevolution.process.CalculateLowLevel">
      </client>
       <client
            class="org.eevolution.process.CompletePrintOrder">
      </client>
      <client
            class="org.eevolution.process.ComponentChange">
      </client>
      <client
            class="org.eevolution.process.CopyFromBOM">
      </client>
      <client
            class="org.eevolution.process.CopyPriceToStandard">
      </client>
       <client
            class="org.eevolution.process.CreateCostElement">
      </client>
       <client
            class="org.eevolution.process.CreateDocType">
      </client>
       <client
            class="org.eevolution.process.CreateProductPlanning">
      </client>
       <client
            class="org.eevolution.process.CRP">
      </client>
       <client
            class="org.eevolution.process.CRPSummary">
      </client>
      <client
            class="org.eevolution.process.DistributionRunOrders">
      </client>
      <client
            class="org.eevolution.process.FixPaymentCashLine">
      </client>         
       <client
            class="org.eevolution.process.DistributionRunOrders">
      </client>         
      <client
            class="org.eevolution.process.HRAttributeEmployee">
      </client>         
      <client
            class="org.eevolution.process.HRCreateConcept">
      </client>         
      <client
            class="org.eevolution.process.HRCreatePeriods">
      </client>         
      <client
            class="org.eevolution.process.MovementGenerate">
      </client>  
      <client
            class="org.eevolution.process.MRP">
      </client>  
      <client
            class="org.eevolution.process.MRPUpdate">
      </client>  
      <client
            class="org.eevolution.process.PayrollProcessing">
      </client>  
      <client
            class="org.eevolution.process.PayrollViaEMail">
      </client>        
      <client
            class="org.eevolution.process.PP_Product_BOM_Check">
      </client>  
       <client
            class="org.eevolution.process.PrintBOM">
      </client>  
      <client
            class="org.eevolution.process.ProcessInfoHandler">
      </client>        
      <client
            class="org.eevolution.process.RollupBillOfMaterial">
      </client>   
      <client
            class="org.eevolution.process.RollupWorkflow">
      </client>   
   </extension>
   <extension
         point="AdempiereEquinox.Form">
      <client
            class="org.eevolution.form.VProductConfigurationBOM">
      </client>
   </extension>
</plugin>
