#
# systemd service file for metasfresh-webui-api
# to install it, copy it to /etc/systemd/system and chmod it to 0644
#
[Unit]
Description=metasfresh-webui-api
After=syslog.target

[Service]
User=metasfresh
ExecStart=/opt/metasfresh/metasfresh-webui-api/metasfresh-webui-api.jar
SuccessExitStatus=143
PIDFile=/opt/metasfresh/metasfresh-webui-api/metasfresh-webui-api/metasfresh-webui-api.service.pid

[Install]
WantedBy=multi-user.target
