#
# systemd service file for metasfresh-report
# to install it, copy it to /etc/systemd/system and chmod it to 0644
# 
[Unit]
Description=metasfresh-report
After=syslog.target

[Service]
User=metasfresh
ExecStart=/opt/metasfresh/metasfresh-report/metasfresh-report.jar
SuccessExitStatus=143
PIDFile=/opt/metasfresh/metasfresh-report/metasfresh-report/metasfresh-report.service.pid

[Install]
WantedBy=multi-user.target
