<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="\de.metas.endcustomer.mf15.base\de.metas.fresh.base\src\misc"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/de.metas.adempiere.adempiere.base/src/main/java-legacy/org/compiere/Adempiere.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.compiere.Adempiere"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="de.metas.endcustomer.mf15.base"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DPropertyFile=&quot;${project_loc:de.metas.endcustomer.mf15}/Adempiere.properties_${env_var:USERNAME}&quot;&#13;&#10;-DTraceFile=true&#13;&#10;-Xms256M&#13;&#10;-Xmx1G&#13;&#10;-XX:MaxPermSize=256m&#13;&#10;-ea&#13;&#10;-Dorg.adempiere.server.embedded=true&#13;&#10;-Dorg.adempiere.client.lang=&quot;Deutsch (Schweiz)&quot;&#13;&#10;-Dorg.compiere.db.DB_PostgreSQL.UseNativeConverter=true&#13;&#10;-Djava.util.Arrays.useLegacyMergeSort=true"/>
</launchConfiguration>
