/*
 * Aufträge - Warenwirtschaft (Basis)
 * Synchronisation der Bestellungen aus Alberta mit den Aufträgen mit der Warenwirtschaft
 *
 * OpenAPI spec version: 1.0.3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import com.google.gson.reflect.TypeToken;
import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;
import io.swagger.client.model.OrderMapping;

import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class OrderMappingApi {
    private ApiClient apiClient;

    public OrderMappingApi() {
        this(Configuration.getDefaultApiClient());
    }

    public OrderMappingApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getOrderMapping
     * @param apiKey  (required)
     * @param salesId Die Id des Auftrags aus dem WaWi (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getOrderMappingCall(String apiKey, String salesId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/order/orderMapping";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (salesId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("salesId", salesId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (apiKey != null)
        localVarHeaderParams.put("api_key", apiClient.parameterToString(apiKey));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getOrderMappingValidateBeforeCall(String apiKey, String salesId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'apiKey' is set
        if (apiKey == null) {
            throw new ApiException("Missing the required parameter 'apiKey' when calling getOrderMapping(Async)");
        }
        // verify the required parameter 'salesId' is set
        if (salesId == null) {
            throw new ApiException("Missing the required parameter 'salesId' when calling getOrderMapping(Async)");
        }
        
        com.squareup.okhttp.Call call = getOrderMappingCall(apiKey, salesId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Zuordnung Auftrag (WaWi) zu Bestellung (Alberta) abrufen
     * Szenario - das WaWi fragt bei Alberta nach, welche Alberta-Id dem jeweiligen Auftrag zugeordnet ist
     * @param apiKey  (required)
     * @param salesId Die Id des Auftrags aus dem WaWi (required)
     * @return OrderMapping
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public OrderMapping getOrderMapping(String apiKey, String salesId) throws ApiException {
        ApiResponse<OrderMapping> resp = getOrderMappingWithHttpInfo(apiKey, salesId);
        return resp.getData();
    }

    /**
     * Zuordnung Auftrag (WaWi) zu Bestellung (Alberta) abrufen
     * Szenario - das WaWi fragt bei Alberta nach, welche Alberta-Id dem jeweiligen Auftrag zugeordnet ist
     * @param apiKey  (required)
     * @param salesId Die Id des Auftrags aus dem WaWi (required)
     * @return ApiResponse&lt;OrderMapping&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<OrderMapping> getOrderMappingWithHttpInfo(String apiKey, String salesId) throws ApiException {
        com.squareup.okhttp.Call call = getOrderMappingValidateBeforeCall(apiKey, salesId, null, null);
        Type localVarReturnType = new TypeToken<OrderMapping>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Zuordnung Auftrag (WaWi) zu Bestellung (Alberta) abrufen (asynchronously)
     * Szenario - das WaWi fragt bei Alberta nach, welche Alberta-Id dem jeweiligen Auftrag zugeordnet ist
     * @param apiKey  (required)
     * @param salesId Die Id des Auftrags aus dem WaWi (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getOrderMappingAsync(String apiKey, String salesId, final ApiCallback<OrderMapping> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getOrderMappingValidateBeforeCall(apiKey, salesId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<OrderMapping>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
