$login-form-max-width: 500px;
	
.LoginView {
	.v-touchkit-navbar {
		visibility: hidden !important;
		width: 0px !important;
		height: 0px !important;
		border: 0px !important;
		left: -999999px !important;
	}
	
	.v-touchkit-navview-wrapper {
		margin-top: 100px;
		width: 100%;
		max-width: $login-form-max-width;
	}
	
	.v-touchkit-navview-toolbar {
		border: 0px;
	}
	
	.logo {
		max-width: 240px;
		float: right;
	}
	
	.powered-by, .powered-by .v-icon {
		max-width: 100px;
		position: fixed;
		bottom: 20px;
		right: 20px;
	}
	
	input {
		background-color: #faffbd !important;
	}
	
	.forgot-password-button {
		display: block;
		height: auto !important;
		width: 100%;
		background-color: transparent;
		border: 0px !important;
		box-shadow: none !important;
		padding: 0px !important;
		margin: 0px !important;
		
		.v-button-wrap {
			display: inline;
			line-height: normal;
			padding: 0px;
			
			.v-button-caption {
				line-height: normal;
				padding: 0px;
				white-space: normal !important;
				font-size: $font-size-normal;
			}
		}
		
	}
}

@media only screen and (min-width: 450px) {
	.LoginView .login-form-wrapper {
		position: fixed;
		width: $login-form-max-width;
		top: 50%;
		left: 50%;
		/* bring your own prefixes */
		transform: translate(-50%, -50%);		
	}
}