//
// Input (general)
//
input:focus {
	outline-color: $color-main !important;
}
.v-touchkit-verticalcomponentgroup input:focus {
	box-shadow: inset 0 -3px $color-main !important;
}

// Selection color
::selection {
	color: $color-main-negative !important;
	background: $color-main !important; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: $color-main-negative !important;
	background: $color-main !important; /* Gecko Browsers */
}

//
// Button (general)
//
.v-button {
	color: $color-main !important;
	border-color: $color-main !important;
	height: $button-size !important;
}
.link {
	color: $color-main !important;
}

//
// Vertical compoent group (general)
//
.v-touchkit-verticalcomponentgroup:empty {
	// hide if empty, there is no point to show and looks ugly because it has borders
	visibility: hidden !important;
}

//
// Navigation view panel
//
.v-touchkit-navview {
	display: flex !important;
	flex-direction: column;
	
	//
	// Navigation button (general)
	//
	.v-touchkit-navbutton {
		height: $product-button-size !important;
		
		&:active {
			background-color: $color-main !important;
		}
		&:after {
			color: $color-main !important;
		}
	}
	.v-touchkit-navbutton-desc {
		min-width: 70px; // a 4 digit number shall fit here (using the biggest font)
		text-align: right;
		background-color: transparent !important;
	}
	// Back button
	.v-touchkit-navbutton-back {
		color: $color-main !important;
	}
	
	//
	// Navigation bar (top)
	//
	.v-touchkit-navbar {
		flex-grow: 0;
		order: 0;
		position: relative !important;
		top: 0px !important;
		height: $button-size !important;
	
		.v-touchkit-navbar-caption {
			height: $button-size !important;
			line-height: $button-size !important;
		}
		
		.v-touchkit-navbar-right {
			top: 0px !important;
			height: $button-size !important;
			
			// Navigation button in navigation bar (top)
			.v-touchkit-navbutton {
				color: $color-main !important;
				height: $button-size !important;
				line-height: $button-size !important;
			}
		}
	}
	
	//
	// Navigation content area
	//
	.v-touchkit-navview-wrapper {
		flex-grow: 1;
		position: relative !important;
		top: 0px !important;
		bottom: 0px !important;
		
		padding-top: $margin-standard !important;
		padding-bottom: $margin-standard !important;
		
		.v-caption-on-top {
			width: 100%;
		}
	}
	
	//
	// Navigation toolbar: bottom
	//
	.v-touchkit-navview-toolbar {
		flex-grow: 0;
		position: relative !important;
		height: auto !important;
		background-color: white !important;
	
		// mainly to support toolbars with caption
		.v-caption-on-top {
			width: 100% !important;
			
			.v-caption {
				text-align: center;
				font-size: $font-size-small;
			}
		}
		
		.v-touchkit-toolbar {
			height: $button-size !important;
			
			.v-button-wrap {
				height: $button-size !important;
			}
			
			.v-icon {
				font-size: $button-icon-size !important;
				padding: 0px !important;
				margin: 0px !important;
			}
		}
		
		.v-touchkit-navbutton-back {
			background-color: transparent !important;
			border-top: 1px solid $color-gray !important;
			height: $button-size !important;
			line-height: $button-size !important;
			font-size: $font-size-big !important;
			padding-left: $button-icon-size !important;
		}
		.v-touchkit-navbutton-back:after {
			left: $margin-standard !important;
		}	
	}	
}

//
// Window
.v-window {
	
	.v-window-contents {
		background: transparent;
	}
	
	.v-window-closebox {
		background: transparent;
	}
	
	.v-window-contents {
		padding-left: 16px;
		padding-right: 16px;
	}
	
}


//
// When soft keyboard is on:
@media only screen and (max-height: 400px) {
	.v-touchkit-navview-toolbar {
		display: none;
	}
}
