/*
 * Patient - Warenwirtschaft (Basis)
 * Synchronisation der Patienten mit der Warenwirtschaft
 *
 * OpenAPI spec version: 1.0.7
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import com.google.gson.reflect.TypeToken;
import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;
import io.swagger.client.model.NursingHome;

import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class NursingHomeApi {
    private ApiClient apiClient;

    public NursingHomeApi() {
        this(Configuration.getDefaultApiClient());
    }

    public NursingHomeApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for geNursingHome
     * @param albertaApiKey  (required)
     * @param _id eindeutige id des Pflegeheimes (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call geNursingHomeCall(String albertaApiKey, String _id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/nursingHome/{_id}"
            .replaceAll("\\{" + "_id" + "\\}", apiClient.escapeString(_id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (albertaApiKey != null)
        localVarHeaderParams.put("Alberta-Api-Key", apiClient.parameterToString(albertaApiKey));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call geNursingHomeValidateBeforeCall(String albertaApiKey, String _id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'albertaApiKey' is set
        if (albertaApiKey == null) {
            throw new ApiException("Missing the required parameter 'albertaApiKey' when calling geNursingHome(Async)");
        }
        // verify the required parameter '_id' is set
        if (_id == null) {
            throw new ApiException("Missing the required parameter '_id' when calling geNursingHome(Async)");
        }
        
        com.squareup.okhttp.Call call = geNursingHomeCall(albertaApiKey, _id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Daten eines einzelnen Pflegeheimes abrufen
     * Szenario - das WaWi fragt bei Alberta nach, wie die Daten des Pflegeheimes mit der angegebenen Id sind
     * @param albertaApiKey  (required)
     * @param _id eindeutige id des Pflegeheimes (required)
     * @return NursingHome
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NursingHome geNursingHome(String albertaApiKey, String _id) throws ApiException {
        ApiResponse<NursingHome> resp = geNursingHomeWithHttpInfo(albertaApiKey, _id);
        return resp.getData();
    }

    /**
     * Daten eines einzelnen Pflegeheimes abrufen
     * Szenario - das WaWi fragt bei Alberta nach, wie die Daten des Pflegeheimes mit der angegebenen Id sind
     * @param albertaApiKey  (required)
     * @param _id eindeutige id des Pflegeheimes (required)
     * @return ApiResponse&lt;NursingHome&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NursingHome> geNursingHomeWithHttpInfo(String albertaApiKey, String _id) throws ApiException {
        com.squareup.okhttp.Call call = geNursingHomeValidateBeforeCall(albertaApiKey, _id, null, null);
        Type localVarReturnType = new TypeToken<NursingHome>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Daten eines einzelnen Pflegeheimes abrufen (asynchronously)
     * Szenario - das WaWi fragt bei Alberta nach, wie die Daten des Pflegeheimes mit der angegebenen Id sind
     * @param albertaApiKey  (required)
     * @param _id eindeutige id des Pflegeheimes (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call geNursingHomeAsync(String albertaApiKey, String _id, final ApiCallback<NursingHome> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = geNursingHomeValidateBeforeCall(albertaApiKey, _id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NursingHome>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getNewAndUpdatedNursingHomes
     * @param albertaApiKey  (required)
     * @param updatedAfter 2021-02-21T09:30:00.000Z (im UTC-Format) (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getNewAndUpdatedNursingHomesCall(String albertaApiKey, String updatedAfter, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/nursingHome";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (updatedAfter != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("updatedAfter", updatedAfter));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (albertaApiKey != null)
        localVarHeaderParams.put("alberta-api-key", apiClient.parameterToString(albertaApiKey));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getNewAndUpdatedNursingHomesValidateBeforeCall(String albertaApiKey, String updatedAfter, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'albertaApiKey' is set
        if (albertaApiKey == null) {
            throw new ApiException("Missing the required parameter 'albertaApiKey' when calling getNewAndUpdatedNursingHomes(Async)");
        }
        // verify the required parameter 'updatedAfter' is set
        if (updatedAfter == null) {
            throw new ApiException("Missing the required parameter 'updatedAfter' when calling getNewAndUpdatedNursingHomes(Async)");
        }
        
        com.squareup.okhttp.Call call = getNewAndUpdatedNursingHomesCall(albertaApiKey, updatedAfter, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Daten der neuen und geänderten Pflegeheime abrufen
     * Szenario - das WaWi fragt bei Alberta nach, wie ob es neue oder geänderte Pflegeheime gibt
     * @param albertaApiKey  (required)
     * @param updatedAfter 2021-02-21T09:30:00.000Z (im UTC-Format) (required)
     * @return List&lt;NursingHome&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<NursingHome> getNewAndUpdatedNursingHomes(String albertaApiKey, String updatedAfter) throws ApiException {
        ApiResponse<List<NursingHome>> resp = getNewAndUpdatedNursingHomesWithHttpInfo(albertaApiKey, updatedAfter);
        return resp.getData();
    }

    /**
     * Daten der neuen und geänderten Pflegeheime abrufen
     * Szenario - das WaWi fragt bei Alberta nach, wie ob es neue oder geänderte Pflegeheime gibt
     * @param albertaApiKey  (required)
     * @param updatedAfter 2021-02-21T09:30:00.000Z (im UTC-Format) (required)
     * @return ApiResponse&lt;List&lt;NursingHome&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<NursingHome>> getNewAndUpdatedNursingHomesWithHttpInfo(String albertaApiKey, String updatedAfter) throws ApiException {
        com.squareup.okhttp.Call call = getNewAndUpdatedNursingHomesValidateBeforeCall(albertaApiKey, updatedAfter, null, null);
        Type localVarReturnType = new TypeToken<List<NursingHome>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Daten der neuen und geänderten Pflegeheime abrufen (asynchronously)
     * Szenario - das WaWi fragt bei Alberta nach, wie ob es neue oder geänderte Pflegeheime gibt
     * @param albertaApiKey  (required)
     * @param updatedAfter 2021-02-21T09:30:00.000Z (im UTC-Format) (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getNewAndUpdatedNursingHomesAsync(String albertaApiKey, String updatedAfter, final ApiCallback<List<NursingHome>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getNewAndUpdatedNursingHomesValidateBeforeCall(albertaApiKey, updatedAfter, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<NursingHome>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
