@import '../../containers/variables.css';


.header-sticky-distance{
    margin-top: 55px;
}

.header {
    border-bottom: 1px solid;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 55px;
    z-index: 100;
}
.header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.header-logo {
    height: 31px;
}

.header-middle {
    padding: .7rem 1rem;
    display: inline-block;
}

.header-breadcrumb {
    color: $brand-font-color-secondary;
    font-size: 0.75rem;
    margin-left: 15px;
}

.header-super-faded {
    background-color: #FFF;
    border-bottom-color: #dee6ec;
}

.header-input-sm {
    width:80px;
}
.header-input-sm input{
    font-size: 0.9375rem;
}
.header-input-sm .input-icon-right {
    font-size: 14px;
}
.header-input-sm .form-control {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.subheader-container {
    display: none;
    width: 100%;
    position: fixed;
    z-index:200;
    background-color: $brand-bright-color;
    box-shadow: 0 7px 15px 0 rgba(0,0,0,.3);
}

.subheader-open {
    display: block;
}

.subheader-column {
    width: 25%;
    border-right: 1px solid #e1e7ec;
}

.subheader-item {
    color: inherit;
    width: 100%;
    display: block;
    padding: .75rem 1.25rem;
    cursor: pointer;
    text-decoration: none !important;

}

.subheader-item:hover {
    background-color: $brand-color-primary;
    color: #fff;
}

.subheader-header {
    padding: .75rem 1.25rem;
    color: $brand-color-primary;
    font-size: 1.1rem;
}
.subheader-row {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: space-around;
}

.subheader-break {
    width: 100%;
    height: 1px;
    padding:0 !important;
    background-color: #e1e7ec;
}

.btn-subheader-open {
    position: relative;
    z-index:300;
}

.header-left-side,
.header-right-side {
    flex: 2 1 200px;
    display: flex;
    flex-direction: row;
}
.header-right-side {
    align-items: stretch;
    justify-content: flex-end;
}
.header-left-side {
    align-items: center;
}

.header-right-side .side-panel-toggle {
    margin-left: 15px;
}

.btn-header-open {
    border-width: 1px 1px 0 1px;
    border-style: solid;
}

.btn-header {
    border-color: $brand-border-color;
}
