.board {
    min-height: calc(100vh - 55px);
    background-color: #fff;
    padding: .4rem;
}

.board-header {
    padding: .5rem;
}

.board-lanes {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow-x: scroll;
    overflow-y: hidden;
    min-height: calc(100vh - 117px);
}

.board-lane {
    border: 1px solid $brand-border-color;
}

.board-lane-placeholder {
    opacity: .8;
}

.board-lane,
.board-lane-placeholder {
    min-width: 16%;
    border-radius: 3px;
    margin-right: 3px;
    background-color: $brand-bright-color;
}

.board-draggable-wrapper, .board-draggable-placeholder > * {
    height: 100%;
}

.board-draggable-wrapper > *:last-child {
    height: 100%;
}

.board-lane-header {
    border-bottom: 1px solid $brand-border-color;
    padding: .4rem;
}

.card {
    margin: .4rem;
    padding: .4rem;
    background-color: #fff;
    border: 1px solid $brand-border-color;
}

.card-description {
    white-space: pre-wrap;
}

.lane-card-placeholder {
    height:2px;
    width: calc(100% - .8rem);
    margin: .4rem;
    background-color: $brand-success-color;
}

.board-sidenav {
    position: fixed;
    top: 55px;
    right: 0;
    width:25%;
    height: calc(100% - 55px);
    z-index: 99;
    background-color: $brand-bright-color;
    overflow-y: auto;
}

.board-sidenav-header {
    background-color: $brand-color-primary;
    color: #fff;
    text-align: center;
    padding: .4rem;
}

.card-placeholder {
    height: 100%;
    min-height: 100%;
}

.empty-text {
    padding: 10px;
    text-align: center;
}
