.chart-wrapper {
    width: 100%;
    overflow: auto;
    min-height: 425px;
}

.chart-data-table-wrapper,
.panel.chart-data-table-wrapper {
    width: 90%;
    margin: 0 auto;
}

.pie-path {
    stroke: #fff;
    stroke-width: 2px;
}

.error-load-data {
    padding-top: 1rem;
    color: $brand-danger-color;
}

.error-load-data .error-load-text {
    padding-bottom: 1rem;
}

$loader-bcg: rgba(0, 0, 0, 0.2);
$loader: #808080;

.error-loading {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 20px solid $loader-bcg;
    animation: spin 4s infinite linear;
}

@keyframes spin { 
    0%, 100% { 
        border-bottom-color: $loader;
        border-left-color: $loader-bcg;
        border-right-color: $loader-bcg;
        border-top-color: $loader-bcg;  
    }

    25% {
        border-right-color: $loader;
        border-left-color: $loader-bcg;
        border-top-color: $loader-bcg;
        border-bottom-color: $loader-bcg;
    }

    50% {
        border-top-color: $loader;
        border-left-color: $loader-bcg;
        border-right-color: $loader-bcg;
        border-bottom-color: $loader-bcg;
    }

    75% {
        border-left-color: $loader;
        border-right-color: $loader-bcg;
        border-top-color: $loader-bcg;
        border-bottom-color: $loader-bcg;
    }
}