.panel-email {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.email-headline {
    display: flex;
    flex-grow: 1;
}

.panel-email-header-top {
    background-color: $brand-color-primary;
}

.panel-email-header {
    display: flex;
    flex-flow: row wrap;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid $brand-super-light-color;
}

.email-templates {
    margin-right: 20px;
}

.email-templates .input-dropdown {
    background: $brand-bright-color;
}

.email-templates .input-dropdown-list {
    color: $brand-color-primary;
}

.panel-email-bright {
    color: $brand-font-color;
}

.panel-email-data-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.panel-email-data-wrapper .email-input-msg {
    flex-grow: 1;
}

.email-input {
    height: 50px;
    border: none;
    padding-left: 10px;
}

.panel-email-header-wrapper {
    box-shadow: 0 0 6px rgba(0, 0, 0, .1);
}

.panel-email-body {
    padding: 20px;
    height: 100%;
    display: flex;
}

.panel-email-body textarea {
    height: 100%;
    border: none;
}

.panel-email-footer {
    padding: 20px;
    display: flex;
    border-top: 1px solid $brand-super-light-color;
    justify-content: space-between;
    color: $brand-font-color;
    align-items: center;
    position: relative;
}

.panel-email-footer button {
    min-width: 100px;
}

.email-attachments-wrapper {
    display: flex;
    padding: 0 20px 20px 20px;
    flex-direction: column;
    width: 40%;
    position: absolute;
    bottom: 100%;
    left: 0;
}

.add-attachment {
    display: inline-block;
    cursor: pointer;
}

.add-attachment > form > div {
    display: inline-block;
}

.attachment-input:last-child {
    z-index: 0 !important;
    border: none;
}

.attachment-input {
    cursor: pointer;
}

.add-attachment input[type='file'] {
    cursor: pointer;
    font-size: 0;
    height: 20px;
}

.add-attachment:hover .attachment-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-decoration: underline;
}
.add-attachment:hover .attachment-input::-moz-placeholder { /* Firefox 19+ */
    text-decoration: underline;
}
.add-attachment:hover .attachment-input:-ms-input-placeholder { /* IE 10+ */
    text-decoration: underline;
}
.add-attachment:hover .attachment-input:-moz-placeholder { /* Firefox 18- */
    text-decoration: underline;
}

.email-label {
    min-width: 50px;
    font-weight: bold;
}

.icon-email {
    cursor: pointer;
    color: $brand-super-light-color;
}

@media (max-width: $breakpoint-md){
    .email-attachments-wrapper {
        width: 60%;
    }
}
@media (max-width: $breakpoint){
    .email-attachments-wrapper {
        width: 100%;
    }
}

.attachment {
    background-color: $brand-light-color;
    color: $brand-font-color;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    margin-bottom: 10px;
}

.attachment-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.react-tagsinput-tag {
    margin-bottom: 5px;
    margin-right: 0;
    margin-left: 5px;
    background: white;
    border: 1px solid $brand-light-color;
    color: $brand-font-color;
}

.react-autosuggest__container {
    display: inline-block
}

.react-autosuggest__suggestions-container--open {
    position: absolute;
    background: white;
    border: 1px solid $brand-light-color;
}

.react-autosuggest__suggestions-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.react-autosuggest__suggestions-list li {
    cursor: pointer;
    border-bottom: 1px solid $brand-super-light-color;
}

.react-autosuggest__suggestions-list li:hover {
    color: white;
    background-color: $brand-color-primary;
}

.autosuggest-option {
    display: block;
    padding: 5px 10px;

    &.selected {
        color: white;
        background-color: $brand-color-primary;   
    }
}
