@charset "UTF-8";

@font-face {
  font-family: "meta";
  src:url("fonts/meta.eot");
  src:url("fonts/meta.eot?#iefix") format("embedded-opentype"),
    url("fonts/meta.woff") format("woff"),
    url("fonts/meta.ttf") format("truetype"),
    url("fonts/meta.svg#meta") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "meta" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="meta-"]:before,
[class*=" meta-"]:before {
  font-family: "meta" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.meta-icons-add:before {
  content: "\61";
}
.meta-icons-attachments:before {
  content: "\62";
}
.meta-icons-calendar:before {
  content: "\63";
}
.meta-icons-chevron:before {
  content: "\64";
}
.meta-icons-close:before {
  content: "\65";
}
.meta-icons-close-alt:before {
  content: "\66";
}
.meta-icons-delete:before {
  content: "\67";
}
.meta-icons-down:before {
  content: "\68";
}
.meta-icons-duplicate:before {
  content: "\69";
}
.meta-icons-edit:before {
  content: "\6a";
}
.meta-icons-file:before {
  content: "\6b";
}
.meta-icons-fullscreen:before {
  content: "\6c";
}
.meta-icons-generate:before {
  content: "\6d";
}
.meta-icons-list:before {
  content: "\6e";
}
.meta-icons-logout:before {
  content: "\6f";
}
.meta-icons-message:before {
  content: "\70";
}
.meta-icons-more:before {
  content: "\71";
}
.meta-icons-preview:before {
  content: "\72";
}
.meta-icons-print:before {
  content: "\73";
}
.meta-icons-profile:before {
  content: "\74";
}
.meta-icons-report:before {
  content: "\75";
}
.meta-icons-report-1:before {
  content: "\76";
}
.meta-icons-settings:before {
  content: "\77";
}
.meta-icons-share:before {
  content: "\78";
}
.meta-icons-trash:before {
  content: "\79";
}
