@charset 'UTF-8';

@font-face {
    font-family: 'metasfresh';
    src:url('fonts/metasfresh.eot');
    src:url('fonts/metasfresh.eot?#iefix') format('embedded-opentype'),
    url('fonts/metasfresh.woff') format('woff'),
    url('fonts/metasfresh.ttf') format('truetype'),
    url('fonts/metasfresh.svg#metasfresh') format('svg');
    font-weight: normal;
    font-style: normal;
    
}

[data-icon]:before {
    font-family: 'metasfresh' !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^='meta-icon-']:before,
[class*=' meta-icon-']:before {
    font-family: 'metasfresh' !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.meta-icon-accept:before {
    content: '\61';
}
.meta-icon-add:before {
    content: '\62';
}
.meta-icon-attachments:before {
    content: '\63';
}
.meta-icon-beschaffung:before {
    content: '\64';
}
.meta-icon-calendar:before {
    content: '\65';
}
.meta-icon-checkbox:before {
    content: '\66';
}
.meta-icon-checkbox-1:before {
    content: '\67';
}
.meta-icon-chevron-1:before {
    content: '\68';
}
.meta-icon-close-1:before {
    content: '\69';
}
.meta-icon-close-alt:before {
    content: '\6a';
}
.meta-icon-collapse:before {
    content: '\6b';
}
.meta-icon-crm:before {
    content: '\6c';
}
.meta-icon-delete:before {
    content: '\6d';
}
.meta-icon-down-1:before {
    content: '\6e';
}
.meta-icon-duplicate:before {
    content: '\6f';
}
.meta-icon-edit:before {
    content: '\70';
}
.meta-icon-fakturierung:before {
    content: '\71';
}
.meta-icon-file:before {
    content: '\72';
}
.meta-icon-finanzen:before {
    content: '\73';
}
.meta-icon-fullscreen:before {
    content: '\74';
}
.meta-icon-generate:before {
    content: '\75';
}
.meta-icon-important:before {
    content: '\76';
}
.meta-icon-issue:before {
    content: '\77';
}
.meta-icon-langerverwaltung:before {
    content: '\78';
}
.meta-icon-left:before {
    content: '\79';
}
.meta-icon-lieferung:before {
    content: '\7a';
}
.meta-icon-list:before {
    content: '\41';
}
.meta-icon-listing-down:before {
    content: '\42';
}
.meta-icon-listing-up:before {
    content: '\43';
}
.meta-icon-logout:before {
    content: '\44';
}
.meta-icon-menu:before {
    content: '\45';
}
.meta-icon-message:before {
    content: '\46';
}
.meta-icon-more:before {
    content: '\47';
}
.meta-icon-notifications:before {
    content: '\48';
}
.meta-icon-package:before {
    content: '\49';
}
.meta-icon-pallete:before {
    content: '\4a';
}
.meta-icon-preview:before {
    content: '\4b';
}
.meta-icon-print:before {
    content: '\4c';
}
.meta-icon-product:before {
    content: '\4d';
}
.meta-icon-production:before {
    content: '\4e';
}
.meta-icon-produktverwaltung:before {
    content: '\4f';
}
.meta-icon-profile:before {
    content: '\50';
}
.meta-icon-receive:before {
    content: '\51';
}
.meta-icon-report:before {
    content: '\52';
}
.meta-icon-report-1:before {
    content: '\53';
}
.meta-icon-right:before {
    content: '\54';
}
.meta-icon-sales:before {
    content: '\55';
}
.meta-icon-save:before {
    content: '\56';
}
.meta-icon-settings:before {
    content: '\57';
}
.meta-icon-share:before {
    content: '\58';
}
.meta-icon-trash:before {
    content: '\59';
}
.meta-icon-upload:before {
    content: '\5a';
}
.meta-icon-upload-1:before {
    content: '\30';
}
.meta-icon-vertragsverwaltung:before {
    content: '\31';
}
.meta-icon-wereneingang:before {
    content: '\32';
}
.meta-icon-photo:before {
    content: '\33';
}
