@charset "UTF-8";

@font-face {
  font-family: "meta";
  src:url("fonts/meta.eot");
  src:url("fonts/meta.eot?#iefix") format("embedded-opentype"),
    url("fonts/meta.woff") format("woff"),
    url("fonts/meta.ttf") format("truetype"),
    url("fonts/meta.svg#meta") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "meta" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="meta-"]:before,
[class*=" meta-"]:before {
  font-family: "meta" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.meta-icon-add:before {
  content: "\61";
}
.meta-icon-attachments:before {
  content: "\62";
}
.meta-icon-calendar:before {
  content: "\63";
}
.meta-icon-chevron:before {
  content: "\64";
}
.meta-icon-close:before {
  content: "\65";
}
.meta-icon-close-alt:before {
  content: "\66";
}
.meta-icon-delete:before {
  content: "\67";
}
.meta-icon-down:before {
  content: "\68";
}
.meta-icon-duplicate:before {
  content: "\69";
}
.meta-icon-edit:before {
  content: "\6a";
}
.meta-icon-file:before {
  content: "\6b";
}
.meta-icon-fullscreen:before {
  content: "\6c";
}
.meta-icon-generate:before {
  content: "\6d";
}
.meta-icon-list:before {
  content: "\6e";
}
.meta-icon-logout:before {
  content: "\6f";
}
.meta-icon-message:before {
  content: "\70";
}
.meta-icon-more:before {
  content: "\71";
}
.meta-icon-preview:before {
  content: "\72";
}
.meta-icon-print:before {
  content: "\73";
}
.meta-icon-profile:before {
  content: "\74";
}
.meta-icon-report:before {
  content: "\75";
}
.meta-icon-report-1:before {
  content: "\76";
}
.meta-icon-settings:before {
  content: "\77";
}
.meta-icon-share:before {
  content: "\78";
}
.meta-icon-trash:before {
  content: "\79";
}
