@import './variables.css';


.header-sticky-distance{
    margin-top: 55px;
}

.header {
    border-bottom: 1px solid;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 55px;
    z-index: 100;
}
.header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.header-logo {
    height: 31px;
}

.header-middle {
    padding: .7rem 1rem;
    display: inline-block;
}

.header-breadcrumb {
    color: $brand-font-color-secondary;
    font-size: 0.875rem;
    margin-left: 15px;
    max-width: calc(100% - 130px);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;
}

.header-breadcrumb a {
    color: $brand-link-color;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.header-breadcrumb .divider {
    margin: 0 .4rem;
}


.header-breadcrumb > * {
    flex: 1 1 auto;
    white-space: nowrap;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-breadcrumb > *:first-of-type{
    flex: 1 1 40px;
    font-weight: bold;
}

.header-input-id {
    margin: 0 .5rem;
}

.header-super-faded {
    background-color: #FFF;
    border-bottom-color: #dee6ec;
}

.header-input-sm {
    width:60px;
}
.header-input-sm input{
    font-size: 0.85rem;
}
.header-input-sm .input-icon-right {
    font-size: 0.85rem;
    right:3px;
}

.header-input-sm .form-group {
    margin-bottom:0;
}

.header-input-sm .input-secondary,
.header-input-sm .input-secondary input {
    margin: 0;
    font-size: 0.85rem;
    line-height: 1;
    padding: 0;
}

.subheader-container {
    display: none;
    width: 100%;
    position: fixed;
    z-index:200;
    background-color: $brand-bright-color;
    box-shadow: 0 7px 15px 0 rgba(0,0,0,.3);
}

.subheader-open {
    display: block;
}

.subheader-column {
    width: 25%;
    border-right: 1px solid #e1e7ec;
}

.subheader-item {
    color: inherit;
    width: 100%;
    display: block;
    padding: .75rem 1.25rem;
    cursor: pointer;
    text-decoration: none !important;

}

.subheader-item:hover {
    background-color: $brand-color-primary;
    color: #fff;
}

.subheader-header {
    padding: .75rem 1.25rem;
    color: $brand-color-primary;
    font-size: 1.1rem;
}
.subheader-row {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: space-around;
}

.subheader-break {
    width: 100%;
    height: 1px;
    padding:0 !important;
    background-color: #e1e7ec;
}

.btn-subheader-open {
    position: relative;
    z-index:300;
}

.header-left-side,
.header-right-side {
    width: calc(50% - 75px);
    display: flex;
    flex-direction: row;
}
.header-right-side {
    align-items: stretch;
    justify-content: flex-end;
}
.header-right-side .form-group {
    height: auto;
    min-height: 100%;
    margin: 0;
}
.header-left-side {
    align-items: center;
}

.header-right-side .side-panel-toggle {
    margin-left: 15px;
}
.btn-header-open {
    border-width: 1px 1px 0 1px;
    border-style: solid;
}

.btn-header {
    border-color: $brand-border-color;
}
