@import './variables.css';


.header-sticky-distance{
    margin-top: 55px;
}

.header {
    border-bottom: 1px solid;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 55px;
    z-index: 100;
}
.header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.header-logo {
    height: 31px;
}

.header-middle {
    padding: .7rem 1rem;
    display: inline-block;
}

.header-breadcrumb {
    color: $brand-font-color-secondary;
    font-size: 0.875rem;
    width: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;
}

.header-breadcrumb-spaced {
    margin-left: 1rem;
}

.header-breadcrumb a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.header-breadcrumb-link{
    color: $brand-link-color !important;
}


.header-breadcrumb .divider {
    margin: 0 .2rem;
    min-width: 5px;
}


.header-breadcrumb > * {
    white-space: nowrap;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-breadcrumb > *:first-of-type{
    font-weight: bold;
    min-width: 40px;
}

.header-input-id {
    margin: 0 .3rem;
}

.header-super-faded {
    background-color: #FFF;
    border-bottom-color: #dee6ec;
}

.header-input-sm {
    width:60px;
    min-width: 60px;
}
.header-input-sm input{
    font-size: 0.85rem;
}
.header-input-sm .input-icon-right {
    font-size: 0.85rem;
    right:3px;
}

.header-input-sm .form-group {
    margin-bottom:0;
}

.header-input-sm .input-secondary,
.header-input-sm .input-secondary input {
    margin: 0;
    font-size: 0.85rem;
    line-height: 1;
    padding: 0;
}

.subheader-container {
    display: none;
    width: 100%;
    position: fixed;
    z-index:200;
    background-color: $brand-bright-color;
    box-shadow: 0 7px 15px 0 rgba(0,0,0,.3);
}

.subheader-open {
    display: block;
}

.subheader-column {
    width: 25%;
    border-right: 1px solid #e1e7ec;
}

.subheader-item {
    color: inherit;
    width: 100%;
    display: block;
    padding: .75rem 1.25rem;
    cursor: pointer;
    text-decoration: none !important;

}

.subheader-item:hover {
    background-color: $brand-color-primary;
    color: #fff;
}

.subheader-header {
    padding: .75rem 1.25rem;
    color: $brand-color-primary;
    font-size: 1.1rem;
}
.subheader-row {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: space-around;
}

.subheader-break {
    width: 100%;
    height: 1px;
    padding:0 !important;
    background-color: #e1e7ec;
}

.btn-subheader-open {
    position: relative;
    z-index:300;
}

.header-left-side,
.header-right-side {
    width: calc(50% - 75px);
    display: flex;
    flex-direction: row;
}
.header-right-side {
    align-items: stretch;
    justify-content: flex-end;
}
.header-right-side .form-group {
    height: auto;
    min-height: 100%;
    margin: 0;
}
.header-left-side {
    align-items: center;
}

.header-right-side .side-panel-toggle {
    margin-left: 15px;
}
.btn-header-open {
    border-width: 1px 1px 0 1px;
    border-style: solid;
}

.btn-header {
    border-color: $brand-border-color;
}

/* OVERLAY */


.menu-overlay {
    position: absolute;
    margin-top: -1.55rem;
    pointer-events: none;
}

.menu-overlay .menu-overlay-body {
    padding: 1.8rem 1.2rem;
    width: 250px;
    min-height: 400px;
    z-index:1;
    margin-top:-1px;
    pointer-events: all;
}

.menu-overlay-primary .menu-overlay-body {
    background-color: $brand-bright-color;
    border:1px solid $brand-border-color-2;
    box-shadow: 0 6px 10px 0 rgba(165, 165, 165, 0.2);
}

.menu-overlay-caption {
    display: inline-block;
    position: relative;
    z-index:25;
    background-color: $brand-bright-color;
    border:1px solid $brand-border-color-2;
    border-bottom-width: 0;
    padding: .2rem .68rem;
}

.menu-overlay-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .875rem;
}

.menu-overlay-body a{
    color: $brand-link-color;
    display: block;
    margin: .5rem 1rem;
}
