@import './variables.css';


.header-sticky-distance{
    margin-top: 55px;
}

.header {
    border-bottom: 1px solid;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 55px;
    z-index: 201;
}
.header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    height: 31px;
}

@media (max-width: $breakpoint){
    .header .container-fluid {
        padding-left:0;
        padding-right:0;
    }
    .header-logo {
        height: 20px;
    }
}

.header-middle {
    padding: .7rem 1rem;
    display: inline-block;
}

.header-breadcrumb {
    color: $brand-font-color-secondary;
    font-size: 0.875rem;
    width: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;
}

@media (max-width: $breakpoint){
    .header-breadcrumb{
        top: 54px;
        left: 0px;
        position: absolute;
        background-color: #fff;
        width: 100%;
        border-bottom: 1px solid $brand-border-color;
        border-top: 1px solid $brand-border-color;
        padding:4px 0;
    }
    .header-sticky-distance {
        margin-top: 83px;
    }
}

.header-breadcrumb a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.header-breadcrumb-link{
    color: $brand-link-color !important;
}


.header-breadcrumb .divider {
    margin: 0 .2rem;
    min-width: 5px;
}


.header-breadcrumb > * {
    white-space: nowrap;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80px;
}

.header-breadcrumb > .menu-overlay-expand,
.header-breadcrumb > .menu-overlay-link {
    display: inline-block;
}

.header-input-id {
    margin: 0 .3rem;
}

.header-super-faded {
    background-color: #FFF;
    border-bottom-color: #dee6ec;
}

.header-input-sm {
    width:60px;
    min-width: 60px;
}
.header-input-sm input{
    font-size: 0.85rem;
}
.header-input-sm .input-icon-right {
    font-size: 0.85rem;
    right:3px;
}

.header-input-sm .form-group {
    margin-bottom:0;
}

.header-input-sm .input-secondary,
.header-input-sm .input-secondary input {
    margin: 0;
    font-size: 0.85rem;
    line-height: 1;
    padding: 0 10px 0 0;
}

.subheader-container {
    display: none;
    width: 100%;
    position: fixed;
    z-index:200;
    background-color: $brand-bright-color;
}

.subheader-open {
    display: block;
}

.subheader-column {
    width: 25%;
    border-right: 1px solid #e1e7ec;
}
@media (max-width: $breakpoint) {
    .subheader-container {
        top: 55px;
        z-index: 201;
        max-height: calc(100vh - 55px);
        overflow: scroll;
    }
    .subheader-column {
        width: 100%;
        border-bottom: 1px solid $brand-border-color;
    }
}

.subheader-item {
    color: inherit;
    width: 100%;
    display: block;
    padding: .75rem 1.25rem;
    text-decoration: none !important;
}

.subheader-item:not(.subheader-item-disabled){
    cursor: pointer;
}

.subheader-item:not(.subheader-item-disabled):hover {
    background-color: $brand-color-primary;
    color: #fff;
}

.subheader-header {
    padding: .75rem 1.25rem;
    color: $brand-color-primary;
    font-size: 1.1rem;
}
.subheader-row {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: space-around;
}

.subheader-break {
    width: 100%;
    height: 1px;
    padding:0 !important;
    background-color: #e1e7ec;
}

.btn-subheader-open {
    position: relative;
    z-index:300;
}

.btn-square {
    min-width: 55px;
}


.header-left-side,
.header-right-side {
    width: calc(50% - 75px);
    display: flex;
    flex-direction: row;
}
.header-right-side {
    align-items: center;
    justify-content: flex-end;
}
.header-right-side .form-group {
    height: auto;
    min-height: 100%;
    margin: 0;
}
.header-left-side {
    align-items: center;
}
.btn-header-open {
    border-width: 1px 1px 0 1px;
    border-style: solid;
}

.btn-header {
    border-color: $brand-border-color;
}

/* OVERLAY */


.menu-overlay {
    position: fixed;
    z-index:100;
    pointer-events: none;
    top:0;
}

.menu-overlay-body {
    padding: 1rem 1.2rem 1.8rem 1.2rem;
    min-height: 400px;
    z-index:1;
    margin-top:-1px;
    pointer-events: all;
    overflow: auto;
    max-height: calc(100vh - 80px);
}

.menu-overlay-root-body {
    display: flex;
}

.menu-overlay-node-container {
    width: 100%;
    display: inline-block;
}

.menu-overlay-header-deep {
    font-weight: 400;
}

.menu-overlay-node-spaced {
    margin-left: 1rem;
}

.menu-overlay-root-body .menu-overlay-node-container {
    width: 220px;
    display: block;
}

.menu-overlay-query {
    width: 350px;

    padding: 1rem 1.2rem;

    max-height: 600px;
    overflow: hidden;
}

.menu-overlay-query .input-primary {
    padding: .1rem .50rem;
    background-color: #fff;
    margin-bottom: .5rem;
}

.menu-overlay-query .input-field {
    margin-left: .3rem;
}

.menu-overlay-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 450px;
}


.menu-overlay-primary .menu-overlay-body {
    background-color: $brand-bright-color;
    border:1px solid $brand-border-color-2;
    position: relative;
}

.menu-overlay-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index:25;
    background-color: $brand-bright-color;
    border:1px solid $brand-border-color-2;
    border-bottom-width: 0;
    color: $brand-link-color;
    pointer-events: visible;
    width: 55px;
    height: 55px;
    padding-bottom: 6px;
}

.menu-overlay-caption-text {
    width: 80px;
    padding-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-overlay-header {
    font-size: .875rem;
    margin:0;
}
.menu-overlay-header-main {
    font-weight: 500;
    text-transform: uppercase;
}
.menu-overlay-header-spaced {
    margin: 1rem 0;
}
.menu-overlay-expanded-link {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1rem;
}

.menu-overlay-expanded-link-spaced {
    margin: .5rem 0;
}

.menu-overlay-link,
.menu-overlay-expand {
    color: $brand-link-color;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.menu-overlay-expand:hover {
    border-bottom: 1px dashed $brand-link-color;
}
.menu-overlay-link:hover {
    border-bottom: 1px solid $brand-link-color;
}

.menu-overlay-expanded-link {
    color: $brand-link-color;
    width: auto;
}
