
.indicators-wrapper {
    border: 1px solid $brand-border-color;
    border-radius: 3px;
    overflow: hidden;
    height: 130px;
    margin: .5rem;
    display: flex;
    align-items: center;
}

.indicator {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indicator-value {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    flex: 2;
    display: flex;
    align-items: flex-end;
}

.indicator-caption {
    float: right;
    font-weight: bold;
    font-size: 0.8rem;
    background: $brand-super-light-color;
    padding: 5px;
}

.indicator-kpi-caption {
    font-size: 0.8rem;
    text-align: center;
    flex: 1;
    vertical-align: middle;
    display: flex;
}

@media screen and (max-width: 991px) {
    .indicator {
        width: 50%;
        height: 130px;
        border: 0 !important;
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    .indicators-wrapper {
        height: 100%;
    }
    .indicator {
        width: 100%;
        height: 130px;
        border: 0 !important;
        display: block;
    }
}

.indicator-hidden {
    display: none;
}

.indicator iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.indicator:not(:first-of-type) {
    border-left: 1px solid $brand-border-color;
}


.indicator-bar {
    height: 2px;
}

.indicator-saved {
    animation-name: indicator-saving;
    animation-duration: 1s;
}

.indicator-pending {
    background-color: #D0D2CE;
    animation-name: indicator-pending;
    animation-duration: 1s;
}

.indicator-error {
    animation-name: indicator-error;
    animation-duration: 1s;
}

@keyframes indicator-pending {
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}

@keyframes indicator-saving {
    0% {
        width: 30%;
        background-color: #ADADAD;
    }
    60% {
        width: 100%;
        background-color: #ADADAD;
    }
    85% {
        width: 100%;
        background-color: $brand-success-color;
    }
    100% {
        width: 0%;
        background-color: transparent;
    }
}

@keyframes indicator-error {
    0% {
        width: 30%;
        background-color: #ADADAD;
    }
    60% {
        width: 100%;
        background-color: #ADADAD;
    }
    85% {
        width: 100%;
        background-color: $brand-font-color-danger;
    }
    100% {
        width: 0%;
        background-color: transparent;
    }
}
