@import './variables.css';



/*
 *  MAIN PROPERTIES
 */
table td:focus
 {
    outline-color: $brand-font-color;
    outline-width:1px;
    outline-offset:0px;
    outline-style: inset;
}

.table-read-only *:focus {
    outline-width:0px;
}

textarea {
    resize: none;
    background: transparent;
    width: 100%;
    height:6.8rem;
}

::placeholder {
    font-weight: normal;
}

input {
    background-color: transparent;
    color: $brand-font-color;
    min-width: 50px;
    text-align: inherit;
}

.form-control:disabled {
    cursor: default !important;
}

.form-control-label {
    margin-top:.5rem;
    margin-bottom: .3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*
 *  CUSTOM BUTTONS
 */

 button {
     position: relative;
 }

 .btn-inline {
     display: inline-block;
 }

 .btn-icon {
     width: 32px;
     height: 32px;
     border-radius: 3px;
     border: 1px solid $brand-light-color;
     font-size: 16px;
     line-height: 32px;
     text-align: center;
     text-decoration: none !important;
     color: $brand-font-color;
 }

 .btn-square {
     height: 55px;
     width: 55px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     font-size: 18px;
 }

 .btn-xs {
     padding: .25rem .6rem;
     font-size: .65rem;
     line-height: 1.5;
     border-radius: .2rem;
 }
 .btn-sm {
     padding: .3125rem .6rem;
     font-size: .75rem;
     line-height: 1.5;
     border-radius: .2rem;
 }
 .btn-md {
     padding: .5rem 1.2rem;
     font-size: .875rem;
     line-height: 1.5;
     border-radius: .2rem;
 }

 .btn-disabled {
     pointer-events: none;
 }

 .btn-xs.dropdown-toggle {
     padding: .25rem;
 }


 .btn-meta-default {
     color: $brand-color-primary;
     background-color: $brand-bright-color;
     border-color: $brand-bright-color;
 }

 .btn-meta-default:hover {
     background-color: color(#F8FAFB lightness(90%));
     border-color: color(#F8FAFB lightness(90%));
 }

 .btn-meta-default-dark {
     color: $brand-color-primary;
     background-color: #F8FAFB;
 }

.btn-meta-default-dark:hover {
  background-color: color(#F8FAFB lightness(90%));
}

 .btn-meta-default-bright {
     color: $brand-color-primary;
     background-color: #fff;
 }

 .btn-meta-default-bright:hover {
     background-color: color(#F8FAFB lightness(90%));
 }

 .btn-meta-success{
     color: #fff;
     background-color: #89d729;
     border-color: #89d729;
 }
 .btn-meta-success:hover{
     background-color: color(#89d729 lightness(45%));
     border-color: color(#89d729 lightness(45%));
 }

 .btn-meta-inv-success{
     color: #89d729;
     background-color: #fff;
     border-color: #fff;
 }
 .btn-meta-inv-success:hover{
     background-color: #fff;
     border-color: #fff;
 }

 .btn-meta-primary {
     color: #fff;
     background-color: #9aafbd;
     border-color: #9aafbd;
 }
 .btn-meta-primary:hover{
     background-color: color(#9aafbd lightness(45%));
     border-color: color(#9aafbd lightness(45%));
 }

 .btn-meta-secondary {
     color: #fff;
     background-color: $brand-light-color;
     border-color: $brand-light-color;
 }
 .btn-meta-secondary:hover{
     background-color: color(#C9D5DC lightness(45%));
     border-color: color(#C9D5DC lightness(45%));
 }
 .btn-meta-outline-secondary {
     border: solid 1px $brand-light-color;
     color: $brand-font-color-secondary;
     background-color: transparent;
 }
 .btn-meta-outline-secondary:hover {
     background-color: color(#000 lightness(95%));
 }

 .btn-distance {
    margin-right: .5rem;
 }
 .btn-distance-3 {
    margin-right: 1.5rem;
 }




/*
 *  CUSTOM CHECKBOX
 */
.input-checkbox {
	position: relative;
	display: inline-block;
    height: 18px;
	padding-left: 18px;
	cursor: pointer;
    margin-top: .5rem;
    margin-bottom: 0;
}

.table .input-checkbox {
    margin-top: 4px;
    height: 15px;
}

.input-checkbox input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.input-checkbox-tick {
	position: absolute;
	left: 0;
	width: 18px;
	height: 18px;
	background: #fff;
    border:1px solid $brand-light-color;
    border-radius: 2px;
}

.input-checkbox input:checked ~ .input-checkbox-tick {
	background: $brand-success-dark-color;
    border-color: $brand-success-dark-color;
}

.input-checkbox input:disabled ~ .input-checkbox-tick {
	pointer-events: none;
	background: #ccc;
    border: 0;
}

.input-checkbox-tick:after {
	position: absolute;
	display: none;
	content: '';
}

.input-checkbox input:checked ~ .input-checkbox-tick:after {
	display: block;
}

.input-checkbox .input-checkbox-tick:after {
	top: 2px;
	left: 5px;
	width: 6px;
	height: 10px;
	transform: rotate(45deg);
	border: 2px solid #fff;
	border-width: 0 2px 2px 0;
}

.input-checkbox input:disabled ~ .input-checkbox-tick:after {
	border-color: #fff;
}

/*
 *  CUSTOM SWITCH
 */
.input-switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 22px;
    margin-top: .5rem;
    margin-bottom:0;
}

.input-switch input {
    display:none;
}

.input-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 24px;
}

.input-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .input-slider {
  background-color: $brand-success-dark-color;
}

input:focus + .input-slider {
  box-shadow: 0 0 1px $brand-success-dark-color;
}

input:checked + .input-slider:before {
  transform: translateX(22px);
}



/*
 *  INPUT STATES
 */

.input-primary.input-mandatory {
    border: 2px solid $brand-mandatory-color !important;
}
.input-secondary.input-mandatory {
    border-bottom: 2px solid $brand-mandatory-color !important;
}



.input-auto {
    font-style: italic;
}

.input-primary,
.input-secondary {
    margin-right:0;
    margin-left:0;
    padding: .3rem .50rem;
    display: inline-block;
}

.input-secondary {
    border-bottom: 1px solid $brand-light-color;
    color: $brand-font-color-secondary;
    padding: .125rem .5rem;
    /* Margin top for depreciation of padding differences */
    margin-top: .3125rem;
    margin-bottom: .125rem;
}
.input-secondary input{
    color: $brand-font-color-secondary;
}
.input-secondary .input-icon-right {
    color: $brand-font-color-weak;
}
.input-primary input
.input-primary .input-rest {
    color: $brand-font-color;
}
.input-secondary + .input-dropdown-list {
    border-top:0;
}

.input-primary {
    border: 1px solid $brand-light-color;
    border-radius: 3px;
}

.input-error {
    border-color: $brand-danger-color;
}

.input-error,
.input-error * {
    color: $brand-font-color-danger;
}

.input-error.input-primary,
.input-error.input-primary * {
    background-color: $brand-danger-light-color;
}

.input-error.input-secondary,
.input-error.input-secondary * {
    border-width: 2px;
}

.input-secondary .input-icon {
    bottom: -3px;
}
.input-icon {
    bottom: -3px;
    position: relative;
    color: $brand-font-color-weak;
}

.input-editable {
    flex: 2 1 30%;
}
.input-full {
    flex: 2 1 100%;
}

.input-full .input-editable {
    flex: 4 1 30%;
}

.input-full .input-rest {
    flex: 0 0 20%;
}

.input-readonly {
    pointer-events: none;
}
.input-rest {
    text-align: right;
    flex: 1 1 50%;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 5px;
    display: flex;
}

@media (max-width: $breakpoint){
    .input-dropdown-container .input-dropdown{
        flex-direction: column;
    }
    .input-dropdown .input-icon {
        top: -9px;
    }
    .input-editable {
        flex: 1 1 50%;
        flex-shrink: 1;
    }
    .input-rest {
        flex-direction: column;
        align-items: baseline;

    }
}


.input-rest span {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 50%;
}

.input-block {
    width: 100%;
}

.input-icon-container {
    position: relative;
    display: inline-block;
    padding-right: 0.5rem;
}


.input-icon-container .meta-icon-calendar {
  z-index: -1;
}

.input-icon-right{
    position: absolute;
    top: 2px;
    right: 5px;
    font-size:18px;
}

.input-icon-sm {
    font-size:10px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.input-icon-lg {
    font-size: 16px;
}

.btn-icon-sm {
    font-size: 12px;
    margin-right:5px;
}
.btn-icon-md {
    font-size: 14px;
    margin-right:5px;
}

.form-group {
    margin-bottom: 0.2rem;
}

.form-control {
    color: #6E7D87;
    background-color: transparent;
    font-size: 14px;
    padding: .375rem .25rem .1rem;
}
.form-control:disabled, .form-control[readonly] {
    background-color: transparent;
}

.form-control-meta {
    border-radius:0;
    border-width: 0 0 1px 0;
    border-color: $brand-light-color;
    padding-right: 1.5rem;
    font-style: normal;
}

.form-control-meta:focus {
    border-color: $brand-light-color;
    background-color: transparent;
}

.form-control-meta[type="number"]::-webkit-outer-spin-button,
.form-control-meta[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-dropdown-container {
    position: relative;
    cursor: pointer;
    min-width: 200px;
}
.input-dropdown-container-static {
    position: static;
}
.input-dropdown-container .input-dropdown {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position:relative;
}
.input-dropdown-container:focus {
    outline-width: 0;
}
.input-dropdown-focused .input-toggled {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.input-table .input-dropdown-list {
    margin-top:8px;
    margin-left:-14px;
}
.input-dropdown-list {
    position: absolute;
    width: 100%;
    background-color: #fff;
    z-index:300;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: $brand-light-color;
    max-height: 357px;
    height: auto;
    overflow-y: auto;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.input-field {
    border: 0;
    width: 100%;
    outline-width:0;
    cursor: inherit;
}
.input-dropdown-list-header {
    background-color: $brand-super-light-color;
    padding: .25rem .50rem;
    font-size: .8rem;
}
.input-dropdown-list-option {
    padding: .25rem .50rem;
    cursor: pointer;
    position: relative;
}
.input-dropdown-list-option:not(:first-of-type) {
    border-top: 1px solid $brand-light-color;
}
.input-dropdown-list-option-alt {
    font-size: .8rem;
    font-weight:bold;
}
.input-dropdown-list-option:hover,
.input-dropdown-list-option-key-on {
    background-color: $brand-color-primary;
    color: #fff;
}
.input-dropdown-list-option p {
    margin:0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.input-dropdown-item-title {
    margin-bottom: 6px;
    font-weight: 500;
}
.input-dropdown-item-subtitle {
    font-size: .75rem;
}
input[type=checkbox]:disabled, input[type=radio]:disabled {
    cursor: default;
}

.form-flex-align {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: .5rem;
    align-items: center;

    flex:1;
}
.form-flex-align > *:not(:last-child){
    margin-right: .5rem;
}
.form-flex-align input {
    flex: 2 1 auto;
}

.input-disabled {
    opacity: .5;
}

.input-flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.attributes {
    position: static;
    padding-top: 4px;
    display: block;
    min-width: 5rem;
    max-width: 10rem;
}

.attributes-in-table {
    padding:0;
}

.attributes-in-table .tag {
    padding: .095rem .3rem;
}

.attributes::selection {
    background-color: none;
    color: inherit;
}

.attributes-dropdown {
    position: absolute;
    z-index: 50;
    margin-top:5px;
    width: 450px;
}

.quick-input-container {
    display: flex;
    align-items: center;
    flex:1;
}

.quick-input-container > * {
    margin:0;
    width:100%;
}
.btn-select {
    background: $brand-color-primary;
    color: white;
}

.btn-filter:hover {
    background: $brand-color-primary;
    color: white;
}

.btn-active {
    background: $brand-primary-color;
    color: white;
}

.btn-active:hover {
    background: $brand-primary-color;
    color: white;
}

.btn i {
    padding-right: 4px;
}



.input-table .input-field {
    background: white;
    height: 20px;
    font-weight: normal;
}

.input-table .input-secondary {
    margin: 0;
    border-bottom: 0;
}

.input-table .input-secondary,
.input-table .input-dropdown {
    padding: 0;
}

.form-group-table {
    margin-bottom: 0;
}

.input-table .input-disabled input,
.input-table .input-mandatory input {
    background: transparent;
}

.input-dropdown-focused input {
    background-color: transparent;
}

.cell-mandatory:focus {
    outline: 1px solid $brand-mandatory-color;
}

.cell-disabled:focus {
    outline: 1px dashed #cbcbcb;
}

.rdtPicker {
    left: -.75rem;
    margin-top: 7px;
}

.rdtPicker table {
    margin: 0;
}

.input-table .input-dropdown .input-field {
    background: transparent;
    color: $brand-font-color;
    font-style: italic;
}

.input-table .input-dropdown {
    border: none;
}

table .List .input-dropdown-item-title {
    font-weight: normal;
}

.input-disabled .input-field::-webkit-outer-spin-button,
.input-disabled .input-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-disabled .meta-icon-calendar {
    display: none;
}

table .input-secondary .input-icon-right {
    color: $brand-icon-color;
}

table .input-icon {
    color: $brand-icon-color;
}

.table .rdtPicker thead th {
    background-color: white;
    color: #6b7b86;
}

.table.table-bordered-vertically .rdtPicker td {
    border-right: 0;
}

.table-striped tbody .rdtPicker tr:nth-of-type(odd) {
    background-color: white;
}

table .rdtPicker tbody {
    background-color: white;
}

table .rdtPicker td,
.rdtPicker th {
    height: 28px;
}

table .rdtPicker table td,
.rdtPicker table th {
    vertical-align: middle;
    padding: 0;
}
.Lookup .input-icon {
    height: 16px;
    bottom: 0;
}
