.overlay-field {
    background: rgba(255,255,255,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-field .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.overlay-field input {
    text-align: center;
    font-size: 60px;
}

.overlay-field .form-control-label {
    font-size: 30px;
    text-align: center;
}

.barcode-scanner-widget {
    display: flex;
}

.scanner-wrapper {
    
}

.scanning-result {

}

.scanning-result .form-control-label {

}
