.overlay-field {
    background: rgba(255,255,255,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

@media (min-width: $breakpoint-md){
    overflow-y: auto;
}

.overlay-field .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.overlay-field input {
    text-align: center;
    font-size: 60px;
}

.overlay-field .form-control-label {
    font-size: 30px;
    text-align: center;
}

.barcode-scanner-widget {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 1px #C9D5DC;
}

.scanner-wrapper .drawingBuffer {
    position: absolute;
    top: 0;
    left:0;
}

.scanner-window {
    padding-top: 15px;
    width: 320px;
}

@media (min-width: $breakpoint-md){
    .scanner-window {
        width: 640px;
        float: none;
    }
}

.scanner-window video {
    max-width: 100%;
    width: 100%;
}

.scanning-result {
    margin-bottom: 20px;
}

.scanning-result .label {
    font-size: 18px;
}

.scanner-controls {
    margin: 20px 0;
}


