@import 'bootstrap/dist/css/bootstrap.min.css';
@import './variables.css';
@import './datetime.css';
@import './inputs.css';
@import './font-meta.css';

/**
*  IMPORTANT NOTE
*
* Layers
* - 0 - default - all static elements like tables or forms
* - < 100 - elements that are over static content (order list)
* - 100 - header
* - 200 - backdrop
* - 200 < - elements that are over backdrop (header expanded)
* - 400 - screen-freeze
*/


* {
    margin:0;
}

body {
    background-color: #F8FAFB;
    color: $brand-font-color;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
*::selection{
    background-color:$brand-color-primary;
    color: #fff;
}

/*
 *  Extension for bootstrap grid
 */
@media (min-width: 1900px){
    .container {
        max-width: 1824px;
    }
}

.tag {
    padding: .25rem .6rem;
    font-size: .65rem;
    line-height: 1.5;
    border-radius: .2rem;
    color: #fff;
    display: inline-block;
}

.tag-success {
    background-color: $brand-success-color;
}

.tag-primary {
    background-color: $brand-primary-color;
}

.tag-default {
    background-color: $brand-dark-color;
    color: $brand-font-color;
}

.tag-warning {
    background-color: #fd8b0f;
}

.text-brand {
    font-weight: 700;
    color: $brand-color-primary;
}


.panel {
    display: block;
    position: relative;
    width: 100%;
}
.panel-modal {
    max-width: 90%;
    height: 90vh;
}
.panel-modal-primary {
    background-color: #F8FAFB;
}
.panel-distance {
    margin-top: 2.25rem;
}
.panel-spaced {
    padding: 1rem 1.25rem 1.25rem 1.25rem;
}
.panel-spaced-sm {
    padding: .75rem .5rem;
}
.panel-bordered {
    border: 1px solid;
    border-radius: 3px;
}
.panel-bordered-force {
    overflow:auto;
}
.panel-primary {
    border-color: $brand-border-color;
    background-color: #FFF;
}

.panel-modal-header{
    position: relative;
    z-index:500;
    width:100%;
    height:75px;
    color: $brand-color-primary;
    border-bottom: 1px solid $brand-border-color;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.panel-modal-content {
    position: relative;
    height: calc(100% - 75px);
    width: 100%;
    overflow-y: auto;
}

.panel-modal-header-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: $brand-font-color;
}


.panel-title {
    margin-bottom: .625rem;
}
.panel-title-spaced{
    margin-top: 1.5rem;
}

.panel-prompt {
  width: 584px;
  height: 347px;
  box-shadow: 0 0 30px 0 rgba(165, 165, 165, 0.8);
  border: solid 0 $brand-border-color;
}

.panel-prompt-header {
  box-shadow: none;
  i {
    cursor: pointer;
  }
}

.panel-prompt-content {
  height: calc(100% - 150px);
  padding: 2rem;
}

.panel-prompt-footer {
      border-top: 1px solid $brand-border-color;
      border-bottom: none;
}

.panel-prompt-footer .btn-sm {
  min-width: 74px;
}

.prompt-button-wrapper {
  width: 100%;
  text-align: right;
}

.table {
    margin-bottom: 0;
}
.table *::selection{
    background-color:transparent;
    color:$brand-font-color;
}

.table thead th {
    border:0;
    background-color: $brand-color-secondary;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.th-lg {
    min-width: 200px;
    width:200px;
    max-width: 200px;
}
.th-md {
    min-width: 100px;
    max-width: 100px;
}
.th-sm {
    min-width: 60px;
    max-width: 100px;
}

.table td {
    cursor: pointer;
    border-top:0;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.table.table-bordered-horizontally td{
    border-bottom:1px solid $brand-border-color;
}
.table.table-bordered-vertically td{
    border-right:1px solid $brand-border-color;
}

.table-hide-property {
    display: none;
}

.table td, .table th {
    padding: .50rem .75rem;
}

.table td span {
    pointer-events: none;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F2F7FA;
}

.row-selected {
    background-color: #d5e3ec !important;
}

.table-sub-summary-row{
    background-color: #fff !important;
    border-top: 1px solid $brand-color-secondary;
}
.table-total-summary-row{
    background-color: $brand-color-secondary;
    color: #fff;
    text-transform: uppercase;
}
.table-total-summary-row td {
    border:0;
}

.table-footer-header {
    background-color: #bdd0dc;
    color: #fff;
    font-weight: bold;
}

.table-input-inline{
    border:0;
    outline-width: 0;
    width: 100%;
    height: 20px;
    color: $brand-font-color;
    background-color: #fff;
    text-align: center;
}


.context-menu {
    position:fixed;
    display:none;
    width: 150px;
    background-color: #fff;
    left:0;
    top:0;
    outline-width:0;
    font-size: .75rem;
    font-weight: normal;
    color: $brand-font-color;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    z-index: 2;
}
.context-menu-open {
    display: block;
}
.context-menu-item {
    cursor: pointer;
    padding: .5rem .5rem;
}
.context-menu-item:hover{
    background-color: $brand-color-primary;
    color: #fff;
}
.context-menu-item:last-of-type{
    margin:0;
}
.backdrop {
    position: fixed;
    width:100%;
    height:100%;
    z-index: 200;
}

.order-list-panel{
    position: fixed;
    display: none;
    height:100%;
    width: 472px;
    background-color: #fff;
    border-left: 1px solid $brand-border-color;
    z-index: 50;
    right:0;
}
.order-list-panel-open {
    display: block;
}

.order-list-panel-header{
    padding-left:10px;
}
.order-list-panel-icon {
    margin: 12px 5px;
}

.order-list-panel-body{
    font-size: 12px;
}

.tooltip-extended {
    position: absolute;
    display: none;
    width: 480px;
    z-index:100;
}
.tooltip-extended-show {
    display: block;
}

.tooltip-extended-right {
    left: 100%;
}


.tooltip-arrowed:after,
.tooltip-arrowed:before {
    content: '';
    display: block;
    position: absolute;
    right: 100%;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
}
.tooltip-arrowed:before {
    margin-top: -5px;
    border-color: transparent #c9d5dc transparent transparent;
    border-width: 9px;
}
.tooltip-arrowed:after {
    margin-top: -4px;
    border-color: transparent #fff transparent transparent;
    border-width: 8px;
}
.tooltip-primary {
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #c9d5dc;
    padding: 20px;
}

.sm {
    font-size: 0.75rem;
}

.row-bordered-bottom td{
    border-bottom: 1px solid;
}
.row-bordered-bright td {
    border-color: $brand-light-color;
}
.row-bordered-dark td {
    border-color: $brand-font-color;
}

.row-bordered-mod td:nth-child(1){
    border:0;
}


.product-order-summary {
    width: 100%;
}
.product-order-summary td {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}
.product-order-summary td:nth-child(1) {
    width: 15%;
}
.product-order-summary td:nth-child(2) {
    width: 30%;
}
.product-order-summary td:nth-child(3) {
    width: 30%;
    text-align: right;
}
.product-order-summary td:last-child {
    text-align: right;
}
.product-order-summary tr:last-child {
    font-weight: bold;
    font-size: 1rem;
}



.meta-dropdown-toggle i {
    margin-left: .4rem;
    margin-top: .2rem;
    font-size: .6rem;
}
.dropdown-status-toggler {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1.2rem;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid $brand-border-color;
    height:55px;
}
.dropdown-status-toggler .tag {
    padding: .3rem 1.5rem;
}
.dropdown-status-toggler:hover,
.dropdown-status-toggler:focus {
    background-color: #eef2f7;
    outline-width: 0;
}
.dropdown-status-toggler.dropdown-status-open .dropdown-status-list {
    display: block;
}
.dropdown-status-list {
    position: absolute;
    display: none;
    left: 0;
    top: calc(100% + 1px);
    list-style-type:none;
    padding:0;
    background-color: inherit;
    min-width: 100%;
    width: auto;
}
.dropdown-status-item {
    padding: 8px 10px;
}
.dropdown-status-item:hover {
    background-color: $brand-dark-color;
}

.dropdown-status-item-def-1 {
    background-color: $brand-success-color;
    color: #fff;
}
.dropdown-status-item-def-1:hover {
    background-color: $brand-success-dark-color;
}
.dropdown-status-item-def {
    background-color: $brand-primary-color;
    color: #fff;
}
.dropdown-status-item-def:hover {
    background-color: $brand-primary-dark-color;
}

.dropdown-status-toggler .meta-icon-chevron{
    margin-top: 1px;
}

.items-row{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.items-row-2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.items-col-bottom {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}

.meta-icon-primary {
    color: $brand-primary-color;
}
.meta-icon-success {
    color: $brand-success-color;
}
.meta-icon-default {
    color: $brand-default-color;
}



.elements-line {
    display: flex;
    width:100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.elements-line > * {
    flex: 1 1 auto;
}

.nav-tabs .nav-link {
    border: 1px solid $brand-border-color;
    background-color: #fdfdfd;
    cursor: pointer;
    padding: .6rem 1.2rem;
    font-weight: 400;
}

.nav-tabs .nav-item.nav-item {
    margin-right: .5rem;
    margin-left: 0;
}

.nav-tabs .nav-link.active {
    font-weight: 500;
}

.tab-content {
    border: 1px solid $brand-border-color;
    border-top: 0;
    background-color: #fff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 1rem 1.2rem;
}
.tab-pane {
    display: none;
}
.tab-pane.active {
    display: block;
}

.screen-freeze {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 400;
    background-color: rgba(18,18,18,.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screen-freeze-behind {
    overflow: hidden;
}

.screen-prompt-freeze {
  background-color: transparent;
}

.rotate {
    display: inline-block;
    animation: rotation 2s linear infinite;
    text-align: center;
}
.icon-rotate {
    width:1rem;
    height:1rem;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.empty-info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.empty-info-text div {
    text-align: center;
}

.indicator {
    width: 30px;
    display: flex;
    align-items: center;
    text-align: center;
}

.indicator img {
    width: 30px;
}

.indicator .success {
  color: $brand-success-color;
}

.indicator .error {
  color: $brand-font-color-danger;
}
