@import 'bootstrap/dist/css/bootstrap.min.css';
@import './variables.css';
@import './datetime.css';
@import './daterangepicker.css';
@import './inputs.css';
@import './font-meta.css';

/**
*  IMPORTANT NOTE
*
* Layers
* - 0 - default - all static elements like tables or forms
* - < 100 - elements that are over static content (order list)
* - 100 - header
* - 200 - backdrop
* - 200 < - elements that are over backdrop (header expanded)
* - 400 - screen-freeze
*/


* {
    margin:0;
}


body {
    background-color: #F8FAFB;
    color: $brand-font-color;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
*::selection{
    background-color:$brand-color-primary;
    color: #fff;
}

.container-fluid {
    padding-left: 3rem;
    padding-right: 3rem;
    height: 100%;
}

@media (max-width: 768px){
    .container-fluid {
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .row {
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }
    [class^="col-"],[class*=" col-"] {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

.window-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.sections-wrapper {
    flex-grow:0;
}

.tabs-wrapper,
.tabs-wrapper > div {
    flex-grow:1;
    display: flex;
    flex-direction: column;
}

/*
*  Extension for bootstrap grid
*/
@media (min-width: 1900px){
    .container {
        max-width: 1824px;
    }
}

.tag {
    padding: .25rem .6rem;
    font-size: .65rem;
    line-height: 1.5;
    border-radius: .2rem;
    color: #fff;
    display: inline-block;
    font-weight: 500;
}

.tag-block {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tag-success {
    background-color: $brand-success-color;
}

.tag-primary {
    background-color: $brand-primary-color;
}

.tag-default {
    background-color: $brand-dark-color;
    color: $brand-font-color;
}

.tag-warning {
    background-color: #fd8b0f;
}

.tag-secondary {
    background-color: #80909a;
    color: #fff;
}

.tag-lg {
    font-size: .75rem;
}

.text-brand {
    font-weight: 700;
    color: $brand-color-primary;
}


.panel {
    display: block;
    width: 100%;
}
.panel-modal {
    max-width: 90%;
    height: 90vh;
}
.panel-modal-primary {
    background-color: #F8FAFB;
}
.panel-distance {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}
.panel-distance:last-child {
    margin-bottom: 0;
}
.panel-distance.panel-secondary {
    margin: 0;
}
.panel-distance.panel-secondary:first-child {
    margin-top: 2.25rem;
}
.panel-spaced {
    padding: 1rem 1.25rem 1.25rem 1.25rem;
}
.panel-spaced-sm {
    padding: .75rem .5rem;
}
.panel-spaced-lg {
    padding: 2rem 2rem;
}
.panel-bordered {
    border: 1px solid;
    border-radius: 3px;
}
.panel-shadowed {
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
.panel-bordered-force {
    overflow:auto;
}
.panel-primary {
    border-color: $brand-border-color;
    background-color: #FFF;
}

@media (max-width: $breakpoint){
    .panel-distance {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    .panel-spaced {
        padding: .5rem;
    }
}

.panel-modal-header{
    position: relative;
    z-index:500;
    width:100%;
    height:75px;
    color: $brand-color-primary;
    border-bottom: 1px solid $brand-border-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: none;
    transition: all 0.2s ease;
}

.panel-modal-content {
    position: relative;
    height: calc(100% - 75px);
    width: 100%;
    overflow-y: auto;
    color: $brand-font-color;
}

.panel-modal-header-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: $brand-font-color;
}

.panel-inline > * {
    display: inline-block;
}


.panel-title {
    margin-bottom: .625rem;
}
.panel-title-spaced{
    margin-top: 1.5rem;
}

.panel-prompt {
    width: 584px;
    height: 347px;
    border: solid 0 $brand-border-color;
}

.panel-prompt-header {
    box-shadow: none;
    i {
        cursor: pointer;
    }
}

.panel-prompt-content {
    height: calc(100% - 150px);
    padding: 2rem;
}

.panel-prompt-footer {
    border-top: 1px solid $brand-border-color;
    border-bottom: none;
}

.panel-prompt-footer .btn-sm {
    min-width: 74px;
}

.prompt-button-wrapper {
    width: 100%;
    text-align: right;
}

.table {
    margin-bottom: 0;
}
.table *::selection{
    background-color:transparent;
    color:$brand-font-color;
}

.table thead th {
    border:0;
    background-color: $brand-color-secondary;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table .col-xs-12,
.table .col-sm-12 {
    position:static;
}

.table td {
    cursor: pointer;
    border-top:0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table.table-bordered-horizontally td{
    border-bottom:1px solid $brand-border-color;
}
.table.table-bordered-vertically td:not(:last-child){
    border-right:1px solid $brand-border-color;
}

.table-hide-property {
    display: none;
}

.table td, .table th {
    padding: .50rem .75rem;
}

.table td span {
    pointer-events: none;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F2F7FA;
}

.row-selected {
    background-color: #d5e3ec !important;
}

.table-sub-summary-row{
    background-color: #fff !important;
    border-top: 1px solid $brand-color-secondary;
}
.table-total-summary-row{
    background-color: $brand-color-secondary;
    color: #fff;
    text-transform: uppercase;
}
.table-total-summary-row td {
    border:0;
}

.table-footer-header {
    background-color: #bdd0dc;
    color: #fff;
    font-weight: bold;
}

.table-input-inline{
    border:0;
    outline-width: 0;
    width: 100%;
    height: 20px;
    color: $brand-font-color;
    background-color: #fff;
    text-align: center;
}


.context-menu {
    position:fixed;
    display:none;
    width: 150px;
    background-color: #fff;
    left:0;
    top:0;
    outline-width:0;
    font-size: .75rem;
    font-weight: normal;
    color: $brand-font-color;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    z-index: 2;
}
.context-menu-open {
    display: block;
}
.context-menu-item {
    cursor: pointer;
    padding: .5rem .5rem;
}
.context-menu-item:hover{
    background-color: $brand-color-primary;
    color: #fff;
}
.context-menu-item:last-of-type{
    margin:0;
}
.backdrop {
    position: fixed;
    width:100%;
    height:100%;
    z-index: 200;
}

.order-list-panel{
    position: fixed;
    display: none;
    height: calc(100% - 55px);
    width: 472px;
    background-color: #fff;
    border-left: 1px solid $brand-border-color;
    z-index: 200;
    right:0;
    overflow-y: scroll;
    overflow-x: hidden;
}
@media (max-width: $breakpoint){
    .order-list-panel{
        width: 100%;
        height: calc(100% - 80px);
    }
}
.order-list-panel-open {
    display: block;
}

.order-list-panel-header{
    padding-left:10px;
}
.order-list-panel-icon {
    margin: 12px 5px;
}

.order-list-panel-body{
    font-size: 12px;
}

.tooltip-extended {
    position: absolute;
    display: none;
    width: 480px;
    z-index:100;
}
.tooltip-extended-show {
    display: block;
}

.tooltip-extended-right {
    left: 100%;
}


.tooltip-arrowed:after,
.tooltip-arrowed:before {
    content: '';
    display: block;
    position: absolute;
    right: 100%;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
}
.tooltip-arrowed:before {
    margin-top: -5px;
    border-color: transparent #c9d5dc transparent transparent;
    border-width: 9px;
}
.tooltip-arrowed:after {
    margin-top: -4px;
    border-color: transparent #fff transparent transparent;
    border-width: 8px;
}
.tooltip-primary {
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #c9d5dc;
    padding: 20px;
}

.sm {
    font-size: 0.75rem;
}

.row-bordered-bottom td{
    border-bottom: 1px solid;
}
.row-bordered-bright td {
    border-color: $brand-light-color;
}
.row-bordered-dark td {
    border-color: $brand-font-color;
}

.row-bordered-mod td:nth-child(1){
    border:0;
}


.product-order-summary {
    width: 100%;
}
.product-order-summary td {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}
.product-order-summary td:nth-child(1) {
    width: 15%;
}
.product-order-summary td:nth-child(2) {
    width: 30%;
}
.product-order-summary td:nth-child(3) {
    width: 30%;
    text-align: right;
}
.product-order-summary td:last-child {
    text-align: right;
}
.product-order-summary tr:last-child {
    font-weight: bold;
    font-size: 1rem;
}



.meta-dropdown-toggle i {
    margin-left: .4rem;
    margin-top: .2rem;
    font-size: .6rem;
}
.dropdown-status-toggler {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1.2rem;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid $brand-border-color;
    height:55px;
}
.dropdown-status-toggler .tag {
    padding: .3rem 1.5rem;
}
.dropdown-status-toggler:hover,
.dropdown-status-toggler:focus {
    background-color: #eef2f7;
    outline-width: 0;
}
.dropdown-status-toggler.dropdown-status-open .dropdown-status-list {
    display: block;
}
.dropdown-status-list {
    position: absolute;
    display: none;
    left: 0;
    top: calc(100% + 1px);
    list-style-type:none;
    padding:0;
    background-color: inherit;
    min-width: 100%;
    width: auto;
}
.dropdown-status-item {
    padding: 8px 10px;
}
.dropdown-status-item:hover {
    background-color: $brand-dark-color;
}

.dropdown-status-item-def-1 {
    background-color: $brand-success-color;
    color: #fff;
}
.dropdown-status-item-def-1:hover {
    background-color: $brand-success-dark-color;
}
.dropdown-status-item-def {
    background-color: $brand-primary-color;
    color: #fff;
}
.dropdown-status-item-def:hover {
    background-color: $brand-primary-dark-color;
}

.dropdown-status-toggler .meta-icon-chevron{
    margin-top: 1px;
}

.items-row{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.items-row-2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.items-col-bottom {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}

.meta-icon-primary {
    color: $brand-primary-color;
}
.meta-icon-success {
    color: $brand-success-color;
}
.meta-icon-default {
    color: $brand-default-color;
}



.elements-line {
    display: flex;
    width:100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.elements-line > * {
    flex: 1 1 auto;
}

.nav-tabs .nav-link {
    border: 1px solid $brand-border-color;
    background-color: #fdfdfd;
    cursor: pointer;
    padding: .6rem 1.2rem;
    font-weight: 400;
}

.nav-tabs .nav-item.nav-item {
    margin-right: .5rem;
    margin-left: 0;
}

.nav-tabs .nav-link.active {
    font-weight: 500;
}

.tab-content {
    flex-grow: 1;
    border: 1px solid $brand-border-color;
    border-top: 0;
    background-color: #fff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 1rem 1.2rem;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.panel {
    padding-bottom: 100px;
}

.screen-freeze {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 400;
    background-color: rgba(18,18,18,.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    pointer-events: visible;
}

.screen-freeze-behind {
    overflow: hidden;
}

.screen-prompt-freeze {
    background-color: transparent;
}

.rotate {
    display: inline-block;
    animation: rotation 2s linear infinite;
    text-align: center;
}
.icon-rotate {
    width:1rem;
    height:1rem;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.empty-info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.empty-info-text div {
    text-align: center;
}

.indicator-bar {
    height: 2px;
}

.indicator-saved {
    animation-name: indicator-saving;
    animation-duration: 1s;
}

.indicator-pending {
    background-color: #D0D2CE;
    animation-name: indicator-pending;
    animation-duration: 1s;
}

.indicator-error {
    animation-name: indicator-error;
    animation-duration: 1s;
}

@keyframes indicator-pending {
    0% {width:0%;}
    100% {width: 30%;}
}

@keyframes indicator-saving {
    0% {width: 30%; background-color: #ADADAD;}
    60% {width: 100%; background-color: #ADADAD;}
    85% {width: 100%; background-color: $brand-success-color;}
    100% {width: 0%; background-color: transparent;}
}

@keyframes indicator-error {
    0% {width: 30%; background-color: #ADADAD;}
    60% {width: 100%; background-color: #ADADAD;}
    85% {width: 100%; background-color: $brand-font-color-danger;}
    100% {width: 0%; background-color: transparent;}
}

.input-table .input-field {
    background: white;
    height: 20px;
    font-weight: normal;
}

.input-table .input-secondary {
    margin: 0;
    border-bottom: 0;
}

.input-table .input-secondary,
.input-table .input-dropdown {
    padding: 0;
}

.form-group-table {
    margin-bottom: 0;
}

.input-table .input-disabled input,
.input-table .input-mandatory input {
    background: transparent;
}

.input-dropdown-focused input {
    background-color: transparent;
}

.cell-mandatory:focus {
    outline: 1px solid $brand-mandatory-color;
}

.cell-disabled:focus {
    outline: 1px dashed #cbcbcb;
}

.rdtPicker {
    left: -.75rem;
    margin-top: 7px;
}

.rdtPicker table {
    margin: 0;
}


.input-table .input-dropdown .input-field {
    background: transparent;
    color: $brand-font-color;
    font-style: italic;
}

.input-table .input-dropdown {
    border: none;
}

table .List .input-dropdown-item-title {
    font-weight: normal;
}

.input-disabled .input-field::-webkit-outer-spin-button, .input-disabled .input-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-disabled .meta-icon-calendar {
    display: none;
}

table .input-secondary .input-icon-right {
    color: $brand-icon-color;
}

table .input-icon {
    color: $brand-icon-color;
}

.table .rdtPicker thead th {
    background-color: white;
    color: #6b7b86;
}

.table.table-bordered-vertically .rdtPicker td {
    border-right: 0;
}

.table-striped tbody .rdtPicker tr:nth-of-type(odd) {
    background-color: white;
}


table .rdtPicker tbody {
    background-color: white;
}

table .rdtPicker td, .rdtPicker th {
    height: 28px;
}

table .rdtPicker table td, .rdtPicker table th {
    vertical-align: middle;
    padding: 0;
}

.pointer {
    cursor: pointer;
}


.document-list-header > *:not(:last-child) {
    margin-right: .5rem;
}
.map-tree-wrapper {
    padding-top: 55px;
}
.map-tree-wrapper .subheader-container {
    top: 55px;
}

.nav-tree-children {
    padding-left: 20px;
}

.nav-tree-item {
    padding-top: 10px;
    display: inline-block;
}

.nav-tree-header {
    font-weight: 500;
    text-transform: uppercase;
}

.header-super-faded {
    box-shadow: none;
    transition: all 0.2s ease;
}

.header-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
}

.overlay-shadow {
    box-shadow: 0 5px 15px 0 rgba(165, 165, 165, 0.8);
}

.breadcrumbs-shadow {
    box-shadow: 0 6px 10px 0 rgba(165, 165, 165, 0.8);
}

.prompt-shadow {
    box-shadow: 0 0 30px 0 rgba(165, 165, 165, 0.8);
}

.table td {
    width: 75px;
    position: relative;
}

.th-lg {
    width:200px;
}
.th-md {
    width:100px;
}
.th-sm {
    min-width: 60px;
    max-width: 100px;
}

.table .td-lg {
    width: 225px;
    max-width: 225px;
}

.td-lg .input-dropdown-list {
    width: 225px;
}

.table .td-md {
    width: 144px;
    max-width: 144px;
}
.td-lg .input-dropdown-list {
    width: auto;
}

.Lookup .input-icon {
    height: 16px;
    bottom: 0;
}



.pagination {
    margin-top:0;
    margin-bottom:0;
}

.pagination-row {
    margin: 1rem 0;
    font-size: .7rem;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-center;
}

.order-list-panel-body .pagination-wrapper {
    padding: 0 10px;
}

.order-list-panel-body .page-link {
    padding: .4rem .65rem;
}

.pagination-part {
    text-align: right;
}
.pagination-part > *:not(:last-of-type) {
    margin-right: 1rem;
}

.pagination-link {
    text-decoration: underline;
}

.meta-icon-checkbox {
    color: $checkbox-unchecked;
}

.table .YesNo i {
    height: 14px;
    margin-top: 4px;
    display: inline-block;
}

.column-wrapper {
    column-count: 2;
}

@media (max-width: $breakpoint) {
    .column-wrapper {
        column-count: 1;
    }
}

.font-weight-semibold {
    font-weight: 500;
}

.input-dropdown-item-title {
    font-weight: 400;
}

/* Date range datepicker custom styles */

.daterangepicker td.in-range {
    background-color: $brand-super-light-color;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: $brand-color-primary;
    color: #fff;
}

.cancelBtn {
    border: solid 1px $brand-light-color;
    color: $brand-font-color-secondary;
    background-color: transparent;
}

.applyBtn {
    color: #fff;
    background-color: $brand-success-dark-color;
    border-color: $brand-success-dark-color;
}

.applyBtn:hover,
.applyBtn:focus,
.daterangepicker .applyBtn:active {
    background-color: $brand-success-dark-color;
    border-color: $brand-success-dark-color;
}

.ranges li {
    background-color: $brand-super-light-color;
    color: $brand-font-color;
}

.ranges li:hover {
    background-color: $brand-color-primary;
    border: 1px solid $brand-color-primary;
}

.ranges li.active {
    background-color: $brand-color-primary;
    border: 1px solid $brand-color-primary;
}

.daterangepicker .input-mini.active {
    border: 1px solid $brand-color-primary;
}

.dropdown-menu.daterangepicker {
    border: 1px solid $brand-light-color;
}


/* Pagination */

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
    background-color: $brand-color-primary;
    border-color: $brand-color-primary;
}

.page-link {
    min-width: 38px;
    text-align: center;
}


th {
    font-weight: 500;
}

.ico-home {
    width: 16px;
    height: 16px;
    min-width: 20px;
    display: inline-block;
    position: relative;
    top: 2px;
}

.ico-home i:before {
    font-size: 15px;
}

.header-breadcrumb > span:first-of-type > .ico-home {
    min-width: 24px;
}

.header-breadcrumb > span:first-child {
    min-width: 26px;
}

.notification {
    font-size: 18px;
    color: $brand-link-color;
    display: inline-block;
    position: relative;
}

.notification-container {
    width: 55px;
    height: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notification-container:hover{
    background-color: $brand-bright-color;
    border-bottom: 1px solid $brand-border-color;
}

.notification-open {
    background-color: #F8FAFB;
    border: 1px solid #e1e8ee;
    pointer-events: none;
    z-index:2;
    border-bottom: 0 !important;
}
.notification-open .notification {
    margin-top: -1px;
}

.notification-number {
    width: 15px;
    height: 15px;
    background: $brand-font-color-danger;
    color: #fff;
    font-size: 8px;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
}

.queried-result {
    width: 100%;
    display: block;
}

.tree-link {
    font-size: 12px;
    position: absolute;
    right: 20px;
    bottom: 15px;
}

@media (max-width: $breakpoint){
    .tree-link {
        position: static;
    }
}

.search-wrapper {
    padding-top: 20px;
}

.query-results .query-results {
    display: inline-block;
}

.query-results .menu-overlay-expanded-link {
    display: inline;
    margin: 0;
}

.query-results .menu-overlay-expand {
    margin-left: 0 !important;
}

.query-caption {
    display: inline;
}

.header-breadcrumb .menu-overlay-query .menu-overlay-expand {
    margin-left: 0 !important;
}

.query-results .menu-overlay-expanded-link:hover {
    border-bottom: none;
}

.query-results .menu-overlay-expand:hover {
    border-bottom: none;
}

.query-results .menu-overlay-link:hover {
    border-bottom: none;
}

.menu-overlay-query .menu-overlay-expand:hover {
    border-bottom: none;
}

.menu-overlay-query .menu-overlay-expand {
    border-bottom: none;
}

.menu-overlay-query .menu-overlay-link {
    border-bottom: none;
}

.query-results .query-results:hover {
    border-bottom: none;
}

.query-clickable-group {
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.query-clickable-group:hover {
    border-bottom: 1px dashed $brand-link-color;
}

.query-clickable-link {
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.query-clickable-link:hover {
    border-bottom: 1px solid $brand-link-color;
}

.group-header {
    width: 100%;
}

.header-breadcrumb .menu-overlay .menu-overlay-expand {
    margin-left: 0 !important;
}

.map-tree-wrapper .input-field {
    margin-left: .3rem;
}

.map-tree-wrapper .input-primary {
    background-color: #fff;
}

.page-dots {
    position: relative;
}

.page-dots-open {
    padding: 6px;
    border: 1px solid $brand-light-color;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0;
    margin-left: -26px;
    background-color: $brand-super-light-color;
    text-align: center;
    border-radius: 10px;
    width: 80px;

}

.page-dots-open input {
    background: #fff;
    border: 1px solid $brand-light-color;
    width: 100%;
}

.page-dots-open span {
    font-weight: 500;
    padding-bottom: 4px;
    display: inline-block;
}

.page-link {
    float: none;
}

.dashboard {
    border: none;
    width: 100%;
    height: 100%;
    min-height: 500px;
}

html {
    height: 100%;
}

body {
    height: calc(100% - 62px);
}

#root,
#root > div {
    height: 100%;
}

.sort-menu {
    cursor: pointer;
    width: 100%;
    line-height: 22px;
    vertical-align: middle;
}

.sort-menu .sort-ico {
    height: 15px;
    cursor: pointer;
    color: $brand-font-color;
    opacity: 0;
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
}

.sort-menu .th-caption {
    color: white;
    vertical-align: middle;
}

.sort-menu .sort {
    color: white;
    opacity: 1;
}

.sort-menu:hover {
    .th-caption {
        color: $brand-font-color;
        text-decoration: underline;
    }
    .sort-ico {
        color: $brand-font-color;
    }
}

th {
    position: relative;
}

.rotate-90 {
    transform: rotate(180deg);
}

.sort.rotate-90 {
    text-align: left;
}

.notification-handler {
    position: fixed;
    top: 55px;
    right: 10px;
    width: 300px;
    z-index: 800;
    text-align: right;
}

.notification-item {
    text-align: left;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    display: inline-block;
    border: 2px solid red;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
    padding: 10px 15px 10px 13px;
    position: relative;
    opacity: 0;
    transition: all 0.5s;
}

.notification-item.primary {
    border: 2px solid $brand-primary-color;
}

.notification-item.primary .notification-header {
    color: $brand-primary-color;
}

.notification-item.success {
    border: 2px solid $brand-success-dark-color;
}

.notification-item.success .notification-header {
    color: $brand-success-dark-color;
}

.notification-item.warning {
    border: 2px solid $brand-warning-color;
}

.notification-item.warning .notification-header {
    color: $brand-warning-color;
}

.notification-item.error {
    border: 2px solid $brand-danger-color;
}

.notification-item.error .notification-header {
    color: $brand-danger-color;
}

.notification-item i {
    position: absolute;
    top: 5px;
    right: 5px;
    color: $brand-light-color;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}

.notification-header {
    font-weight: 500;
}

.notification-content {
    line-height: 1.2em;
    font-size: 14px;
}

.notif-animate {
    opacity: 1;
    transition: all 0.5s;
}

.pulse-on {
    background: $brand-pulse-effect !important;
    transition: all .33s;
}

.pulse-off {
    transition: all 1.33s;
}

td.pulse-on input {
    background: transparent !important;
}
td.pulse-off input {
    background: transparent !important;
}

.filter-wrapper {
    position: relative;
    display: inline-block;
}

.filter-menu {
    border: 1px solid $brand-light-color;
    background: white;
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    z-index: 4;
    left: 0;
    top: 31px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter-widget {
    padding: 8px 13px 12px 13px;
    min-width: 480px;
}

.filter-menu li {
    padding: 7px 13px;
    cursor: pointer;
}

.filter-menu li:hover {
    background: $brand-color-primary;
    color: white;
}

.btn-select {
    background: $brand-color-primary;
    color: white;
}

.btn-filter:hover {
    background: $brand-color-primary;
    color: white;
}

.btn-active {
    background: $brand-primary-color;
    color: white;
}

.btn-active:hover {
    background: $brand-primary-color;
    color: white;
}

.filter-clear {
    font-size: 11px;
    color: $brand-icon-color;
    cursor: pointer;
    vertical-align: middle;
    float: right;
}

.filter-clear i {
    font-size: 15px;
    vertical-align: middle;
}

.filter-active {
    font-weight: 500;
}

.filter-content {
    padding-top: 10px;
}

.btn i {
    padding-right: 4px;
}

.login-container {
     display: flex;
     width:100%;
     height:100%;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }

 .login-form {
     width: 20%;
     min-width:300px;
 }

 .login-form > div {
     position: relative;
 }

.filter-btn-wrapper {
    text-align: right;
    padding-top: 10px;
}

.dashboard-wrapper {
    padding-top: 10px;
}

.draggable-widget {
    border: 1px solid $brand-light-color;
    width: calc(33.333% - 1rem);
    margin: .5rem;
    background-color: white;
    display: inline-block;
    border-radius: 3px;
    pointer-events: visible;

    @media screen and (max-width: 991px){
        width: calc(50% - 1rem);
    }

    @media screen and (max-width: 768px){
        width: calc(100% - 1rem);
    }
}

.draggable-widget-header {
    padding: 6px 10px;
    background: $brand-super-light-color;
    border-bottom: 1px solid $brand-light-color;
    font-size: 0.875rem;
    color: $brand-font-color;
    position: relative;
    cursor: move;
    height: 34px;
}

.draggable-widget-body {
    min-height: 250px;
    height: calc(100% - 34px);
    z-index: 1;
}

.draggable-widget-icon {
    padding: 10px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.draggable-widget-menu {
    background: white;
    border: 1px solid $brand-light-color;
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    top: 25px;
    right: -4px;
    z-index:100;
}

.draggable-widget-menu span {
    width: 100%;
    padding: 5px;
    display: inline-block;
}

.draggable-widget-menu span:hover {
    cursor: pointer;
    background: $brand-super-light-color;
}

.draggable-widget-maximize {
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    margin: 0;
}

.dragging {
    border: 2px dashed $brand-light-color;
    opacity: 0.5;
}

.dragging .draggable-widget-header {
    background: transparent;
    border-bottom: none;
    color: transparent;
}

.draggable-widget-body iframe {
    width: calc(100% - 1px);
    min-height: 280px;
    height: 100%;
    float: left;
}

.indicators-wrapper {
    border: 1px solid $brand-border-color;
    border-radius:3px;
    overflow: hidden;
    height: 130px;
    margin: .5rem;
    font-size: 0;
}

.indicator {
    display: inline-block;
    width:25%;
    height:100%;
}

@media screen and (max-width: 991px){
    .indicator {
        width:50%;
        height: 130px;
        border:0 !important;
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    .indicators-wrapper {
        height: 100%;
    }
    .indicator {
        width:100%;
        height: 130px;
        border:0 !important;
        display: block;
    }
}

.indicator-hidden {
    display: none;
}

.indicator iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.indicator:not(:first-of-type){
    border-left: 1px solid $brand-border-color;
}


.inbox {
    position: fixed;
    top:54px;
    right:0;
    z-index:1;
    width: 400px;
}

.inbox-all {
    width: 100%;
    padding: 1rem 0;
}

.inbox-all .inbox-body {
    background-color: #fff;
}

.inbox-header,
.inbox-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .4rem .8rem;
}

.inbox-header {
    border-bottom: 1px solid #e1e8ee;
}
.inbox-footer {
    border-top: 1px solid #e1e8ee;
    justify-content: flex-end;
}

.inbox-caption {
    position: relative;
    width: 55px;
    height: 55px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.inbox-body {
    background-color: #F8FAFB;
    border: 1px solid #e1e8ee;
    position: relative;
}

.inbox-list {
    max-height: 400px;
    overflow-y: auto;
}

.inbox-header-title {
    font-weight: 700;
}

.inbox-link {
    font-size: .8rem;
    color: $brand-link-color;
    cursor: pointer;
}

.inbox-link:hover{
    text-decoration: underline;
}

.inbox-item {
    display: flex;
    flex-direction: row;

    border-top: 1px solid $brand-border-color;
    padding: .3rem .8rem;

    font-size: .8rem;
    min-height:80px;
}

.inbox-item:not(.inbox-item-empty):hover {
    background-color: #edf3f6;
}

.inbox-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.inbox-item-unread {
    background-color: $brand-primary-light-color;
}

.inbox-item:first-child {
    border-top: 0;
}
.inbox-item:last-child {
    border-bottom: 0;
}

.inbox-item-icon {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    padding-right: .8rem;
    padding-left: .4rem;
    font-size: 1.5rem;
}

.inbox-item-icon-sm {
    font-size: .7rem;
    margin-left: -.5rem;
    padding-left:0;
    padding-right:0;
}

.inbox-item-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: .7rem;
    color: $brand-font-color-weak;
    padding-top:.3rem;
}

.cell-text-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
}