.table {
    margin-bottom: 1px;
    display: table;

    &.layout-fix {
        margin-bottom: 1.5px;
    }

    *::selection {
        background-color: transparent;
        color: $brand-font-color;
    }

    .input-body-container *::selection {
        background-color: $brand-color-primary;
        color: #fff;
    }

    &.table-included {
        background-color: transparent;
        height: 100%;
        
        td {
            height: 22px;
            width: 50%;
        }
    }

    &.table-bordered-horizontally td {
        border-bottom: 1px solid $brand-border-color;
    }

    &.table-bordered-vertically td:not(:last-child) {
        border-right: 1px solid $brand-border-color;
    }

    &.table-bordered-vertically .item-caption td {
        border-right: none;
    }

    &.table-bordered-vertically td.indented {
        line-height: 28px;
        min-width:0;
        border-right:0;
        padding-top:0;
        padding-bottom:0;
        vertical-align: middle;
    }

    tbody+tbody {
        border-top: 0;
    }

    thead {
        th {
            border: 0;
            background-color: $brand-color-secondary;
            color: #fff;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            vertical-align: middle;
        }

        .sort-menu .th-caption {
            text-overflow: ellipsis;
            overflow: hidden;
            display: inline-block;
            width: 100%;
        }
    }

    .col-12, .col-sm-12 {
        position: static;
    }

    td, th {
        padding: .5rem .5rem;
        height: 28px;
    }

    th {
        font-weight: 500;
        position: relative;
    }

    td {
        /* This causes weird things in the layout so we should
         * setting this width arbitrary
        */
        /*width: 75px;*/
        position: relative;
        cursor: pointer;
        border-top: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-top: 0;
        padding-bottom: 0;
        vertical-align: middle;

        &:focus {
            outline-color: $brand-font-color;
            outline-width:1px;
            outline-offset:0px;
            outline-style: inset;
        }

        span {
            pointer-events: none;
        }

        &.LongText {
            position: relative;
            max-width: 350px;

            .extend-text-button {
                position: absolute;
                z-index: 2;
                top: 1px;
                right: 1px;
                width: 0; 
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 8px solid $brand-font-color;

                &.extended {
                    border-top: none;
                    border-bottom: 8px solid $brand-font-color;
                }
            }
        }
    }

    /* Table cols sizing */
    .td-lg {
        min-width: 225px;

        .input-dropdown-list {
            width: auto;
        }
    }

    .td-md {
        min-width: 144px;
        max-width: 225px;
    }

    .td-sm {
        min-width: 60px;
        max-width: 144px;
    }

    .cell-text-wrapper {
        overflow: hidden;
        text-overflow: ellipsis;

        &.color-cell {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &.longtext-cell {
            white-space: pre;
            height: 21px;
        }

        &.extended {
            height: 60px;

            &.longtext-cell {
                word-wrap: break-word;
                overflow-y: scroll;
                position: relative;
            }
        }
    }
}

@media only screen and (min-width: $breakpoint-md) {
    .desktop {
        .table td,
        .table th {
            padding: .50rem .7rem;
            height: 42px;
        }

        .table.table-bordered-vertically td.indented {
            line-height: 42px;
        }
    }
}

.table-hide-property {
    display: none;
}

.table-fade-out {
    opacity: .65;
}

.table-fade-out {
    opacity: .65;
}

.table-chart-value {
    text-align: right;
}

.table-read-only *:focus {
    outline-width:0px;
}

.table-filter-line {
    height:3rem;
}

.cell-mandatory:focus {
    outline: 1px solid $brand-mandatory-color;
}

.cell-disabled:focus {
    outline: 1px dashed #cbcbcb;
}

/*
 * Feel really sorry about that, but it is hard to get over 
 * table styles in bootstrap and avoid !important.
 *
 * Cleaned this up a bit - Kuba
 */
.table-striped {
    tbody tr {
        border-left: 3px solid transparent;

        &.tr-odd:nth-child(even) {
            background-color: $brand-super-light-color;
        }

        &.tr-odd:nth-child(odd) {
            background-color: #fff;
        }

        &.tr-even:nth-last-child(odd) {
            background-color: $brand-super-light-color;
        }

        &.tr-even:nth-last-child(even) {
            background-color: #fff;
        }

        &.tr-even.row-disabled, &.tr-odd.row-disabled {
            background-color: #f3f3f3;
            color: #a9a9a9;
        }

        &.tr-even.row-boundary, &.tr-odd.row-boundary {
            border-bottom: 2px solid #ddd;
        }
    }

    .table-included tr {
        background-color: transparent;
    }
}

.row-not-saved {
    background-color: #FEDADA !important;
}

.row-selected {
    background-color: $brand-selected-color !important;

    &.row-not-saved {
        border-left: 3px solid #e78484;
    }
}

.table-sub-summary-row {
    background-color: #fff !important;
    border-top: 1px solid $brand-color-secondary;
}

.table-total-summary-row {
    background-color: $brand-color-secondary;
    color: #fff;
    text-transform: uppercase;

    td {
        border: 0;
    }
}

.table-footer-header {
    background-color: #bdd0dc;
    color: #fff;
    font-weight: bold;
}

.table-input-inline {
    border: 0;
    outline-width: 0;
    width: 100%;
    height: 20px;
    color: $brand-font-color;
    background-color: #fff;
    text-align: center;
}

.table-flex-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .document-list-table {
        flex: 2.6;
    }
}

.table-flex-wrapper-row {
    flex-direction: row;
}

.row-bordered-bottom td {
    border-bottom: 1px solid;
}

.row-bordered-bright td {
    border-color: $brand-light-color;
}

.row-bordered-dark td {
    border-color: $brand-font-color;
}

.row-bordered-mod td:nth-child(1) {
    border: 0;
}

.product-order-summary {
    width: 100%;

    td {
        padding-top: 0.125rem;
        padding-bottom: 0.125rem;
    }

    td:nth-child(1) {
        width: 15%;
    }

    td:nth-child(2) {
        width: 30%;
    }

    td:nth-child(3) {
        width: 30%;
        text-align: right;
    }

    td:last-child {
        text-align: right;
    }

    tr:last-child {
        font-weight: bold;
        font-size: 1rem;
    }
}


/* Pagination */

.page-item {
    display: inline-block;

    &.active {
        .page-link, .page-link:focus, .page-link:hover {
            background-color: $brand-color-primary;
            border-color: $brand-color-primary;       
        }

        .page-link-compressed {
            background-color: transparent;
            font-weight: bold;
            color: $brand-font-color;
        }
    }

    &.inactive {
        cursor: default;
    }
}

.page-link {
    display: inline-block;
    text-align: center;
}

@media only screen and (min-width: $breakpoint-md){
    .page-link {
        min-width: 38px;
    }
}

.page-link-compressed{
    border:0;
    background-color: transparent;
    padding: .1rem .3rem;
}

.empty-info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;

    div {
        text-align: center;
    }
}

.pagination {
    margin-top: 0;
    margin-bottom: 0;
}

.pagination-row {
    margin: .3125rem;
    font-size: .7rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: $breakpoint-md){
    .desktop {
        .pagination-row {
            margin: 1rem;
        }
    }
}

.order-list-panel-body {
    .pagination-wrapper {
        padding: 0 10px;
    }

    .page-link {
        padding: .4rem .65rem;
    }
}

.pagination-part {
    text-align: right;
}

.pagination-part>*:not(:last-of-type) {
    margin-right: 1rem;
}

.pagination-link {
    text-decoration: underline;
}

/* INDENT SIGN ================ */

$indent-height: 28px;
$indent-height-mid: 12px;
$indent-signs-offset: 4px;
$indent-collapsible-offset: 4px;

$indent-height-lg: 42px;
$indent-height-mid-lg: 18px;
$indent-signs-offset-lg: 6px;
$indent-collapsible-offset-lg: 24px;

.indent {
    position: relative;
    height: $indent-height;
}

.indent-item-mid,
.indent-icon,
.indent-bot,
.indent-mid {
    display: inline-block;
    width: 20px;
    height: $indent-height;
    vertical-align: middle;
}

.indent-mid {
    position: absolute;
    top: $indent-height-mid;
    width: 5px;
    height: 1px;
    border-top: 1px solid #afbfca;
}

.indent-item-mid {
    padding-left:$indent-signs-offset;
    
    .indent-sign {
        top: 0;
        left: 0;
        width: 1px;
        height: $indent-height;
        border-left: 1px solid #afbfca;
    
        &.indent-sign-bot {
            height: $indent-height-mid;
        }
    }
}

.indent-collapsible-item-mid {
    padding-left: calc($indent-signs-offset + $indent-collapsible-offset);
}

.indent-bot {
    position: absolute;
    bottom:-1px;
    margin-left: $indent-signs-offset;
    width: 1px;
    height: 4px;
    border-left: 1px solid #afbfca;
}

.indent-collapsible-bot {
    margin-left: calc($indent-signs-offset + $indent-collapsible-offset);
}

@media only screen and (min-width: $breakpoint-md){
    .desktop {
        .indent,
        .indent-item-mid,
        .indent-icon,
        .indent-bot,
        .indent-mid {
            height: $indent-height-lg;
        }

        .indent-icon {
            display: inline;
        }

        .indent-mid {
            top: $indent-height-mid-lg;
        }

        .indent-item-mid{
            padding-left:$indent-signs-offset-lg;
            
            .indent-sign {
                height: $indent-height-lg;
                
                &.indent-sign-bot {
                    height: $indent-height-mid-lg;
                }
            }
        }

        .indent-collapsible-item-mid {
            margin-right:10px;
            padding-left: calc($indent-signs-offset-lg + $indent-collapsible-offset-lg);
        }

        .indent-bot {
            margin-left: $indent-signs-offset-lg;
            height: 6px;
        }

        .indent-collapsible-bot {
            margin-left: calc($indent-signs-offset-lg + $indent-collapsible-offset-lg);
        }

        .indent-collapse-icon {
            margin-right: 10px;
        }
    }
}

/* END OF INDENT SIGN ============ */

.indent-item {
    right:18px;
    top:16px;

    width:5px;
    height:1px;
    border-top: 1px solid #afbfca;
}

.indent-root {
    right: 8px;
    bottom: 0;

    width:1px;
    height: 6px;
    border-left: 1px solid #afbfca;
}

.indent-parent {
    right: 8px;
    top: 0;

    width:1px;
    height: 6px;
    border-left: 1px solid #afbfca;
}
