
.table {
    margin-bottom: 1px;
}

.table *::selection{
    background-color: transparent;
    color: $brand-font-color;
}

.table .input-body-container *::selection {
    background-color: $brand-color-primary;
    color: #fff;
}

.table tbody+tbody {
    border-top: 0;
}

.table thead th {
    border: 0;
    background-color: $brand-color-secondary;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
}

.table thead .sort-menu .th-caption {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.table .col-xs-12,
.table .col-sm-12 {
    position: static;
}

.table.table-bordered-horizontally td {
    border-bottom: 1px solid $brand-border-color;
}

.table.table-bordered-vertically td:not(:last-child) {
    border-right: 1px solid $brand-border-color;
}

.table.table-bordered-vertically .item-caption td {
    border-right: none;
}

.table-hide-property {
    display: none;
}

.table td,
.table th {
    padding: .50rem .75rem;
    height: 42px;
}

.table td {
    cursor: pointer;
    border-top: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.table td span {
    pointer-events: none;
}



/*
 * Feel really sorry about that, but it is hard to get over 
 * table styles in bootstrap and avoid !important.
 */
.table-striped tbody tr {
    border-left: 3px solid transparent;
}
.table-striped tbody tr.tr-odd:nth-child(even) {
    background-color: $brand-super-light-color;
}
.table-striped tbody tr.tr-odd:nth-child(odd) {
    background-color: #fff;
}
.table-striped tbody tr.tr-even:nth-last-child(odd) {
    background-color: $brand-super-light-color;
}
.table-striped tbody tr.tr-even:nth-last-child(even) {
    background-color: #fff;
}
.table-striped tbody tr.tr-even.row-disabled,
.table-striped tbody tr.tr-odd.row-disabled  {
    background-color: #f3f3f3;
    color: #a9a9a9;
}
.table-striped tbody tr.tr-even.row-boundary,
.table-striped tbody tr.tr-odd.row-boundary  {
    border-bottom: 2px solid #ddd;
}

.row-not-saved {
    background-color: #FEDADA !important;
}

.row-selected {
    background-color: $brand-selected-color !important;
}

.row-selected.row-not-saved {
    border-left: 3px solid #e78484;
}

.table-sub-summary-row {
    background-color: #fff !important;
    border-top: 1px solid $brand-color-secondary;
}

.table-total-summary-row {
    background-color: $brand-color-secondary;
    color: #fff;
    text-transform: uppercase;
}

.table-total-summary-row td {
    border: 0;
}

.table-footer-header {
    background-color: #bdd0dc;
    color: #fff;
    font-weight: bold;
}

.table-input-inline {
    border: 0;
    outline-width: 0;
    width: 100%;
    height: 20px;
    color: $brand-font-color;
    background-color: #fff;
    text-align: center;
}

.table-flex-wrapper {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.table-flex-wrapper-row {
    flex-direction: row;
}

.row-bordered-bottom td {
    border-bottom: 1px solid;
}

.row-bordered-bright td {
    border-color: $brand-light-color;
}

.row-bordered-dark td {
    border-color: $brand-font-color;
}

.row-bordered-mod td:nth-child(1) {
    border: 0;
}


.product-order-summary {
    width: 100%;
}

.product-order-summary td {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.product-order-summary td:nth-child(1) {
    width: 15%;
}

.product-order-summary td:nth-child(2) {
    width: 30%;
}

.product-order-summary td:nth-child(3) {
    width: 30%;
    text-align: right;
}

.product-order-summary td:last-child {
    text-align: right;
}

.product-order-summary tr:last-child {
    font-weight: bold;
    font-size: 1rem;
}

.table-filter-line {
    height:3rem;
}



/* Pagination */

.page-item {
    display: inline-block;
}

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
    background-color: $brand-color-primary;
    border-color: $brand-color-primary;
}

.page-link {
    display: inline-block;
    text-align: center;
}

@media only screen and (min-width: $breakpoint-md){
    .page-link {
        min-width: 38px;
    }
}

.page-link-compressed{
    border:0;
    background-color: transparent;
    padding: .1rem .3rem;
}

.page-item.active .page-link-compressed {
    background-color: transparent;
    font-weight: bold;
    color: $brand-font-color;
}

th {
    font-weight: 500;
    position: relative;
}

.empty-info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.empty-info-text div {
    text-align: center;
}


.table td {
    width: 75px;
    position: relative;
}

/* Table cols sizing */

.td-lg {
    width: 225px;
    max-width: 225px;
}

.td-md {
    width: 144px;
    max-width: 144px;
}

.td-sm {
    min-width: 60px;
    max-width: 100px;
}

.td-lg .input-dropdown-list {
    width: 225px;
}

.td-lg .input-dropdown-list {
    width: auto;
}

.pagination {
    margin-top: 0;
    margin-bottom: 0;
}

.pagination-row {
    margin: .3125rem;
    font-size: .7rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: $breakpoint-md){
    .pagination-row {
        margin: 1rem;
    }
}

.order-list-panel-body .pagination-wrapper {
    padding: 0 10px;
}

.order-list-panel-body .page-link {
    padding: .4rem .65rem;
}

.pagination-part {
    text-align: right;
}

.pagination-part>*:not(:last-of-type) {
    margin-right: 1rem;
}

.pagination-link {
    text-decoration: underline;
}

.table.table-bordered-vertically td.indented {
    min-width:0;
    border-right:0;
    padding-top:0;
    padding-bottom:0;
    line-height: 42px;
    vertical-align: middle;
}

/* INDENT SIGN ================ */

$indent-height: 42px;
$indent-height-mid: 18px;
$indent-signs-offset: 6px;
$indent-collapsible-offset: 24px;

.indent {
    position: relative;
    height: $indent-height;
}

.indent-item-mid,
.indent-icon,
.indent-bot,
.indent-mid {
    display: inline-block;
    width: 20px;
    height: $indent-height;
    vertical-align: middle;
}

.indent-item-mid{
    padding-left:$indent-signs-offset;
}

.indent-collapsible-item-mid {
    margin-right:10px;
    padding-left: calc($indent-signs-offset + $indent-collapsible-offset);
}

.indent-item-mid .indent-sign {
    top: 0;
    left: 0;
    width: 1px;
    height: $indent-height;
    border-left: 1px solid #afbfca;
}

.indent-item-mid .indent-sign.indent-sign-bot {
    height: $indent-height-mid;
}

.indent-mid {
    position: absolute;
    top: $indent-height-mid;
    width: 5px;
    height: 1px;
    border-top: 1px solid #afbfca;
}

.indent-bot {
    position: absolute;
    bottom:-1px;
    margin-left: $indent-signs-offset;
    width: 1px;
    height: 6px;
    border-left: 1px solid #afbfca;
}

.indent-collapsible-bot {
    margin-left: calc($indent-signs-offset + $indent-collapsible-offset);
}

.indent-collapse-icon {
    margin-right: 10px;
}

/* END OF INDENT SIGN ============ */


.indent-item {
    right:18px;
    top:16px;

    width:5px;
    height:1px;
    border-top: 1px solid #afbfca;
}

.indent-root {
    right: 8px;
    bottom: 0;

    width:1px;
    height: 6px;
    border-left: 1px solid #afbfca;
}

.indent-parent {
    right: 8px;
    top: 0;

    width:1px;
    height: 6px;
    border-left: 1px solid #afbfca;
}

.document-list-table {
    flex: 2.6;
}

.table-fade-out {
    opacity: .65;
}

.table.table-striped  .table-included tr {
    background-color: transparent;
}

.table .table-included {
    background-color: transparent;
    height: 100%;
}

.table.table-included td {
    height: 22px;
    width: 50%;
}

.table-chart-value {
    text-align: right;
}
