$brand-color-primary: #9aafbd;
$brand-color-secondary: #9BAFBC;
$brand-light-color: #C9D5DC;
$brand-super-light-color: #f2f7fa;
$brand-font-color: #4d5b65;
$brand-font-color-secondary: #6b7b86;
$brand-bright-color: #F8FAFB;

$brand-link-color: #467799;

$brand-success-color: #89d729;
$brand-success-dark-color: #76b727;
$brand-primary-color: #1d4776;
$brand-primary-dark-color: #16365b;
$brand-danger-color: #f67a89;
$brand-warning-color: #e5bf26;
$brand-default-color: #eef2f7;

$brand-font-color-danger: #e85667;
$brand-danger-light-color: #fdf7f8;
$brand-font-color-weak: #afbfc9;
$brand-border-color: #dee6ec;
$brand-border-color-2: #e1e8ee;
$brand-dark-color: #dfe5ec;
$brand-mandatory-color: #a8daf8;
$brand-pulse-effect: #FDFBD4;

$brand-icon-color: #7180b6;

$checkbox-unchecked: rgba(107, 123, 134, 0.2);

$breakpoint: 543px;
