{
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "cypress/globals": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
      "babelOptions": {
        "configFile": "/babel.config.js"
      }
    },
    "extends": [
        "eslint:recommended",
        "plugin:cypress/recommended",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": ["error", {
          "singleQuote": true,
          "trailingComma": "es5",
          "tabWidth": 2,
          "printWidth": 200,
          "endOfLine":"auto"
        }],
        "no-unused-expressions": 0,
        "chai-friendly/no-unused-expressions": 2,
        "cypress/no-unnecessary-waiting": "warn"
    },
    "plugins": ["prettier", "cypress", "chai-friendly"],
    "globals": {
        "localStorage": true,
        "Promise": true,
        "config": true,
        "PLUGINS": true
    },
    "root": true
}
