//
// Menu
@mixin mf-menu {
	.mf-menu {
		width: 100%;
		height: 400px;
		display: block;
		
		overflow-x: auto;
		overflow-y: auto;
		
		.mf-menu-nothingfound-label {
		}		
		
		.mf-menu-container {
			height: 100%;
		
			.mf-menu-group {
				
				.mf-menu-group-caption {
					font-weight: bold;
				}
				
				.mf-menu-group-content {
					overflow-x: hide;
					overflow-y: auto;
					
					.mf-menu-item {
					}
				}
			}
		}
	}
}
