/target/
/.classpath
/.project
/.settings/
/activemq-data/
/src/main/webapp/VAADIN/widgetsets/
*.cache
*.diff

application.properties
logback.xml

/log/
src/main/webapp/VAADIN/themes/MFProcurement/styles.css
/bin/
