.calendar {
  padding: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .calendar-top {
    display: flex;
    flex: 0 0 auto;
    padding-bottom: 2px;

    .calendar-top-left {
      flex: 0 0 auto;
    }

    .calendar-top-center {
      flex: 1 1 auto;
    }

    .calendar-top-right {
      flex: 0 0 auto;

      display: flex;
      flex-flow: row;

      button {
        color: #fff;
        background-color: #2C3E50;
        background-color: #2C3E50;
        border-color: #2C3E50;

        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        height: 35px;

        border: 1px solid transparent;
        padding: 0.4em 0.65em;
        font-size: 1em;
        line-height: 1.5;
        border-radius: 0.25em;
      }
    }
  }

  .calendar-content {
    flex: 1 1 auto;

    .fc-event.has-conflict {
      border-left: 4px solid red !important;
    }

    .fc-resource-label.has-conflict {
      color: red !important;
      font-weight: bold;
    }

    .fc-day-today
    {
      background: yellow !important;
    }
  }
}

