<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootAdmin" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" folderName="Less Used">
    <module name="metasfresh-admin" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="de.metas.admin.SpringBootAdminApplication" />
    <option name="VM_PARAMETERS" value="-Xmx60M" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>
