<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="comission" verbose="1">

<!-- 
	<listeners>
		<listener class-name="mockit.integration.testng.Initializer" />
	</listeners>
 -->
	<test name="misc">
		<packages>
			<package name="de.metas.commission.callout" />
			<package name="de.metas.commission.service.impl" />
			<package name="de.metas.commission.modelvalidator" />
			<package name="de.metas.commission.model" />
			<package name="de.metas.commission.process" />
			<package name="de.metas.commission.aop" />
			<package name="de.metas.commission.service" />
			<package name="de.metas.commission.service.impl" />
			<package name="org.adempiere.model" />
		</packages>
	</test>

	<test name="pricing">
		<classes>
			<class name="de.metas.commission.aop.PriceListCreateTests" />
		</classes>
	</test>
	
</suite>

