//
// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 12px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin metasfresh {
	@include valo;
	
	//
	// Window
	.mf-window {
	
		//
		// Window title lane
		.mf-window-title-lane {
			background-color: #74b727;
			width: 100%;
			height: 65px;
			line-height: 65px;
			color: white;
			font-size: 40px;
			padding: 0px 20px 0px 20px;
			overflow: hidden;
			
			.mf-window-title-icon {
				width: 75px;
				height: 75px;
				margin: -5px;
				background-color: white;
				padding: 0px 5px 0px 5px;
				border-radius: 50%;
				text-align: center;
				
				.mf-window-title-icon-wrap {
					width: 65px;
					height: 75px;
					display: block;
					
					.v-icon {
						display: block;
						width: 65px;
						height: 75px;
						color: black;
					}
				}
			}
			.mf-window-title-text {
				padding-left: 10px;
				font-weight: bold;
			}
		}
	
		//
		// Window summary lane	
		.mf-window-summary-lane {
			margin: 10px 0px 0px 0px;
			padding: 0px 10px 0px 10px;
			width: 100%;
			height: 100px;
			background-color: #e8e8e8;
			
			display: flex;
    		flex-direction: row;
    		flex-wrap: nowrap;
			
			.v-slot-mf-window-record-nav {
				flex-grow: 0;
				
				.mf-window-record-summary-label {
					height: 100%;
				}
				
				.mf-window-record-nav-btn {
					background-color: transparent;
					padding: 0px 5px 0px 5px;
					
					.v-icon {
						height: 100px;
						font-size: 70px;
					}
				}
			}

			.v-slot-mf-window-indicators {
				flex-grow: 1;
							
				.mf-window-indicators {
					width: 520px;
					position: relative;
					top: 50%;
					left: 50%;
    				transform: translate(-50%, -50%);
					
					.mf-window-indicators-container {
						width: 100%;
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						
						.mf-window-indicator {
							text-align: center;
						}
					}
				}
			}
			
			.v-slot-mf-window-record-addsummary-label {
				flex-grow: 0;
				
				.mf-window-record-addsummary-label {
				}
			}
		} // end mf-window-summary-lane

		//
		// Window tabbar lane		
		.mf-window-tabbar-lane {
			width: 100%;
			background-color: #d1d1d1;
			
			.mf-tabbar-button {
				color: white;
				font-weight: bold;
				padding: 2px 5px 2px 5px;
			}
		}
		
		//
		// Window content lane 
		.v-slot-mf-window-content-lane {
			margin: 10px 20px 0px 20px;
		}
		
		//
		// Editor: general
		.mf-editor {
		}
		.mf-editor-field {
			//width: 260px;
		}
		
		//
		// Editor: editor container (i.e. panel)
		.mf-editor-container {
			margin: 10px 0px 0px 0px;
			background: none;
			
			.mf-editor-container-panel {
				//background: none
				margin: 10px 0px 0px 0px;
			
				.v-panel-captionwrap {
					background: none;
					border: none;
					padding: 0px;
					
					
					.v-panel-caption {
						padding: 0px;
						background: none;
						border-style: solid none none none;
						border-top-width: 1px;
						border-top-color: #d1d1d1;
						border-radius: 0px;
						box-shadow: none;
						font-weight: bold;
					}
				}
				
				.v-panel-content {
					background: none;
					border: none;
						
					.mf-editor-container-panel-content {
					}
				}
				
				.v-panel-deco {
					diplay: none;
				}
			}
		}
		
		//
		// Editor: composed value editor
		.mf-editor-composed {
			.mf-editor-value {
			}
			.mf-editor-description {
				margin: 5px 0px 0px 0px;
				padding: 5px;
				background-color: #e8e8e8;
				border-radius: 5px;
			}
		} 
	}

	.window-content-root {
		//border: 1px solid green !important;
		border: none;
	}
	
	// Editors
	
}

