.calendar-filter-item {
  padding: 0.425rem 0.6rem;
  margin-right: 0.5rem;

  border: 0;
  border-radius: 0.2rem;

  display: inline-block;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 0.875rem;
  background-color: #dfe5ec;
  color: #4d5b65;
}
