<?xml version="1.0" encoding="UTF-8"?>

<!-- Licensed under http://www.apache.org/licenses/LICENSE-2.0 -->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>env-dev</id>
            <properties>
                <metasfresh.version>10.0.0</metasfresh.version>
            </properties>
            <repositories>
                <repository>
                    <id>github-3rdparty-maven</id>
                    <url>https://maven.pkg.github.com/metasfresh/metasfresh-maven-repo/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>github-3rdparty-maven</id>
                    <url>https://maven.pkg.github.com/metasfresh/metasfresh-maven-repo/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

	<servers>
		<server>
			<id>github-metasfresh-maven</id>
			<username>${env.GITHUB_ACTOR}</username>
			<password>${env.GITHUB_TOKEN}</password>
		</server>
		<server>
			<id>github-3rdparty-maven</id>
			<username>metasfresh-service-account</username>
			<password>$METASFRESH_PACKAGES_READ_TOKEN</password>
		</server>
	</servers>

    <activeProfiles>
        <activeProfile>env-dev</activeProfile>
    </activeProfiles>
</settings>