#
# systemd service file for metasfresh-print
# to install it, copy it to /etc/systemd/system and chmod it to 0644
# 
[Unit]
Description=metasfresh-print
After=syslog.target

[Service]
User=metasfresh
ExecStart=/opt/metasfresh/metasfresh-print/metasfresh-print.jar
SuccessExitStatus=143
PIDFile=/opt/metasfresh/metasfresh-print/metasfresh-print/metasfresh-print.service.pid

[Install]
WantedBy=multi-user.target
