//
// General components
//

.nextEventCapturer {
	width: 0px !important;
	height: 0px !important;
	position: absolute !important;
	left: -99999px !important;
}

//
// Date Panel
//
.date-panel {
	height: $button-size;

	.v-button {
		.v-icon {
			font-size: $button-icon-size !important;
			height: $button-size !important;
			line-height: $button-size;
		}
	}
	
	.day-label {
		background-color: white;
		text-align: center;
		height: $button-size;
		white-space: pre-line !important;
		padding-top: 5px;
		font-size: $font-size-big;
	}
}

//
// Non mobile QR code popup window
//
.qr-code-window {
	background: transparent;
	color: #fff;
	
	.v-window-contents {
		background: transparent;
	}
	
	.v-window-closebox {
		top: auto;
		bottom: 14px;
		right: auto;
		left: 190px;
		background: transparent;
		width: auto;
		height: auto;
		padding: .3em 0;
		border-bottom: 1px solid #FFF;
		z-index: 100;
	}
	
	.v-window-closebox:before {
		content: "OK, show me anyway";
	}
	
	.v-caption {
	    float: right;
	    width: 310px;
	}
	
	.v-captiontext {
	    color: #fff;
	    font-weight: bold;
	    line-height: 1.4;
	    margin: 0;
	    white-space: normal;
	}
}


//
// Overlays (i.e. button badges)
// 
.overlay-text {
	position: absolute;
	top: 5px;
	right: 30%;
	color: white;
	background: $color-red;
	font-size: 10px;
	border-radius: 50%;
	overflow: hidden;
	width: 20px;
	height: 20px;
}
.overlay-text:empty {
	display: none;
}
