.DailyProductQtyReportView {
	//
	// Header
	//
	.v-touchkit-navbar-caption {
		line-height: normal !important; // FIXME: this one is not applied
		white-space: pre-line !important;
		font-size: $font-size-small !important;
		padding-top: $margin-standard;
	}
	.v-touchkit-navbar-caption::first-line {
		font-size: $font-size-big !important;
	}

	.input-form {
		text-align: center;
		padding: 20px;
	}
	
	input {
		font-size: 80px;
		width: 300px;
		text-align: right;
	}
}
