/* Product button */

.v-touchkit-navbutton.product-button {
	white-space: pre-line !important;
	line-height: normal !important;
	padding-right: 0px !important;
	padding-top: 13px;
	font-size: $font-size-small;
}

.v-touchkit-navbutton.product-button::first-line {
	font-size: $font-size-big;
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
}

// the "pill" inside product button. Usually here we display the Qty.
.product-button .v-touchkit-navbutton-desc {
	margin-top: 0px;
	margin-right: 50px;
	padding: 0px;
	height: $button-icon-size;
	max-width: 80px;
	line-height: $button-icon-size;
	font-size: $button-icon-size;
	line-height: $button-icon-size;
}

.v-touchkit-navbutton.product-button::after {
	display: inline-block;
	content: "";
	width: $button-icon-size;
	height: $button-icon-size;
	margin-top: 13px;
	background-repeat: no-repeat;
	background-size: $font-size-big;
	background-position: center center;
}

.v-touchkit-navbutton.product-button.sent::after {
	background-image: url($icon-product-sent);
}

.product-button.trend-up::AFTER {
	background-image: url($icon-trend-up) !important;
}

.product-button.trend-down::AFTER {
	background-image: url($icon-trend-down) !important;
}

.product-button.trend-even::AFTER {
	background-image: url($icon-trend-even) !important;
}
.product-button.trend-zero::AFTER {
	background-image: url($icon-trend-zero) !important;
}
