.WeeklyDetailedReportingView {
	//
	// Header
	//
	.v-touchkit-navbar-caption {
		line-height: normal !important;
		white-space: pre-line !important;
		font-size: $font-size-small !important;
		padding-top: $margin-standard;
	}
	.v-touchkit-navbar-caption::first-line {
		font-size: $font-size-big !important;
	}
	
	//
	// Toolbar buttons
	//
	.v-touchkit-toolbar {
		.v-button {
			border: 1px solid transparent !important;
			.v-icon {
				line-height: $button-size;
				margin: 0px;
				padding: 0px;
			}
		}
	}

	//
	// Trend buttons
	//
	.trend-up {
		color: $color-trend-up !important;
	}
	.trend-up.current-trend {
		background-color: $color-trend-up !important;
		color: white !important;
	}
	
	.trend-down {
		color: $color-trend-down !important;
	}
	.trend-down.current-trend {
		background-color: $color-trend-down !important;
		color: white !important;
	}
	
	.trend-even {
		color: $color-trend-even !important;
	}
	.trend-even.current-trend {
		background-color: $color-trend-even !important;
		color: white !important;
	}
	
	.trend-zero {
		color: $color-trend-zero !important;
	}
	.trend-zero.current-trend {
		background-color: $color-trend-zero !important;
		color: white !important;
	}
}

/* OLD


*/