.subheader-attachurl {
    cursor: pointer;
    position: relative;
    width: 100%;
    display: block;
    padding: .75rem 1.25rem;
    text-decoration: none !important;
    background-color: $brand-light-color;
    color: $brand-font-color;
}

.subheader-attachurl:hover {
    background-color: $brand-color-primary;
    color: #fff;
}

.subheader-attachurl:focus {
    background-color: $brand-color-primary;
    color: #fff;
}

.subheader-attachurl i {
    margin-right: 5px;
}

.panel-attachurl {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* create small window */
    width: 50%;
    min-width: 288px; /* 320px mobile * 90% */
    height: auto;
}

.attachurl-headline {
    display: flex;
    flex-grow: 1;
}

.panel-attachurl-header-top {
    background-color: $brand-color-primary;
}

.panel-attachurl-header {
    display: flex;
    flex-flow: row wrap;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid $brand-super-light-color;
}

.panel-attachurl-bright {
    color: $brand-font-color;
}

.panel-attachurl-data-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.panel-attachurl-data-wrapper .attachurl-input {
    flex-grow: 1;
}

.attachurl-input {
    height: 50px;
    border: none;
    padding-left: 10px;
}

.attachurl-label {
    min-width: 50px;
    font-weight: bold;
}

.panel-attachurl-header-wrapper {
    box-shadow: 0 0 6px rgba(0, 0, 0, .1);
}

/* currently unused, could be used for preview */
/*
.panel-attachurl-body {
    padding: 20px;
    height: 100%;
    display: flex;
}

.panel-attachurl-body textarea {
    height: 100%;
    border: none;
}
*/

.panel-attachurl-footer {
    padding: 20px;
    display: flex;
    border-top: 1px solid $brand-super-light-color;
    justify-content: space-between;
    color: $brand-font-color;
    align-items: center;
    position: relative;
}

.panel-attachurl-footer button {
    min-width: 100px;
}

.attachurl-icon-close {
    cursor: pointer;
    color: $brand-super-light-color;
}
