.attributes {
  position: static;
  padding-top: 4px;
  display: block;
  min-width: 5rem;
  max-width: 10rem;

  &::selection {
    background-color: transparent;
    color: inherit;
  }
}

.attributes-in-table {
  padding: .3rem;
  padding-left: .5rem;

  .tag {
    padding: .25rem .3rem .15rem;
    line-height: 1;
    font-size: 0.8rem;
  }
}

.attributes-dropdown {
  user-select: none;
  position: absolute;
  z-index: 50;
  margin-left: 5px;
  width: 450px;
  overflow: auto;
}

.attributes-dropdown {
  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $brand-light-color;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }
}

.attributes-dropup {
  bottom: 35px;
}
