.filter-tooltip {
  margin-top: 10px;
  left: 25px;
}

.filter-wrapper {
  .btn-filter {
    padding: 0.425rem .6rem;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.inline-filters {
  margin-left: 3px;
  margin-right: 5px;
}

.filter-multiselect {
  width: 100%;
  min-height: 30px;
  padding: 15px;
  
  .col-label {
    label {
      width: 100%;
    }
  }

  .col-chk {
    padding-left: 0;

    .input-checkbox {
      margin-left: 0 !important;
      margin-right: .5rem !important;
    }
  }
}
