@import './variables.css';

.header-sticky-distance{
    padding-top: 55px;
}

.header {
    border-bottom: 1px solid;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 55px;
    z-index: 100;
}
.header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    height: 31px;
}

@media (max-width: $breakpoint){
    .header .container-fluid {
        padding-left:0;
        padding-right:0;
    }
    .header-logo {
        height: 20px;
    }
}

.header-middle {
    padding: .7rem 1rem;
    display: inline-block;
}

.header-btn {
    width:100%;
}

.header-super-faded {
    box-shadow: none;
    transition: all 0.2s ease;
}

.header-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
}

.header-breadcrumb {
    color: $brand-font-color-secondary;
    font-size: 0.875rem;
    width: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;
}

.header-breadcrumb .header-breadcrumb-line {
    color: $brand-font-color-secondary;
    font-size: 0.875rem;
    width: auto;
    display: flex;
    flex:1;
}

.header-breadcrumb-sitename {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

@media (max-width: $breakpoint){
    .header-breadcrumb{
        top: 25px;
        left: -55px;
        position: absolute;
        background-color: #fff;
        width: calc(100vw);
        border-bottom: 1px solid $brand-border-color;
        border-top: 1px solid $brand-border-color;
        padding:4px 0;
    }
    .header-sticky-distance {
        padding-top: 130px;
    }
}

.header-breadcrumb a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.header-breadcrumb-link{
    color: $brand-link-color !important;
}


.header-breadcrumb .divider {
    margin: 0 .2rem;
    min-width: 5px;
}


.header-breadcrumb > * {
    white-space: nowrap;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: row;
    align-items: center;

    flex-shrink:1;
}

.header-breadcrumb-wrapper {
    position: relative;
    flex:1;
}

.header-breadcrumb > .menu-overlay-expand,
.header-breadcrumb > .menu-overlay-link {
    display: inline-block;
}

.header-input-id {
    margin: 0 .3rem;
}

.header-super-faded {
    background-color: #FFF;
    border-bottom-color: $brand-border-color;
}

.header-input-sm {
    width:85px;
    min-width: 85px;
}
.header-input-sm input{
    font-size: 0.85rem;
}
.header-input-sm .input-icon-right {
    font-size: 0.85rem;
    right:3px;
}

.header-input-sm .form-group {
    margin-bottom:0;
}

.header-input-sm .input-secondary,
.header-input-sm .input-secondary input {
    margin: 0;
    font-size: 0.85rem;
    line-height: 1;
    padding: 0 10px 0 0;
}

.subheader-container {
    display: none;
    width: 50%;
    position: absolute;
    top: 0;
    z-index: 201;
    margin-top:55px;
    background-color: $brand-bright-color;

    height: calc(100% - 55px);
}

@media (max-width: $breakpoint) {
    .subheader-container {
        width: 100%;
        z-index: 201;
        max-height: calc(100vh - 55px);
        overflow: scroll;
    }
    .subheader-column {
        width: 100%;
        border-bottom: 1px solid $brand-border-color;
    }
}

.subheader-open {
    display: block;
}

.subheader-title {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    width: calc(100% - 2rem);
    vertical-align: middle;
}

.subheader-column {
    width: 50%;
    border-right: 1px solid #e1e7ec;

    overflow: hidden;
}
.subheader-column:focus {
    border-color: #e1e7ec;
}

.subheader-item {
    position: relative;
    width: 100%;
    display: block;
    padding: .75rem 1.25rem;
    text-decoration: none !important;

    i {
        margin-right: 5px;
    }
}

.subheader-item:not(.subheader-item-disabled) {
    color: inherit;
}

.subheader-caption {
    position: relative;
    width: 100%;
    padding: .75rem 1.25rem;
    margin-left: -.5rem;
    text-transform: uppercase;
    color: $brand-font-color-secondary;
    font-weight: 500;
}

.subheader-additional-box{
    position:absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;
    right:0;
    top:0;
    background-color: #6c7b85;
}
.subheader-item-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.subheader-item-disabled {
    color: $brand-color-secondary;
}

.subheader-item:not(.subheader-item-disabled){
    cursor: pointer;
}

.subheader-item:not(.subheader-item-disabled):hover {
    background-color: $brand-color-primary;
    color: #fff;
}

.subheader-item:not(.subheader-item-disabled):focus {
    background-color: $brand-color-primary;
    color: #fff;
}

.subheader-header {
    white-space: nowrap;
    overflow: hidden;
    padding: .75rem 1.25rem;
    color: $brand-color-primary;
    font-size: 1.1rem;
    min-height: 51px;
}

.subheader-row {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.subheader-break {
    width: 100%;
    height: 1px;
    padding:0 !important;
    background-color: #e1e7ec;
}

.subheader-items {
    /* subheader-row's height minus header & break */
    height: calc(100% - 52px);
    overflow-y: auto;
}

.btn-subheader-open {
    position: relative;
    z-index:300;
}

.btn-square {
    min-width: 55px;
}

.header-left-side {
    width: calc(50% - 75px);
    padding-left: 55px;
    align-items: center;

    > .tooltip-parent {
        position: absolute;
        top: 0;
        left: 0;
    }

    .notification-number {
        left: -4px;
        top: -6px;
    }
}

.desktop .header-left-side {
    position: relative;
}

.header-right-side {
    width: calc(50% - 75px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.header-right-side .form-group {
    height: auto;
    min-height: 100%;
    margin: 0;
}

.btn-header-open {
    border-width: 1px 1px 0 1px;
    border-style: solid;
}

.btn-header {
    position: relative;
    top:-1px;
    border-color: $brand-border-color;
}

/* OVERLAY */

.menu-overlay {
    position: fixed;
    z-index:-1;
    pointer-events: none;
    top:55px;
}

@media screen and (max-width: 543px){
    .menu-overlay {
        top: 118px;
    }
}

.menu-overlay-body {
    padding: 0 1.2rem 1.8rem 1.2rem;
    min-height: 400px;
    z-index:1;
    margin-top:-1px;
    pointer-events: all;
    overflow: auto;
    max-height: calc(100vh - 80px);
}

.menu-overlay-top-spacer {
    height:1rem;
    content:"";
}

@media screen and (max-width: $breakpoint) {
    .menu-overlay-body {
        min-height: 200px;
        max-height: calc(100vh - 100px);
    }
}

.menu-overlay-root-body {
    display: flex;
}

.menu-overlay-node-container {
    page-break-inside: avoid;
    width: 50%;
    display: block;
}

.sitemap .menu-overlay-node-container {
    width: 100%;
}

.menu-overlay-node-container.menu-suboverlay {
    width: 100%;
}

.menu-suboverlay .menu-overlay-node-container {
    width: 100%;
}

.menu-overlay-header-deep {
    font-weight: 400;
}

.menu-overlay-node-spaced {
    margin-left: 1rem;
}

.menu-overlay-root-body .menu-overlay-node-container {
    width: 220px;
    display: block;
    page-break-inside: avoid;
}

.menu-overlay-query {
    width: 350px;

    padding: 1rem 1.2rem;

    max-height: 600px;
    overflow: hidden;
}

.menu-overlay-query .input-primary {
    padding: .1rem .50rem;
    background-color: #fff;
    margin-bottom: .5rem;
}

.menu-overlay-query .input-field {
    margin-left: .3rem;
}

.menu-overlay-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 450px;
}


.menu-overlay-primary .menu-overlay-body {
    background-color: $brand-bright-color;
    border:1px solid $brand-border-color-2;
    position: relative;
}

/* Two columns box for the sitemap menu group */
.menu-overlay-sitemap-col-2 {
    column-count: 2;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 1rem !important;
    margin-right: 1rem !important;
}

.menu-overlay-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index:25;
    background-color: $brand-bright-color;
    border:1px solid $brand-border-color-2;
    border-bottom-width: 0;
    color: $brand-link-color;
    pointer-events: visible;
    width: 55px;
    height: 55px;
    padding-bottom: 6px;
}

.menu-overlay-caption-text {
    width: 80px;
    padding-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-overlay-header {
    font-size: .875rem;
    margin:0;
}
.menu-overlay-header-main {
    font-weight: 500;
    text-transform: uppercase;
}
.menu-overlay-header-spaced {
    margin: .25rem 0;
    display: inline-block;
}
.menu-overlay-expanded-link {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1rem;
}

.menu-overlay-expanded-link-spaced {
    margin: .5rem 0;
}

.menu-overlay-link,
.menu-overlay-expand {
    color: $brand-link-color;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.menu-overlay-expand:hover {
    border-bottom: 1px dashed $brand-link-color;
}
.menu-overlay-link:hover {
    border-bottom: 1px solid $brand-link-color;
}

.menu-overlay-expanded-link:focus .menu-overlay-expand {
    border-bottom: 1px dashed $brand-link-color;
}

.menu-overlay-expanded-link:focus .query-clickable-group {
    border-bottom: 1px dashed $brand-link-color;
}

.menu-overlay-expanded-link:focus .menu-overlay-link {
    border-bottom: 1px solid $brand-link-color;
}

.menu-overlay-expanded-link:focus .query-clickable-link {
    border-bottom: 1px solid $brand-link-color;
}
.menu-overlay-expanded-link {
    color: $brand-link-color;
    width: auto;
}

.menu-overlay-header {
    border-bottom: 1px solid transparent;
}

.menu-overlay-header:focus {
    border-bottom: 1px solid $brand-font-color-secondary;
}


.header-breadcrumb>span:first-of-type>.ico-home {
    min-width: 24px;
}

.header-breadcrumb>span:first-child {
    min-width: 26px;
}

.header-item {
    color: $brand-link-color;
    display: inline-block;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    text-align: center;

    .notification-number {
        top: -5px;
        right: 5px;
        left: initial;
    }
}

.header-item.icon-sm {
    font-size: .875rem;
    padding-top: 0;
}

.header-item.icon-sm i {
    vertical-align: text-bottom;
    line-height: 0.9;
}

.header-item-container {
    min-width: 55px;
    height: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    padding-left: .2rem;
    padding-right: .2rem;
}

.header-item-container-static {
    width: 55px;
}

.header-item-container:hover {
    background-color: $brand-bright-color;
    border-bottom: 1px solid $brand-border-color;
}

.header-item-open {
    background-color: $brand-bright-color;
    border: 1px solid $brand-border-color-2;
    pointer-events: none;
    z-index: 2;
    border-bottom: 0 !important;
}

.header-item-open .header-item {
    margin-top: -1px;
}

.header-item-badge.header-item {
    overflow: visible;
}

.logo-wrapper {
    text-align: center;
}

.dashboard-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.menu-overlay-search-item-focused {
    text-underline-position: under;
    span.query-menu-item {
        text-decoration: underline;
    }
    span.query-menu-item:hover {
        text-decoration: none;
    }
}

.menu-overlay-spinner {
  >.spinner {
      background-color: transparent;
  }
  >.screen-freeze {
      top: 0px;
      left: 280px;
      width: 43%;
      height: 40%;
  }
}
