.indicators-wrapper {
  border-radius: 3px;
  margin: 1rem 0;
}

.kpis-wrapper {
  clear: both;
  height: auto;
  margin: -.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.kpis-wrapper .dnd-placeholder {
  margin: .5rem;
  width: calc(100% - 1rem);
}

.indicators-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.indicators-wrapper > * {
  flex: 1;
}

.indicator {
  border: 1px solid $brand-border-color;
  border-right: none;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 130px;
  padding: 20px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  max-width: 380px;
  min-width: 230px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.indicator-draggable {
  cursor: move;
}

.indicator:last-child {
  border-right: 1px solid $brand-border-color;
}

.indicator-data {
  clear: both;
  padding-top: 0;
  margin-top: -0.3rem;
}

.indicator-card {
  max-width: 380px;
}

.indicator-amount {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: left;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.3rem
}

.indicator-unit {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 1.3rem;
}

.indicator-caption {
  float: right;
  font-weight: bold;
  font-size: 0.8rem;
  background: $brand-super-light-color;
  padding: 0.2rem;
}

.indicator-kpi-caption {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: left;
  color: $brand-color-primary;
  width: 70%;
  float: left;
}
.indicator-details-link {
  width: 30%;
  float: right;
  text-align: right;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  color: $brand-color-primary;
}
.indicator-last-updated {
  clear: both;
  text-align: left;
  color: $brand-color-primary;
  float: left;
  width: 90%;
}
.indicator-fuzzy {
  text-decoration: none;
  color: $brand-color-primary;
}
.indicator-fuzzy:hover {
  text-decoration: none;
  color: $brand-color-primary;
}
.indicator-has-errors {
  width: 10%;
  float: right;
  text-align: right;
  padding-top: 2px;
}


@media screen and (max-width: 901px) {
  .indicator {
    border-right: 1px solid $brand-border-color;
    width: calc(100% - 1rem);
    margin: .5rem;
    display: inline-block;
    text-align: center;
    padding: 20px;
    float: left;
  }
  .indicators-wrapper {
    margin: 0;
    display: block;
  }
  .indicator-value {
    display: block;
  }
  .indicator-kpi-caption {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .indicator {
    width: calc(100% - 1rem);
    height: 130px;
  }
}

.indicator-hidden {
  display: none;
}

.indicator iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.indicator:not(:first-of-type) {
  border-left: 1px solid $brand-border-color;
}


