@import './variables.scss';
@import './buttons.scss';
@import './attributes.scss';

/*
*  MAIN PROPERTIES
*/
textarea {
  resize: none;
  background: transparent;
  width: 100%;
  height: 6.8rem;
}

::placeholder {
  font-weight: normal;
  color: $brand-font-color-secondary;
  opacity: 1;
}

input {
  background-color: transparent;
  color: $brand-font-color;
  min-width: 50px;
  text-align: inherit;
  padding-top: 0;
  padding-bottom: 2px;
}

.input-inner-container {
  display: flex;
  flex-direction: row;
}

.form-group-flex {
  display: flex;
  flex-direction: row;
}

.form-group-flex-item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.form-control:disabled {
  cursor: default !important;
}

.form-control-label {
  padding-top: .3rem;
  padding-bottom: .3125rem;
  padding-right: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;

  &.instruction-sent {
    white-space: normal;
  }

  &.zoom-into:hover, .zoom-into:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.form-group {
  position: relative;
  margin-bottom: 0.3rem;
  flex: 1 1 auto;
}

.form-control {
  color: #6E7D87;
  background-color: transparent;
  font-size: 14px;
  padding: .375rem .25rem .1rem;
}

.form-control:disabled, .form-control[readonly] {
  background-color: transparent;
}

.form-control-meta {
  border-radius: 0;
  border-width: 0 0 1px 0;
  border-color: $brand-light-color;
  padding-right: 1.5rem;
  font-style: normal;
}

.form-control-meta:focus {
  border-color: $brand-light-color;
  background-color: transparent;
}

.form-control-meta[type='number']::-webkit-outer-spin-button,
.form-control-meta[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form-flex-align {
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
  position: relative;

  > .row {
    margin-top: 15px;
  }

  input {
    flex: 2 1 auto;
  }

  @media (min-width: $breakpoint-sm) {
    > .row {
      margin-top: 0;
    }
  }

  @media (min-width: $breakpoint-lg) {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @media (min-width: $breakpoint-xl) {
    flex-direction: row;
    align-items: center;
  }
}

.form-group-table {
  margin-bottom: 0;
}

/*
 * FORM FIELDS
 */
.field-warning {
  font-size: 12px;
  position: relative;

  span {
    display: inline-block;
    padding-right: 15px;
  }

  &.field-warning-message,
  &.field-warning-message i {
    color: $brand-warning-color;
  }

  &.field-error-message,
  &.field-error-message i {
    color: $brand-danger-color;
  }

  i {
    display: inline-block;
  }

  .tooltip-wrapp {
    left: 30px;
    width: auto;
    max-width: 90%;
  }

  &.field-warning-message .tooltip-wrapp {
    border-color: $brand-warning-color;
  }

  &.field-error-message .tooltip-wrapp {
    border-color: $brand-danger-color;
  }
}

/*
*  CUSTOM CHECKBOX
*/
.input-checkbox {
  position: relative;
  display: inline-block;
  height: 18px;
  padding-left: 18px;
  cursor: pointer;
  margin-top: .425rem;
  margin-left: .5rem;
  margin-bottom: 0;
}

.input-checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.table .input-checkbox {
  margin-top: 4px;
  height: 15px;
}

.input-checkbox-tick {
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 1px solid $brand-light-color;
  border-radius: 2px;
}

.input-state-false {
  border-color: $brand-success-dark-color;
  border-width: 2px;
}

.input-checkbox input:checked ~ .input-checkbox-tick {
  background: $brand-success-dark-color;
  border-color: $brand-success-dark-color;
}

.input-side {
  position: relative;
  top: -5px;
  margin-left: 5px;
  color: $brand-light-color;
  cursor: pointer;
}

.input-checkbox input:disabled ~ .input-checkbox-tick {
  pointer-events: none;
  background: #76b727a6;
  border: 0;
}

.input-checkbox-tick:after {
  position: absolute;
  display: none;
  content: '';
}

.input-checkbox input:checked ~ .input-checkbox-tick:after {
  display: block;
}

.input-checkbox .input-checkbox-tick:after {
  top: 2px;
  left: 5px;
  width: 6px;
  height: 10px;
  transform: rotate(45deg);
  border: 2px solid #fff;
  border-width: 0 2px 2px 0;
}

.input-checkbox input:disabled ~ .input-checkbox-tick:after {
  border-color: #fff;
}

/*
*  CUSTOM SWITCH
*/
.input-switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
  margin-top: .225rem;
  margin-left: .5rem;
  margin-bottom: 0;

  &:focus .input-slider {
    box-shadow: inset 0 0 5px #000;
  }

  &.input-table {
    height: 15px;
    width: 30px;
    margin-top: 0;
  }

  input {
    display: none;
  }
}

.input-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 24px;
}

.input-slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.input-table .input-slider:before {
  height: 11px;
  width: 11px;
  left: 2px;
}

input:checked + .input-slider {
  background-color: $brand-success-dark-color;
}

input:focus + .input-slider {
  box-shadow: 0 0 1px $brand-success-dark-color;
}

input:checked + .input-slider:before {
  transform: translateX(22px);
}

.input-table input:checked + .input-slider:before {
  transform: translateX(15px);
}


/*
*  INPUT STATES
*/
.input-field {
  border: 0;
  width: 100%;
  outline-width: 0;
  cursor: inherit;
}

.input-auto {
  font-style: italic;
}


.input-primary {
  border: 1px solid $brand-light-color;
  border-radius: 3px;

  input,
  .input-rest {
    color: $brand-font-color;
  }
}

.input-primary,
.input-secondary {
  margin-right: 0;
  margin-left: 0;
  padding: .3rem .50rem;
  display: inline-block;

  &.input-mandatory {
    border: 2px solid $brand-mandatory-color !important;
    padding-right: .37rem;
    border-radius: 3px;
  }
}

.input-secondary {
  border-bottom: 1px solid $brand-light-color;
  color: $brand-font-color-secondary;
  padding: .125rem .5rem;
  padding-top: .3rem;
  margin: 0;

  input {
    color: $brand-font-color-secondary;
  }

  .input-icon-right {
    color: $brand-font-color-weak;
  }

  .input-icon {
    bottom: -3px;
  }
}

.input-secondary + .input-dropdown-list {
  border-top: 0;
}

.input-body-container {
  position: relative;
}

.input-error-popup {
  position: absolute;
  right: 0;
  bottom: 100%;
  margin-bottom: .3rem;

  padding: .2rem .5rem;

  font-size: .7rem;
  color: $brand-danger-color;
  background-color: #fff;
  border: 1px solid $brand-danger-color;
  border-radius: 3px;
}

.input-error {
  border-color: $brand-danger-light-color;

  input {
    color: $brand-font-color-danger;
  }

  &.input-primary,
  &.input-primary * {
    border-color: $brand-danger-color !important;
    background-color: $brand-danger-light-color !important;
  }

  &.input-primary .input-icon,
  &.input-primary .meta-icon-preview {
    background: none !important;
  }

  &.input-secondary,
  &.input-secondary * {
    border-color: $brand-danger-color !important;
  }
}

.input-icon {
  bottom: -3px;
  position: relative;
  color: $brand-font-color-weak;
}

.input-editable {
  flex: 2 1 30%;
}

.input-full {
  flex: 2 1 100%;

  .input-editable {
    flex: 4 1 30%;
  }

  .input-rest {
    flex: 0 0 20%;
  }
}

.input-readonly {
  pointer-events: none;
}

.input-rest {
  text-align: right;
  flex: 1 1 50%;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 5px;
  display: flex;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 50%;
  }
}

.react-numeric-input input {
  padding-bottom: 4px;
  padding-left: 0 !important;
  border-color: white !important;
}

@media (max-width: $breakpoint) {
  .input-dropdown-container .input-dropdown {
    flex-direction: column;
  }
  .input-editable {
    flex: 1 1 50%;
    flex-shrink: 1;
  }
  .input-rest {
    flex-direction: column;
    align-items: baseline;

  }
}

.input-block {
  width: 100%;
}

.input-icon-container {
  position: relative;
  display: inline-block;
  padding-right: 0.5rem;
  border-radius: 0;
}

.input-icon-right {
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 18px;
}

.input-icon-checkbox {
  top: -1px;
  position: relative;
  margin-left: .2rem;
  color: $brand-font-color-weak;
  cursor: pointer;
}

.input-icon-sm {
  font-size: 10px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.input-icon-lg {
  font-size: 16px;
}

.input-icon-m-right {
  margin-right: 1rem;
}

.input-icon-m-top-small {
  margin-top: 0.1rem;
}

.input-icon-clickable {
  cursor: pointer;
}

.input-dropdown-container {
  position: relative;
  cursor: pointer;
  min-width: 200px;
  padding: .125rem .5rem;

  &:focus {
    outline-width: 0;
  }

  &.select-dropdown {
    margin: 0;
    padding-top: .3rem;
    border-bottom: 1px solid transparent;

    &.input-empty {
      border-bottom: 1px solid $brand-light-color;
    }

    &.input-mandatory {
      border: 2px solid $brand-mandatory-color;
      border-radius: 3px;
    }

    &.focused {
      border-bottom-color: $input-focused-border;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.opened {
      border-bottom-color: transparent;
    }

    .input-icon {
      bottom: -1px;

      > .meta-icon-close-alt, .meta-icon-down-1 {
        font-size: 20px;
        padding-right: 1px;
      }
    }
  }

  &.lookup-dropdown {
    input {
      padding-bottom: 0;
      padding-top: 2px;
    }
  }

  &.input-mandatory {
    .input-dropdown-list {
      left: -2px;
    }
  }

  .input-dropdown {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

.input-dropdown-container-static {
  position: static;
}

.input-dropdown-focused .input-toggled {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.input-table .input-dropdown-list {
  margin-top: 8px;
  margin-left: -14px;
}

.input-dropdown-list {
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: $brand-light-color;
  max-height: 357px;
  height: auto;
  overflow-y: auto;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  left: 0;
  top: calc(100% + 1px);
  z-index: 1002;
}

.input-dropdown-list-header {
  background-color: $brand-super-light-color;
  padding: .25rem .50rem;
  font-size: .8rem;
}

.input-dropdown-list-option {
  padding: .25rem .50rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:not(:first-of-type) {
    border-top: 1px solid $brand-light-color;
  }
}

.input-dropdown-list-option-alt {
  font-size: .8rem;
  font-weight: bold;
}

.input-dropdown-list-option-key-on {
  background-color: $brand-color-primary;
  color: #fff;
}

.input-error {
  .lookup-widget-wrapper-bcg:hover {
    background-color: $brand-danger-color !important;
  }

  .lookup-widget-wrapper-bcg:hover .input-dropdown-container .input-dropdown {
    color: $brand-super-light-color;
  }

  .lookup-widget-wrapper-bcg:hover .input-dropdown,
  .lookup-widget-wrapper-bcg:hover .input-dropdown input,
  .lookup-widget-wrapper-bcg:hover .input-dropdown-container {
    background-color: $brand-danger-color !important;
    color: $brand-super-light-color;
  }

  .input-dropdown-list-option:hover,
  .input-dropdown-list-option:hover * {
    color: $brand-font-color;
    background-color: $brand-danger-color !important;
  }

  .input-dropdown-list-option.input-dropdown-list-option-key-on,
  .input-dropdown-list-option.input-dropdown-list-option-key-on * {
    color: $brand-font-color;
    background-color: $brand-danger-color !important;
  }
}

.input-dropdown-focused input {
  background-color: transparent;
}

input[type=checkbox]:disabled, input[type=radio]:disabled {
  cursor: default;
}

.input-table {
  .input-field {
    background: white;
    height: 20px;
    font-weight: normal;
  }

  .input-disabled input,
  .input-mandatory input {
    background: transparent;
  }

  .input-secondary {
    margin: 0;
    border-bottom: 0;
  }

  .input-secondary,
  .input-dropdown {
    padding: 0;
  }

  .input-dropdown {
    border: none;

    .input-field {
      background: transparent;
      color: $brand-font-color;
      font-style: italic;
    }
  }
}

.input-disabled {
  opacity: .5;

  .input-field::-webkit-outer-spin-button,
  .input-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.input-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.device-widget-wrapper {
  float: right;
  margin-top: -28px;
}

.lookup-wrapper {
  display: flex;
  padding: 0;
  padding-right: .5rem;
  justify-content: space-between;
  padding-right: 3px;

  .input-dropdown-container {
    position: static;

    .input-dropdown {
      position: static;
      margin: 0;
      border-bottom: none;
    }
  }

  .meta-icon-down-1 {
    display: none;
  }
}

.raw-lookup-wrapper {
  display: flex;
  flex: 1;
}

.lookup-wrapper-disabled {
  pointer-events: none;
}

.lookup-widget-wrapper {
  display: flex;
  align-items: center;
  padding: 0;
  flex: 1;

  :first-child {
    width: 100%;
  }

  &.input-icon {
    flex: 0.05;
    justify-content: flex-end;
    padding: 0;

    .btn-scanner {
      margin-right: 3px;
      top: -3px;
    }

    .meta-icon-close-alt, .meta-icon-preview {
      cursor: default;
      font-size: 20px;
      width: 25px;
    }
  }

  .input-dropdown-container {
    width: 100%;
    min-width: 0;
    padding: .3rem .5rem;
  }

  > .input-dropdown {
    padding: .3rem .5rem;
  }

  .input-field {
    /*padding-top: 2px;*/
    padding-bottom: 0;
  }
}

.raw-lookup-disabled {
  .input-dropdown-container {
    cursor: not-allowed;
  }

  .input-dropdown {
    cursor: not-allowed;
  }
}

.lookup-widget-wrapper-bcg:hover {
  background-color: $brand-border-color;
}

.lookup-tooltip {
  flex: 0.02;
  justify-content: flex-end;
  pointer-events: initial;
}

/* Others */
.number-field {
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.tagsinput {
}

.react-tagsinput--focused {
  z-index: 100;
}

/* Table inputs */

table {
  .List .input-dropdown-item-title {
    font-weight: normal;
  }

  .input-secondary .input-icon-right {
    color: $brand-icon-color;
  }

  .input-icon {
    color: $brand-icon-color;
  }

  .rdtPicker tbody {
    background-color: white;
  }

  .rdtPicker td,
  .rdtPicker th {
    height: 28px;
  }

  .rdtPicker table td,
  .rdtPicker table th {
    vertical-align: middle;
    padding: 0;
  }
}

.table .rdtPicker thead th {
  background-color: white;
  color: #6b7b86;
}

.table.table-bordered-vertically .rdtPicker td {
  border-right: 0;
}

.table-striped tbody .rdtPicker tr:nth-of-type(odd) {
  background-color: white;
}

/** Used with transition group - CSSTransition component */
.rotate-enter {
  opacity: 0;
  transform: scale(0.9);
}

.rotate-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms, transform 1000ms;
}

.rotate-exit {
  opacity: 1;
}

.rotate-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1000ms, transform 1000ms;
}

/** FADE */
.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 200ms, transform 200ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 200ms, transform 200ms;
}

.input-dropdown-hasmore {
  position: absolute;
  top: calc(100% + 197px);
  left: 0;
  border: 1px solid #C9D5DC;
  background: #f8fafb;
  padding: 6px 0px 4px 8px;
  border-radius: 5px;
  text-align: center;
  z-index: 1001;
  box-sizing: border-box;
}

.lookup-widget-wrapper > div > .input-mandatory {
  border: 2px solid $brand-mandatory-color;
  border-radius: 3px;
}

.btn-borderless:focus {
  outline: none;
  box-shadow: none;
}

.input-qr-scanner-wrapper {
  padding: 20px 30px 20px 28px;
}

input:disabled, textarea:disabled {
  color: black !important;
}
