@import 'variables.css';


.invoiceToAllocateViewHeader {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  overflow-y: auto;

  .amount-indicator {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 0 4px;
    background: $brand-color-primary;
    border-radius: 4px;
    border: 1px solid $brand-color-primary;
    color: #FFF;

    p {
      margin: 0;
    }

    .caption {
      font-weight: bold;
    }

    .value {
      margin-left: 2px;
    }
  }
}
