.barcode-scanner-widget {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 1px $brand-light-color;
}

.scanner-wrapper {
    .drawingBuffer {
        position: absolute;
        top: 0;
        left:0;
    }

    .scan-mode {
        position: absolute;
        z-index: 1000;
        top: 5px;
        left: 5px;
        display: flex;
    }

    .btn-control {
        position: absolute;
        top: 5px;
        z-index: 1000;
    }

    .btn-close {
        right: 5px;
        cursor: pointer;

        @media (min-width: $breakpoint-md){
            font-size: 20px;
        }
    }

    .btn-mode {
        position: initial;
        display: block;
        margin-left: 10px;
        width: 40x;
        height: 40px;
        background: no-repeat scroll 0 center;

        @media (min-width: $breakpoint-md){
            width: 25px;
            height: 25px;
        }

        &.btn-qrCode {
            background-image: url('../images/qrcode-solid.svg');
        }

        &.btn-datamatrix {
            background-image: url('../images/qrcode-solid.svg');
        }

        &.btn-barcode {
            background-image: url('../images/barcode-solid.svg');
        }
    }
}

.scanner-window {
    width: 85vw;
    padding: 20px;

    video {
        max-width: 100%;
        width: 100%;
    }

    @media (min-width: $breakpoint-md){
        float: none;
        padding: 30px;
    }

    @media (min-width: $breakpoint-lg){
        max-width: 1280px;
        float: none;
    }
}

.overlay {
    z-index: 10000;
    position: fixed;
    top: 0;
    display: flex;
    left: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, .5);
    justify-content: center;

    .qr-bg {
        background: white;
        display: flex;
        padding: 20px;
    }
}
