@import 'variables.css';


.ppOrderCandidateViewHeader {
  flex: 1;
  flex-basis: content;
  flex-grow: 0;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-start !important;

  .ppOrderCandidateViewHeader-indicator {
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 0 4px;
    background: $brand-color-primary;
    border-radius: 4px;
    border: 1px solid $brand-color-primary;
    color: #FFF;

    p {
      margin: 0;
    }

    .caption {
      font-weight: bold;
    }

    .value {
      margin-left: 2px;
    }
  }
}
